{% load i18n %}
{% load static %}

{% load unicms_storage_handler %}
{% load unicms_templates %}

{% get_allowed_website request.get_host as host %}

{% settings_value "CMS_PATH_PREFIX" as cms_path_prefix %}
{% storage_settings_value "CMS_STORAGE_BASE_PATH" as base_prefix %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_BASE_PATH" as cds_base_path %}
{% storage_settings_value "ALMALAUREA_LINK" as almalaurea_link %}
{% storage_settings_value "CMS_STORAGE_TEACHER_VIEW_PREFIX_PATH" as teachers_prefix %}
{% storage_settings_value "CMS_STORAGE_ADDRESSBOOK_VIEW_PREFIX_PATH" as addressbook_prefix %}

{% include "includes/unical_storage_loading.html" %}


<div id="_cds_website_right_col_contacts">
    <loading-icon v-if="_cds_data.is_loading"></loading-icon>
    <div class="p-mb-0" v-else>
        <div class="row" v-if="_cds_data.fixed_cds.OtherData && _cds_data.fixed_cds.OtherData.DirectorName && _cds_data.fixed_cds.OtherData.DirectorName.trim().length>0">
            <div class="col-2">
                <svg class="icon icon-muted">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-user"></use>
                </svg>
            </div>
            <div class="col-9 align-left">
                <span>
                    <b>[[ _cds_data.fixed_cds_labels['DirectorName'] ]]</b>
                    <br>
                    <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ teachers_prefix }}/' + _cds_data.fixed_cds.OtherData.DirectorId +'/'" v-if="_cds_data.fixed_cds.OtherData.DirectorId">
                        [[ _cds_data.fixed_cds.OtherData.DirectorName ]]
                    </a>
                    <span v-else>
                        [[ _cds_data.fixed_cds.OtherData.DirectorName ]]
                    </span>
                    <div class="row" v-if="_cds_data.coordinator_data && _cds_data.coordinator_data.hasOwnProperty('Email')">
                        <div class="col-2">
                            <svg class="icon icon-sm icon-muted me-2">
                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-mail"></use>
                            </svg>
                        </div>
                        <div class="col-10">
                            <a :href="'mailto:'+_cds_data.coordinator_data.Email[0]">
                                [[ _cds_data.coordinator_data.Email[0] ]]
                            </a>
                        </div>
                    </div>
                    <div class="row" v-if="_cds_data.coordinator_data && _cds_data.coordinator_data.hasOwnProperty('TelOffice')">
                        <div class="col-2">
                            <svg class="icon icon-sm icon-muted me-2">
                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-telephone"></use>
                            </svg>
                        </div>
                        <div class="col-10">
                            [[ _cds_data.coordinator_data.TelOffice[0] ]]
                        </div>
                    </div>
                </span>
            </div>
            <div class="col-12"><hr></div>
        </div>

        <div v-if="_cds_data.fixed_cds.OtherData && _cds_data.fixed_cds.OtherData.DeputyDirectorName && _cds_data.fixed_cds.OtherData.DeputyDirectorName.trim().length>0" class="row">
            <div class="col-2">
                <svg class="icon icon-muted">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-user"></use>
                </svg>
            </div>
            <div class="col-10 align-left">
                <span>
                    <b>[[ _cds_data.fixed_cds_labels['DeputyDirectorName'] ]]</b>
                    <br>
                    <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ teachers_prefix }}/' + _cds_data.fixed_cds.OtherData.DeputyDirectorId +'/'" v-if="_cds_data.fixed_cds.OtherData.DeputyDirectorId">
                        [[ _cds_data.fixed_cds.OtherData.DeputyDirectorName ]]
                    </a>
                    <span v-else>
                        [[ _cds_data.fixed_cds.OtherData.DeputyDirectorName ]]
                    </span>
                    <div class="row" v-if="_cds_data.deputy_coordinator_data && _cds_data.deputy_coordinator_data.hasOwnProperty('OfficeReference.length')">
                        <div class="col-2">
                            <svg class="icon icon-sm icon-muted me-2">
                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-map-marker"></use>
                            </svg>
                        </div>
                        <div class="col-10">
                            [[ _cds_data.deputy_coordinator_data.OfficeReference[0] ]]
                        </div>
                    </div>
                    <div class="row" v-if="_cds_data.deputy_coordinator_data && _cds_data.deputy_coordinator_data.hasOwnProperty('Email')">
                        <div class="col-2">
                            <svg class="icon icon-sm icon-muted me-2">
                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-mail"></use>
                            </svg>
                        </div>
                        <div class="col-10">
                            <a :href="'mailto:'+_cds_data.deputy_coordinator_data.Email[0]">
                                [[ _cds_data.deputy_coordinator_data.Email[0] ]]
                            </a>
                        </div>
                    </div>
                    <div class="row" v-if="_cds_data.deputy_coordinator_data && _cds_data.deputy_coordinator_data.hasOwnProperty('TelOffice')">
                        <div class="col-2">
                            <svg class="icon icon-sm icon-muted me-2">
                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-telephone"></use>
                            </svg>
                        </div>
                        <div class="col-10">
                            [[ _cds_data.deputy_coordinator_data.TelOffice[0] ]]
                        </div>
                    </div>
                </span>
            </div>
            <div class="col-12"><hr></div>
        </div>

        {% if not home %}
        <div v-if="_cds_data.fixed_cds.OfficesData" v-for="office in _cds_data.fixed_cds.OfficesData" class="row">
            <div class="col-2">
                <svg class="icon icon-muted">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-info-circle"></use>
                </svg>
            </div>
            <div class="col-10 align-left">
                <span>
                    <b>[[ office.OfficeName ]]</b>
                    <div class="mt-2">
                        <div class="row">
                            <div class="col-12">
                                <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ addressbook_prefix }}/' + office.OfficeDirector +'/'" v-if="office.OfficeDirector && office.OfficeDirectorName">
                                    [[ office.OfficeDirectorName ]]
                                </a>
                                <span v-else-if="office.OfficeDirectorName">
                                    [[ office.OfficeDirectorName ]]
                                </span>
                            </div>
                        </div>
                        <div class="row" v-if="office.TelOffice && office.TelOffice.trim().length>0">
                            <div class="col-2">
                                <svg class="icon icon-sm icon-muted me-2">
                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-telephone"></use>
                                </svg>
                            </div>
                            <div class="col-10">
                                [[ office.TelOffice ]]
                            </div>
                        </div>
                        <div class="row" v-if="office.Email && office.Email.trim().length>0">
                            <div class="col-2">
                                <svg class="icon icon-sm icon-muted me-2">
                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-mail"></use>
                                </svg>
                            </div>
                            <div class="col-10">
                                <a :href="'mailto:'+office.Email">
                                    [[ office.Email ]]
                                </a>
                            </div>
                        </div>
                        <div class="row" v-if="(office.Building && office.Building.trim().length>0) || (office.Floor && office.Floor.trim().length>0)">
                            <div class="col-2">
                                <svg class="icon icon-sm icon-muted me-2">
                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-map-marker"></use>
                                </svg>
                            </div>
                            <div class="col-10">
                                <div v-if="office.Building && office.Building.trim().length>0">
                                    [[ _cds_data.fixed_cds_labels['Building'] ]] [[ office.Building ]]
                                </div>
                                <div v-if="office.Floor && office.Floor.trim().length>0">
                                    [[ _cds_data.fixed_cds_labels['Floor'] ]] [[ office.Floor ]]
                                </div>
                            </div>
                        </div>
                        <div class="row" v-if="office.Timetables && office.Timetables.trim().length>0">
                            <div class="col-2">
                                <svg class="icon icon-sm icon-muted me-2">
                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-clock"></use>
                                </svg>
                            </div>
                            <div class="col-10">
                                <span v-html="office.Timetables"></span>
                            </div>
                        </div>
                        <div class="row" v-if="office.OnlineCounter && office.OnlineCounter.trim().length>0">
                            <div class="col-2">
                                <svg class="icon icon-sm icon-muted me-2">
                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-link"></use>
                                </svg>
                            </div>
                            <div class="col-10">
                                <a :href="office.OnlineCounter" target="_blank" rel="noreferrer noopener">
                                    [[ _cds_data.fixed_cds_labels['OnlineCounter'] ]]
                                </a>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
            <div class="col-12"><hr></div>
        </div>
        {% endif %}
    </div>
</div>
<script>
var _cds_website_right_col_contacts = new Vue({
    el: '#_cds_website_right_col_contacts',
    data() {
        return {
            item: {},
            cds: {},
        }
    },
});
</script>
