{% load i18n %}
{% load static %}
{% load unicms_storage_handler %}

{% get_cds_website_cds_cod webpath.pk as cds_cod %}

{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_BASE_PATH" as cds_base_path %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_PROSPECT_VIEW_PREFIX_PATH" as prospect_page_path %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_REDIRECT_VIEW_PREFIX_PATH" as cds_website_prospect_redirect %}


<div id="_cds_website_right_col_static">
    <div class="row mt-4 mt-lg-0">
        <div class="col">
            <a title="{% trans 'Course in short' %}" href="{{ webpath.parent.fullpath }}{{ cds_base_path }}/{{ cds_cod }}/{{ cds_website_prospect_redirect }}/{{ prospect_page_path }}/">
                <img src="{% static 'images/corso_in_sintesi.png' %}" class="w-100"/>
            </a>
        </div>
    </div>
    <div class="mt-4">
        <div class="card no-after" style="border:2px solid #b71918">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title">
                                Social
                        </h4>

                        <ul class="list-inline text-start social">
                            <li class="list-inline-item">
                                <a class="p-2" href="https://it-it.facebook.com/unicalufficiale/" target="_blank" title="Facebook" rel="noopener noreferrer">
                                    <svg class="icon icon-lg align-top">
                                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-facebook-square"></use>
                                    </svg><span class="visually-hidden">Facebook</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="p-2" href="https://twitter.com/UniCalPortale?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" title="X" rel="noopener noreferrer">
                                    <svg class="icon icon-lg align-top">
                                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-twitter"></use>
                                    </svg><span class="visually-hidden">X</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="p-2" href="https://www.linkedin.com/school/universit%C3%A0-della-calabria/" target="_blank" title="Linkedin" rel="noopener noreferrer">
                                    <svg class="icon icon-lg align-top">
                                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-linkedin-square"></use>
                                    </svg><span class="visually-hidden">Linkedin</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="p-2" href="https://www.instagram.com/unical_official/" target="_blank" title="Instagram" rel="noopener noreferrer">
                                    <svg class="icon icon-lg align-top">
                                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-instagram"></use>
                                    </svg><span class="visually-hidden">Instagram</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="p-2" href="http://www.youtube.com/@campusunical" target="_blank" title="YouTube" rel="noopener noreferrer">
                                    <svg class="icon icon-lg align-top">
                                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-youtube"></use>
                                    </svg><span class="visually-hidden">Youtube</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="p-2" href="https://github.com/UniversitaDellaCalabria" target="_blank" title="Github" rel="noopener noreferrer">
                                    <svg class="icon icon-lg align-top">
                                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-github"></use>
                                    </svg><span class="visually-hidden">Github</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
