{% load i18n %}
{% load static %}
{% load unicms_storage_handler %}

{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_BASE_PATH" as cds_base_path %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_PROSPECT_VIEW_PREFIX_PATH" as prospect_page_path %}


<div id="_cds_website_right_col">
    <div class="row mt-4">
        <div class="col">
            <a href="{{ webpath.fullpath }}{{ cds_base_path }}/{{ prospect_page_path }}/">
                <img src="{% static 'images/corso_in_sintesi.png' %}" class="w-100"/>
            </a>
        </div>
    </div>

    <div class="mt-4">
        <div class="card no-after" style="border:2px solid #b71918">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title">
                                Social
                        </h4>

                        <ul class="list-inline text-start social">
                            <li class="list-inline-item">
                                <a class="p-2" href="https://it-it.facebook.com/unicalufficiale/" target="_blank" title="Facebook" rel="noopener noreferrer">
                                    <svg class="icon icon-lg align-top">
                                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-facebook-square"></use>
                                    </svg><span class="visually-hidden">Facebook</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="p-2" href="https://twitter.com/UniCalPortale?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" title="Twitted" rel="noopener noreferrer">
                                    <svg class="icon icon-lg align-top">
                                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-twitter"></use>
                                    </svg><span class="visually-hidden">Twitter</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="p-2" href="https://www.linkedin.com/school/universit%C3%A0-della-calabria/" target="_blank" title="Linkedin" rel="noopener noreferrer">
                                    <svg class="icon icon-lg align-top">
                                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-linkedin-square"></use>
                                    </svg><span class="visually-hidden">Linkedin</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="p-2" href="https://www.instagram.com/unical_official/" target="_blank" title="Instagram" rel="noopener noreferrer">
                                    <svg class="icon icon-lg align-top">
                                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-instagram"></use>
                                    </svg><span class="visually-hidden">Instagram</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="p-2" href="http://www.youtube.com/@campusunical" target="_blank" title="YouTube" rel="noopener noreferrer">
                                    <svg class="icon icon-lg align-top">
                                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-youtube"></use>
                                    </svg><span class="visually-hidden">Youtube</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="p-2" href="https://github.com/UniversitaDellaCalabria" target="_blank" title="Github" rel="noopener noreferrer">
                                    <svg class="icon icon-lg align-top">
                                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-github"></use>
                                    </svg><span class="visually-hidden">Github</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4" v-if="_cds_data.cds.OtherData && _cds_data.cds.OtherData.DirectorName && _cds_data.cds.OtherData.DirectorName.trim().length>0">
        <div class="col-12"><hr></div>
        <div class="col-2">
            <svg class="icon icon-muted">
                <use xlink:href="{% static 'svg/sprites.svg' %}#it-user"></use>
            </svg>
        </div>
        <div class="col-9 align-left">
            <small>
                <b>[[ _cds_data.cds_labels['DirectorName'] ]]</b>
                <br>
                <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ teachers_prefix }}/' + _cds_data.cds.OtherData.DirectorId +'/'" v-if="_cds_data.cds.OtherData.DirectorId">
                    [[ _cds_data.cds.OtherData.DirectorName ]]
                </a>
                <span v-else>
                    [[ _cds_data.cds.OtherData.DirectorName ]]
                </span>
            </small>
        </div>
    </div>

    <div v-if="_cds_data.cds.OtherData && _cds_data.cds.OtherData.DeputyDirectorName && _cds_data.cds.OtherData.DeputyDirectorName.trim().length>0" class="row">
        <div class="col-12"><hr></div>
        <div class="col-2">
            <svg class="icon icon-muted">
                <use xlink:href="{% static 'svg/sprites.svg' %}#it-user"></use>
            </svg>
        </div>
        <div class="col-9 align-left">
            <small>
                <b>[[ _cds_data.cds_labels['DeputyDirectorName'] ]]</b>
                <br>
                <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ teachers_prefix }}/' + _cds_data.cds.OtherData.DeputyDirectorId +'/'" v-if="_cds_data.cds.OtherData.DeputyDirectorId">
                    [[ _cds_data.cds.OtherData.DeputyDirectorName ]]
                </a>
                <span v-else>
                    [[ _cds_data.cds.OtherData.DeputyDirectorName ]]
                </span>
            </small>
        </div>
    </div>

    <div v-if="_cds_data.cds.OfficesData" v-for="office in _cds_data.cds.OfficesData" class="row">
        <div class="col-12"><hr></div>
        <div class="col-2">
            <svg class="icon icon-muted">
                <use xlink:href="{% static 'svg/sprites.svg' %}#it-info-circle"></use>
            </svg>
        </div>
        <div class="col-9 align-left">
            <small>
                <b>[[ office.OfficeName ]]</b>
                <div class="mt-2">
                    <div class="row">
                        <div class="col-12">
                            <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ addressbook_prefix }}/' + office.OfficeDirector +'/'" v-if="office.OfficeDirector && office.OfficeDirectorName">
                                [[ office.OfficeDirectorName ]]
                            </a>
                            <span v-else-if="office.OfficeDirectorName">
                                [[ office.OfficeDirectorName ]]
                            </span>
                        </div>
                    </div>
                    <div class="row" v-if="office.TelOffice && office.TelOffice.trim().length>0">
                        <div class="col-2">
                            <svg class="icon icon-sm icon-muted me-2">
                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-telephone"></use>
                            </svg>
                        </div>
                        <div class="col-10">
                            [[ office.TelOffice ]]
                        </div>
                    </div>
                    <div class="row" v-if="office.Email && office.Email.trim().length>0">
                        <div class="col-2">
                            <svg class="icon icon-sm icon-muted me-2">
                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-mail"></use>
                            </svg>
                        </div>
                        <div class="col-10">
                            <a :href="'email:'+office.Email">
                                [[ office.Email ]]
                            </a>
                        </div>
                    </div>
                    <div class="row" v-if="office.Floor && office.Floor.trim().length>0">
                        <div class="col-2">
                            <svg class="icon icon-sm icon-muted me-2">
                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-map-marker"></use>
                            </svg>
                        </div>
                        <div class="col-10">
                            [[ _cds_data.cds_labels['Floor'] ]] [[ office.Floor ]]
                        </div>
                    </div>
                    <div class="row" v-if="office.Timetables && office.Timetables.trim().length>0">
                        <div class="col-2">
                            <svg class="icon icon-sm icon-muted me-2">
                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-clock"></use>
                            </svg>
                        </div>
                        <div class="col-10">
                            [[ office.Timetables ]]
                        </div>
                    </div>
                    <div class="row" v-if="office.OnlineCounter && office.OnlineCounter.trim().length>0">
                        <div class="col-2">
                            <svg class="icon icon-sm icon-muted me-2">
                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-link"></use>
                            </svg>
                        </div>
                        <div class="col-10">
                            <a :href="office.OnlineCounter" target="_blank" rel="noreferrer noopener">
                                [[ _cds_data.cds_labels['OnlineCounter'] ]]
                            </a>
                        </div>
                    </div>
                </div>
            </small>
        </div>
    </div>

    <div v-if="_cds_data.cds.CdSDoc" class="mt-4">
        <a :href="_cds_data.cds.CdSDoc" target="_blank">
            <div class="row">
                <div class="col-3">
                    <svg class="m-auto icon icon-white icon-xl badge-primary p-2" style="border-radius: 50%">
                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-download"></use>
                    </svg>
                </div>
                <div class="col m-auto align-middle">
                    <ul class="mb-0 ps-0 list-unstyled">
                        <li>
                            <small><b>{% trans "Study course brochure" %}</b></small>
                        </li>
                    </ul>
                </div>
            </div>
        </a>
    </div>

    <div v-if="_cds_data.cds.CdSSatisfactionSurvey" class="mt-4">
        <a target="_blank" :href="'{{ almalaurea_link }}' + _cds_data.cds.CdSSatisfactionSurvey">
        <div class="row">
            <div class="col-3">
                <svg class="m-auto icon icon-white icon-xl badge-primary p-2" style="border-radius: 50%">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-chart-line"></use>
                </svg>
            </div>
            <div class="col m-auto align-middle">
                <ul class="mb-0 ps-0 list-unstyled">
                    <li>
                        <small><b>[[ _cds_data.cds_labels['CdSSatisfactionSurvey'] ]]</b></small>
                    </li>
                </ul>
            </div>
        </div>
        </a>
    </div>
</div>
<script>
var _cds_website_right_col = new Vue({
    el: '[id="_cds_website_right_col"]',
    data() {
        return {
            item: {},
            cds: {},
        }
    },
});
</script>
