{% load i18n %}
{% load static %}


<div class="accordion-header" :id="'heading-cdswebsitestudyplan-' + tab.PlanTabId + '-lft'">
    <button class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            :data-bs-target="'#collapse-cdswebsitestudyplan-' + tab.PlanTabId + '-lft'"
            aria-expanded="false"
            :aria-controls="'collapse-cdswebsitestudyplan-' + tab.PlanTabId + '-lft'">

        [[ tab.PlanTabDes ]] ([[ tab.PlanTabCod ]])
        {% comment %}
        <span v-if="tab.ClaMiurCod">([[ tab.ClaMiurCod ]])&nbsp;</span>
        <span v-if="tab.Statutario">{% trans "Statutory" %}</span>
        <span v-else>{% trans "Alternative" %}</span>
        <span v-if="tab.APT">&nbsp;{% trans "Part-time" %}</span>
        {% endcomment %}
    </button>
</div>
<div :id="'collapse-cdswebsitestudyplan-' + tab.PlanTabId + '-lft'"
     class="accordion-collapse collapse"
     data-bs-parent="#accordionDiv00-lft"
     role="region"
     :aria-labelledby="'heading-cdswebsitestudyplan-' + tab.PlanTabId + '-lft'">
    <div class="accordion-body mt-3">
        <div v-for="index in 10" v-if="tab.Rules.find(e => e.Year === index) || tab.Rules.find(e => e.Year === index)">
            <hr style="color: transparent" v-if="index > 1" />
            <p class="h4">
                [[ index ]] {% trans "Year" %}
            </p>
            <div v-for="rule in tab.Rules">

                <div v-if="rule.Year == index" :class="{ 'alert alert-info': rule.RegSceCodType != 'O' }">
                    <p>
                        <b>[[ rule.SceDes ]]</b>
                    </p>

                    <div class="alert alert-warning" role="alert" v-if="rule.NotePre">
                        <span style="white-space: pre-line">
                            [[ rule.NotePre ]]
                        </span>
                    </div>

                    <div role="alert" :class="{ 'alert alert-warning': rule.RegSceCodType == 'O', 'mb-2': rule.RegSceCodType != 'O' }" style="white-space: pre-line">
                        <p v-if="rule.MinUnt || rule.MaxUnt" class="mb-0">
                            <span v-if="rule.MinUnt == rule.MaxUnt">
                                <b>{% trans "Constraints" %}:</b> Min [[ rule.MaxUnt ]]
                                <span v-if="rule.UmRegSceCodType == 'BLK' || rule.UmRegSceCodType == 'AF'">{% trans "teachings" %}</span>
                                <span v-else>{% trans "ETCS" %}</span>
                            </span>
                            <span v-else>
                                <b>{% trans "Constraints" %}:</b> Min [[ rule.MinUnt ]] / Max [[ rule.MaxUnt ]]
                                <span v-if="rule.UmRegSceCodType == 'BLK' || rule.UmRegSceCodType == 'AF'">{% trans "teachings" %}</span>
                                <span v-else>{% trans "ETCS" %}</span>
                            </span>
                        </p>

                        <hr v-if="(rule.MinUnt || rule.MaxUnt) && rule.Filters">
                        
                        <span v-if="rule.Filters">
                            [[ rule.Filters ]]
                        </span>
                    </div>
                    
                    <div class="table-responsive" v-if="rule.Required.length > 0">
                        <table class="table table-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">{% trans "Cod" %}</th>
                                    <th scope="col">{% trans "Teaching" %}</th>
                                    <th scope="col" class="text-nowrap">{% trans "SSD" %}</th>
                                    <th scope="col">{% trans "Period" %}</th>
                                    <th scope="col">{% trans "ETCS" %}</th>
                                </tr>
                            </thead>
                            <tbody v-for="(activity, index) in rule.Required" :key="'group-' + index">
                                <tr>
                                    <td>
                                        [[ activity.AfCod || "-" ]]
                                    </td>
                                    <td>
                                        <a :href="'{{ activity_prefix }}/' + activity.AfId +'/'" v-if="activity.AfId" style="text-transform: uppercase">
                                            [[ activity.AfDescription ]]
                                        </a>
                                        <span v-else style="text-transform: uppercase">
                                            [[ activity.AfDescription ]]
                                        </span>
                                    </td>
                                    <td>
                                        <span v-if="(!activity.AfSubModules || activity.AfSubModules.length == 0) && activity.SettCod && activity.SettCod.length > 0">
                                            [[ activity.SettCod[0] ]]
                                        </span>
                                        <span v-else>-</span>
                                    </td>
                                    <td>
                                        <span v-if="(!activity.AfSubModules || activity.AfSubModules.length == 0) && activity.CycleDes && activity.CycleDes.length > 0">
                                            [[ activity.CycleDes[0] ]]
                                        </span>
                                        <span v-else>-</span>
                                    </td>
                                    <td>
                                        [[ activity.CreditValue || "-" ]]
                                    </td>
                                </tr>

                                <tr v-for="(module, mIndex) in activity.AfSubModules" :key="'mod-' + index + '-' + mIndex" style="font-size: 0.9rem">
                                    <td style="padding-left: 20px; color: #555;">
                                        <li class="ms-3">
                                            [[ module.StudyActivityCod ]]
                                        </li>
                                    </td>
                                    <td style="padding-left: 20px; color: #555;">
                                        <a :href="'{{ activity_prefix }}/' + module.StudyActivityID +'/'" v-if="module.StudyActivityID" style="text-transform: uppercase">
                                            [[ module.StudyActivityName ]]
                                        </a>
                                        <span v-else style="text-transform: uppercase">
                                            [[ module.StudyActivityName ]] 
                                        </span>
                                        <span v-if="module.studyActivityPartitionCod" style="text-transform: uppercase">
                                             ([[ module.studyActivityPartitionCod ]])
                                        </span>
                                    </td>
                                    <td class="text-nowrap">
                                        <span style="text-transform: uppercase">
                                            [[ module.StudyActivitySettCod || "-" ]]
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            [[ module.StudyActivitySemester || "-" ]]
                                        </span>
                                    </td>
                                    <td>
                                        [[ module.StudyActivityCreditValue || "-" ]]
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive" v-if="rule.AfChoices.length > 0">
                        <table class="table table-sm table-hover table-striped" v-for="block in rule.AfChoices">
                            <thead>
                                <tr>
                                    <th scope="col">{% trans "Teaching" %}</th>
                                    <th scope="col">{% trans "SSD" %}</th>
                                    <th scope="col">{% trans "Period" %}</th>
                                    <th scope="col">{% trans "ETCS" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="activity in block">
                                    <td>
                                        [[ activity.AfCod || "-" ]]&nbsp;
<!--
                                        <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ cds_prefix }}/' + items.RegDidId + '/{{ activity_prefix }}/' + activity.AfId +'/'">
-->
                                        <a :href="'{{ activity_prefix }}/' + activity.AfId +'/'" v-if="activity.AfId" style="text-transform: uppercase">
                                            [[ activity.AfDescription ]]
                                        </a>
                                        <span v-else style="text-transform: uppercase">
                                            [[ activity.AfDescription ]]
                                        </span>
                                        <ul v-if="activity.AfSubModules.length > 0">
                                            <li v-for="module in activity.AfSubModules">
                                                [[ module.StudyActivityCod ]]
                                                <a :href="'{{ activity_prefix }}/' + module.StudyActivityID +'/'" v-if="module.StudyActivityID" style="text-transform: uppercase">
                                                    [[ module.StudyActivityName ]]
                                                </a>
                                                <span v-else style="text-transform: uppercase">
                                                    [[ module.StudyActivityName ]] 
                                                </span>
                                                <span v-if="module.studyActivityPartitionCod" style="text-transform: uppercase">
                                                     ([[ module.studyActivityPartitionCod ]])
                                                </span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <span v-if="activity.AfSubModules.length == 0 && activity.SettCod.length > 0">
                                            [[ activity.SettCod[0] ]]
                                        </span>
                                        <span v-else>-</span>
                                        
                                        <span v-for="module in activity.AfSubModules" style="text-transform: uppercase">
                                            <br>
                                            [[ module.StudyActivitySettCod || "-" ]]
                                        </span>
                                    </td>
                                    <td>
                                        <span v-if="activity.AfSubModules.length == 0 && activity.CycleDes.length > 0">
                                            [[ activity.CycleDes[0] ]]
                                        </span>
                                        <span v-else>-</span>
                                        
                                        <span v-for="module in activity.AfSubModules">
                                            <br>
                                            [[ module.StudyActivitySemester || "-" ]]
                                        </span>
                                    </td>
                                    <td>
                                        [[ activity.CreditValue || "-" ]]
                                        <span v-for="module in activity.AfSubModules">
                                            <br>
                                            [[ module.StudyActivityCreditValue || "-" ]]
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>  
      
                </div>
            </div>

        </div>
    </div>
</div>
