{% load i18n %}
{% load static %}


<div class="accordion-header" :id="'heading-cdswebsitestudyplan-' + tab.PlanTabId + '-lft'">
    <button class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            :data-bs-target="'#collapse-cdswebsitestudyplan-' + tab.PlanTabId + '-lft'"
            aria-expanded="false"
            :aria-controls="'collapse-cdswebsitestudyplan-' + tab.PlanTabId + '-lft'">
        <span v-if="tab.ClaMiurCod">([[ tab.ClaMiurCod ]])&nbsp;</span>
        <span v-if="tab.Statutario">{% trans "Statutory" %}</span>
        <span v-else>{% trans "Alternative" %}</span>
        <span v-if="tab.APT">&nbsp;{% trans "Part-time" %}</span>
    </button>
</div>
<div :id="'collapse-cdswebsitestudyplan-' + tab.PlanTabId + '-lft'"
     class="accordion-collapse collapse"
     data-bs-parent="#accordionDiv00-lft"
     role="region"
     :aria-labelledby="'heading-cdswebsitestudyplan-' + tab.PlanTabId + '-lft'">
    <div class="accordion-body mt-3">
        <div v-for="index in 10" v-if="tab.AfRequired.find(e => e.Year === index) || tab.AfChoices.find(e => e.Year === index)">
            <hr style="color: transparent" v-if="index > 1" />
            <p class="h4">
                [[ index ]] {% trans "Year" %}
            </p>

            <div v-for="required in tab.AfRequired">
                <div v-if="required.Year == index">
                    <b>
                        [[ required.SceDes ]]
                    </b>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">{% trans "Teaching" %}</th>
                                    <th scope="col">{% trans "SSD" %}</th>
                                    <th scope="col">{% trans "Period" %}</th>
                                    <th scope="col">{% trans "ETCS" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="activity in required.Required">
                                    <td>
                                        [[ activity.AfCod || "-" ]]&nbsp;
<!--
                                        <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ cds_prefix }}/' + items.RegDidId + '/{{ activity_prefix }}/' + activity.AfId +'/'">
-->
                                        <a :href="'{{ activity_prefix }}/' + activity.AfId +'/'" v-if="activity.AfId">
                                            [[ activity.AfDescription ]]
                                        </a>
                                        <span v-else>
                                            [[ activity.AfDescription ]]
                                        </span>
                                        <ul v-if="activity.AfSubModules.length > 0">
                                            <li v-for="module in activity.AfSubModules">
                                                [[ module.StudyActivityCod ]]
                                                <a :href="'{{ activity_prefix }}/' + module.StudyActivityID +'/'" v-if="module.StudyActivityID">
                                                    [[ module.StudyActivityName ]]
                                                </a>
                                                <span v-else>
                                                    [[ module.StudyActivityName ]]
                                                </span>
                                                <span v-if="module.StudyActivityPartitionDescription">[[ module.StudyActivityPartitionDescription ]]</span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        [[ activity.SettCod || "-" ]]
                                        <span v-for="module in activity.AfSubModules">
                                            <br>
                                            [[ module.StudyActivitySettCod || "-" ]]
                                        </span>
                                    </td>
                                    <td>
                                        [[ activity.CycleDes ]]
                                        <span v-for="module in activity.AfSubModules">
                                            <br>
                                            [[ module.StudyActivitySemester || "-" ]]
                                        </span>
                                    </td>
                                    <td>
                                        [[ activity.CreditValue || "-" ]]
                                        <span v-for="module in activity.AfSubModules">
                                            <br>
                                            [[ module.StudyActivityCreditValue || "-" ]]
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- choices -->
            <div v-for="choice in tab.AfChoices">
                <!-- vincoli principali -->
                <div v-if="choice.SceCodType == 'V' && choice.VinId == null && tab.AfChoices.some(e => e.VinId === choice.SceId ) && tab.AfChoices.some(e => e.Year === index )">
                    <div class="alert alert-info" role="alert">
                        <b>{% trans "Insegnamenti a scelta" %} - [[ choice.RegSceCodDes ]]</b>
                        <br>
                        <span v-if="choice.MinUnt == choice.MaxUnt">
                            [[ choice.MaxUnt ]]
                        </span>
                        <span v-else>
                            min [[ choice.MinUnt ]] / max [[ choice.MaxUnt ]]
                        </span>

                        <span v-if="choice.MaxUnt == 1">
                            <span v-if="choice.UmRegSceCodType == 'BLK' && choice.OpzFlg">
                                {% trans "teaching optional" %}
                            </span>
                            <span v-if="choice.UmRegSceCodType == 'BLK' &! choice.OpzFlg">
                                {% trans "teaching required" %}
                            </span>
                            <span v-if="!choice.UmRegSceCodType == 'BLK' && choice.OpzFlg">
                                {% trans "ETCS optional" %}
                            </span>
                            <span v-if="!choice.UmRegSceCodType == 'BLK' &! choice.OpzFlg">
                                {% trans "ETCS required" %}
                            </span>
                        </span>
                        <span v-else>
                            <span v-if="choice.UmRegSceCodType == 'BLK' && choice.OpzFlg">
                                {% trans "teachings optional" %}
                            </span>
                            <span v-if="choice.UmRegSceCodType == 'BLK' &! choice.OpzFlg">
                                {% trans "teachings required" %}
                            </span>
                            <span v-if="!choice.UmRegSceCodType == 'BLK' && choice.OpzFlg">
                                {% trans "ETCS optional" %}
                            </span>
                            <span v-if="!choice.UmRegSceCodType == 'BLK' &! choice.OpzFlg">
                                {% trans "ETCS required" %}
                            </span>
                        </span>
                        <span>{% trans "choice between" %}</span>


                        <!-- vincoli innestati -->
                        <div v-for="vin_choice in tab.AfChoices" v-if="vin_choice.Year == index && vin_choice.SceCodType == 'V' && vin_choice.SceId != choice.SceId" role="alert" class="alert alert mt-3 ps-3" style="border-left: 8px solid var(--grey)">
                            <div>
                                <b>{% trans "Insegnamenti a scelta" %} - [[ vin_choice.RegSceCodDes ]]</b>
                                <br>
                                <span v-if="vin_choice.MinUnt == vin_choice.MaxUnt">
                                    [[ vin_choice.MaxUnt ]]
                                </span>
                                <span v-else>
                                    min [[ vin_choice.MinUnt ]] / max [[ vin_choice.MaxUnt ]]
                                </span>

                                <span v-if="vin_choice.MaxUnt == 1">
                                    <span v-if="vin_choice.UmRegSceCodType == 'BLK' && vin_choice.OpzFlg">
                                        {% trans "teaching optional" %}
                                    </span>
                                    <span v-if="vin_choice.UmRegSceCodType == 'BLK' &! vin_choice.OpzFlg">
                                        {% trans "teaching required" %}
                                    </span>
                                    <span v-if="!vin_choice.UmRegSceCodType == 'BLK' && vin_choice.OpzFlg">
                                        {% trans "ETCS optional" %}
                                    </span>
                                    <span v-if="!vin_choice.UmRegSceCodType == 'BLK' &! vin_choice.OpzFlg">
                                        {% trans "ETCS required" %}
                                    </span>
                                </span>
                                <span v-else>
                                    <span v-if="vin_choice.UmRegSceCodType == 'BLK' && vin_choice.OpzFlg">
                                        {% trans "teachings optional" %}
                                    </span>
                                    <span v-if="vin_choice.UmRegSceCodType == 'BLK' &! vin_choice.OpzFlg">
                                        {% trans "teachings required" %}
                                    </span>
                                    <span v-if="!vin_choice.UmRegSceCodType == 'BLK' && vin_choice.OpzFlg">
                                        {% trans "ETCS optional" %}
                                    </span>
                                    <span v-if="!vin_choice.UmRegSceCodType == 'BLK' &! vin_choice.OpzFlg">
                                        {% trans "ETCS required" %}
                                    </span>
                                </span>

                                <span>{% trans "choice between" %}</span>
                            </div>
                            <br>
                            <!-- scelte del vincolo innestato -->
                            <div v-for="vin_sub_choice in tab.AfChoices" v-if="vin_sub_choice.VinId == vin_choice.SceId && vin_sub_choice.Choices.length > 0">
                                <div>
                                    <b>
                                        [[ vin_sub_choice.SceDes ]]
                                    </b>
                                    <div class="table-responsive">
                                        <table class="table table-sm table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">{% trans "Teaching" %}</th>
                                                    <th scope="col">{% trans "Period" %}</th>
                                                    <th scope="col">{% trans "ETCS" %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="activity in vin_sub_choice.Choices">
                                                    <td>
                                                        [[ activity.AfCod || "-" ]]
                                                        <a :href="'{{ activity_prefix }}/' + activity.AfId +'/'" v-if="activity.AfId">
                                                            [[ activity.AfDescription || "-" ]]
                                                        </a>
                                                        <span v-else>
                                                            [[ activity.AfDescription || "-" ]]
                                                        </span>
                                                        <ul v-if="activity.AfSubModules.length > 0">
                                                            <li v-for="module in activity.AfSubModules">
                                                                [[ module.StudyActivityCod || "-" ]]
                                                                <a :href="'{{ activity_prefix }}/' + module.StudyActivityID +'/'" v-if="module.StudyActivityID">
                                                                    [[ module.StudyActivityName || "-" ]]
                                                                </a>
                                                                <span v-else>
                                                                    [[ module.StudyActivityName || "-" ]]
                                                                </span>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        [[ activity.CycleDes || "-" ]]
                                                        <span v-for="module in activity.AfSubModules">
                                                            <br>
                                                            [[ module.StudyActivitySemester || "-" ]]
                                                        </span>
                                                    </td>
                                                    <td>
                                                        [[ activity.CreditValue || "-" ]]
                                                        <span v-for="module in activity.AfSubModules">
                                                            <br>
                                                            [[ module.StudyActivityCreditValue || "-" ]]
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END scelte del vincolo innestato -->
                            <!-- filtri del vincolo innestato -->
                            <div v-for="vin_sub_choice in tab.AfChoices" v-if="vin_sub_choice.VinId == vin_choice.SceId && vin_sub_choice.FilAnd.length > 0">
                                <div>
                                    <br>
                                    <b>
                                        [[ vin_sub_choice.SceDes ]]
                                    </b>
                                    <div v-if="vin_sub_choice.FilAnd.length > 0 ">
                                        <ul class="ps-0 list-unstyled">
                                            <li v-for="filter in vin_sub_choice.FilAnd" v-if="!filter.NotFlg">
                                                <svg class="icon icon-sm icon-success" :aria-labelledby="filter.FilAndId + 'success'">
                                                    <title :id="filter.FilAndId + 'success'">{% trans "Valid option" %}</title>
                                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-check-circle"></use>
                                                </svg>
                                                [[ filter.TipoFiltroDes ]]: [[ filter.FilOrDes ]] ([[ filter.CourseTypeSceFilAndCod ]])
                                            </li>
                                            <li v-for="filter in vin_sub_choice.FilAnd" v-if="filter.NotFlg">
                                                <svg class="icon icon-sm icon-danger" :aria-labelledby="filter.FilAndId + 'danger'">
                                                    <title :id="filter.FilAndId + 'danger'">{% trans "Invalid option" %}</title>
                                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-close-circle"></use>
                                                </svg>
                                                <span v-if="filter.TipoFiltroCod == 'CDS'">
                                                    [[ filter.TipoFiltroDes ]]: [[ filter.CdsSceFilAndNome ]] ([[ filter.CdsSceFilAndCod ]])
                                                </span>
                                                <span v-else>
                                                    [[ filter.TipoFiltroDes ]]: [[ filter.FilOrDes ]] ([[ filter.CourseTypeSceFilAndCod ]])
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div v-if="vin_choice.Choices.length==0 && vin_choice.FilAnd.length==0 && vin_choice.SceCodType != 'V'">
                                <ul class="ps-0 list-unstyled">
                                    <li>
                                        <svg class="icon icon-sm icon-success" aria-labelledby="no-choice-success">
                                            <title id="no-choice-success">{% trans "Valid option" %}</title>
                                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-check-circle"></use>
                                        </svg>
                                         {% trans "Study course type" %}: [[ _cds_data.cds.CourseTypeDescription ]] ([[ _cds_data.cds.CourseType ]])
                                    </li>
                                </ul>
                            </div>
                            <!-- END filtri vincolo innestato -->
                        </div>
                        <!-- END vincoli innestati -->

                        <!-- scelte del vincolo -->
                        <div v-for="sub_choice in tab.AfChoices" v-if="sub_choice.VinId == choice.SceId && sub_choice.Choices.length > 0">
                            <div>
                                <br>
                                <b>
                                    [[ sub_choice.SceDes ]]
                                </b>
                                <div class="table-responsive">
                                    <table class="table table-sm table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">{% trans "Teaching" %}</th>
                                                <th scope="col">{% trans "Period" %}</th>
                                                <th scope="col">{% trans "ETCS" %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="activity in sub_choice.Choices">
                                                <td>
                                                    [[ activity.AfCod || "-" ]]
                                                    <a :href="'{{ activity_prefix }}/' + activity.AfId +'/'" v-if="activity.AfId">
                                                        [[ activity.AfDescription || "-" ]]
                                                    </a>
                                                    <span v-else>
                                                        [[ activity.AfDescription || "-" ]]
                                                    </span>
                                                    <ul v-if="activity.AfSubModules.length > 0">
                                                        <li v-for="module in activity.AfSubModules">
                                                            [[ module.StudyActivityCod || "-" ]]
                                                            <a :href="'{{ activity_prefix }}/' + module.StudyActivityID +'/'" v-if="module.StudyActivityID">
                                                                [[ module.StudyActivityName || "-" ]]
                                                            </a>
                                                            <span v-else>
                                                                [[ module.StudyActivityName || "-" ]]
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    [[ activity.CycleDes || "-" ]]
                                                    <span v-for="module in activity.AfSubModules">
                                                        <br>
                                                        [[ module.StudyActivitySemester || "-" ]]
                                                    </span>
                                                </td>
                                                <td>
                                                    [[ activity.CreditValue || "-" ]]
                                                    <span v-for="module in activity.AfSubModules">
                                                        <br>
                                                        [[ module.StudyActivityCreditValue || "-" ]]
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- END scelte del vincolo -->
                        <!-- filtri del vincolo -->
                        <div v-for="sub_choice in tab.AfChoices" v-if="sub_choice.VinId == choice.SceId && sub_choice.FilAnd.length > 0">
                            <div>
                                <br>
                                <b>
                                    [[ sub_choice.SceDes ]]
                                </b>
                                <div v-if="sub_choice.FilAnd.length > 0 ">
                                    <ul class="ps-0 list-unstyled">
                                        <li v-for="filter in sub_choice.FilAnd" v-if="!filter.NotFlg">
                                            <span>
                                                <svg class="icon icon-sm icon-success" :aria-labelledby="filter.FilAndId + 'success'">
                                                    <title :id="filter.FilAndId + 'success'">{% trans "Valid option" %}</title>
                                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-check-circle"></use>
                                                </svg>
                                            </span>
                                            [[ filter.TipoFiltroDes ]]: [[ filter.FilOrDes ]] ([[ filter.CourseTypeSceFilAndCod ]])
                                        </li>
                                        <li v-for="filter in sub_choice.FilAnd" v-if="filter.NotFlg">
                                            <span>
                                                <svg class="icon icon-sm icon-danger" :aria-labelledby="filter.FilAndId + 'danger'">
                                                    <title :id="filter.FilAndId + 'danger'">{% trans "Invalid option" %}</title>
                                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-close-circle"></use>
                                                </svg>
                                            </span>
                                            <span v-if="filter.TipoFiltroCod == 'CDS'">
                                                [[ filter.TipoFiltroDes ]]: [[ filter.CdsSceFilAndNome ]] ([[ filter.CdsSceFilAndCod ]])
                                            </span>
                                            <span v-else>
                                                [[ filter.TipoFiltroDes ]]: [[ filter.FilOrDes ]] ([[ filter.CourseTypeSceFilAndCod ]])
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div v-if="choice.Choices.length==0 && choice.FilAnd.length==0 && choice.SceCodType != 'V'">
                            <ul class="ps-0 list-unstyled">
                                <li>
                                    <svg class="icon icon-sm icon-success" aria-labelledby="no-choice-success">
                                        <title id="no-choice-success">{% trans "Valid option" %}</title>
                                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-check-circle"></use>
                                    </svg>
                                    {% trans "Study course type" %}: [[ _cds_data.cds.CourseTypeDescription ]] ([[ _cds_data.cds.CourseType ]])
                                </li>
                            </ul>
                        </div>
                        <!-- END filtri del vincolo -->
                    </div>
                </div>
                <!-- END vincolo -->

                <!-- scelte non vincolate -->
                <div v-if="choice.Year == index && choice.SceCodType != 'V' &! choice.VinId">
                    <div class="alert alert-info" role="alert">
                        <b>{% trans "Courses to chose" %} - [[ choice.RegSceCodDes ]]</b>
                        <br>
                        <span v-if="choice.MinUnt == choice.MaxUnt">
                            [[ choice.MaxUnt ]]
                        </span>
                        <span v-else>
                            min [[ choice.MinUnt ]] / max [[ choice.MaxUnt ]]
                        </span>

                        <span v-if="choice.MaxUnt == 1">
                            <span v-if="choice.UmRegSceCodType == 'BLK' && choice.OpzFlg">
                                {% trans "teaching optional" %}
                            </span>
                            <span v-if="choice.UmRegSceCodType == 'BLK' &! choice.OpzFlg">
                                {% trans "teaching required" %}
                            </span>
                            <span v-if="!choice.UmRegSceCodType == 'BLK' && choice.OpzFlg">
                                {% trans "ETCS optional" %}
                            </span>
                            <span v-if="!choice.UmRegSceCodType == 'BLK' &! choice.OpzFlg">
                                {% trans "ETCS required" %}
                            </span>
                        </span>
                        <span v-else>
                            <span v-if="choice.UmRegSceCodType == 'BLK' && choice.OpzFlg">
                                {% trans "teachings optional" %}
                            </span>
                            <span v-if="choice.UmRegSceCodType == 'BLK' &! choice.OpzFlg">
                                {% trans "teachings required" %}
                            </span>
                            <span v-if="!choice.UmRegSceCodType == 'BLK' && choice.OpzFlg">
                                {% trans "ETCS optional" %}
                            </span>
                            <span v-if="!choice.UmRegSceCodType == 'BLK' &! choice.OpzFlg">
                                {% trans "ETCS required" %}
                            </span>
                        </span>

                        <span>{% trans "choice between" %}</span>

                        <div class="table-responsive" v-if="choice.Choices.length > 0 ">
                            <span>
                                <table class="table table-sm table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">{% trans "Teaching" %}</th>
                                            <th scope="col">{% trans "Period" %}</th>
                                            <th scope="col">{% trans "ETCS" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="activity in choice.Choices">
                                            <td>
                                                [[ activity.AfCod || "-" ]]
                                                <a :href="'{{ activity_prefix }}/' + activity.AfId +'/'" v-if="activity.AfId">
                                                    [[ activity.AfDescription || "-" ]]
                                                </a>
                                                <span v-else>
                                                    [[ activity.AfDescription || "-" ]]
                                                </span>
                                                <ul v-if="activity.AfSubModules.length > 0">
                                                    <li v-for="module in activity.AfSubModules">
                                                        [[ module.StudyActivityCod || "-" ]]
                                                        <a :href="'{{ activity_prefix }}/' + module.StudyActivityID +'/'" v-if="module.StudyActivityID">
                                                            [[ module.StudyActivityName || "-" ]]
                                                        </a>
                                                        <span v-else>
                                                            [[ module.StudyActivityName || "-" ]]
                                                        </span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                [[ activity.CycleDes || "-" ]]
                                                <span v-for="module in activity.AfSubModules">
                                                    <br>
                                                    [[ module.StudyActivitySemester || "-" ]]
                                                </span>
                                            </td>
                                            <td>
                                                [[ activity.CreditValue || "-" ]]
                                                <span v-for="module in activity.AfSubModules">
                                                    <br>
                                                    [[ module.StudyActivityCreditValue || "-" ]]
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </span>
                        </div>

                        <div v-if="choice.FilAnd.length > 0 ">
                            <ul class="ps-0 list-unstyled">
                                <li v-for="filter in choice.FilAnd" v-if="!filter.NotFlg">
                                    <svg class="icon icon-sm icon-success">
                                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-check-circle"></use>
                                    </svg>
                                    [[ filter.TipoFiltroDes ]]: [[ filter.FilOrDes ]] ([[ filter.CourseTypeSceFilAndCod ]])
                                </li>
                                <li v-for="filter in choice.FilAnd" v-if="filter.NotFlg">
                                    <svg class="icon icon-sm icon-danger">
                                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-close-circle"></use>
                                    </svg>
                                    <span v-if="filter.TipoFiltroCod == 'CDS'">
                                        [[ filter.TipoFiltroDes ]]: [[ filter.CdsSceFilAndNome ]] ([[ filter.CdsSceFilAndCod ]])
                                    </span>
                                    <span v-else>
                                        [[ filter.TipoFiltroDes ]]: [[ filter.FilOrDes ]] ([[ filter.CourseTypeSceFilAndCod ]])
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div v-if="choice.Choices.length==0 && choice.FilAnd.length==0 && choice.SceCodType != 'V'">
                            <ul class="ps-0 list-unstyled">
                                <li>
                                    <svg class="icon icon-sm icon-success" aria-labelledby="no-choice-success">
                                        <title id="no-choice-success">{% trans "Valid option" %}</title>
                                        <use xlink:href="{% static 'svg/sprites.svg' %}#it-check-circle"></use>
                                    </svg>
                                    {% trans "Study course type" %}: [[ _cds_data.cds.CourseTypeDescription ]] ([[ _cds_data.cds.CourseType ]])
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- END scelte non vincolate -->
            </div>
        </div>
    </div>
</div>
