{% extends this_string_will_be_replaced %}

{% load i18n %}
{% load static %}

<!-- load custom template tags -->
{% load unicms_contexts %}
{% load unicms_storage_handler %}

<!-- SEO  -->
{% block page_title %}{% trans "High Formation Master" %}{% endblock page_title %}

{% block container %}
{% breadcrumbs webpath=webpath leaf=handler %}

{% storage_settings_value 'HIGH_FORMATION_MASTERS_LINK' as high_formation_masters_link %}
{% storage_settings_value 'HIGH_FORMATION_COURSES_LINK' as high_formation_courses_link %}

<div class="container">
    <div class="col-12 py-5 bd-content">
        {% block centered_container %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                {% include "blocks/unical_storage_high_formation_master_info.html" with url=url uid="id_1" change_breadcrumb=1 %}
                            </div>
                            <div class="col-12 col-lg-3 offset-md-1 mt-5 mt-md-0 d-none d-lg-block">
                                {% include "includes/unical_storage_history_back.html" %}
                                <hr class="my-3"/>
                                <div class="background-light-grey px-2 py-3 mb-2 w-100">
                                    <div class="row">
                                        <div class="col-2" style="font-size: x-large">
                                            <span class="ps-1" style="font-weight: 400" title="{% trans 'Digital services' %}">
                                                @
                                            </span>
                                        </div>
                                        <div class="col m-auto align-middle">
                                            <ul class="mb-0 ps-0 list-unstyled">
                                                <li>
                                                    <a class="no-color" href="{{ high_formation_masters_link }}">
                                                        <small><b>- {% trans "Master's degrees announcements" %}</b></small>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="no-color" href="{{ high_formation_courses_link }}">
                                                        <small><b>- {% trans 'Advanced training courses announcements' %}</b></small>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</div>

{% endblock container %}
