{% extends "pages/unical_cds_website.html" %}

{% load static %}
{% load i18n %}

{% load unicms_contexts %}
{% load unicms_storage_handler %}
{% load unicms_templates %}

{% include "includes/unical_storage_loading.html" %}


<!-- SEO  -->
{% block page_title %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_CORSO_LABEL" as page_title %}
{{ page_title }} - {{ block.super }}
{% endblock page_title %}


{% block container %}


{% get_cds_website_webpath webpath.pk as cds_identifier %}
{% get_current_language as LANGUAGE_CODE %}
{% breadcrumbs webpath=webpath leaf=handler %}

{% get_allowed_website request.get_host as host %}
{% settings_value "CMS_PATH_PREFIX" as cms_path_prefix %}
{% storage_settings_value "CMS_STORAGE_BASE_PATH" as base_prefix %}
{% storage_settings_value "CMS_STORAGE_CDS_VIEW_PREFIX_PATH" as cds_prefix %}
{% storage_settings_value "CMS_STORAGE_ACTIVITY_VIEW_PREFIX_PATH" as activity_prefix %}
{% storage_settings_value "CMS_STORAGE_BASE_API" as base_api %}
{% storage_settings_value "CMS_STORAGE_CDS_API" as cds_api %}
{% storage_settings_value "CDS_INFO_FIELDS" as fields_to_show %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_TOPICS_API" as topics_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_PAGE_TOPICS" as page_topics %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_TOPIC_ARTICLES_API" as page_topic_articles %}
{% storage_api_root "CMS_STORAGE_ACADEMICYEARS_API" as academicyears_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_CORSO_LABEL" as page_title %}
{% storage_settings_value "MAIN_DOMAIN" as unicms_root_url %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_API" as cds_websites_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDYPLANS_API" as cds_websites_studyplans_api %}
{% storage_settings_value "EXCLUDE_STUDY_ACTIVITIES_CODES" as exclude_studyactivity_codes %}
{% storage_settings_value "CDS_EXCLUDE_YEAR" as cds_exclude_year %}

{% include "includes/unical_storage_loading.html" %}



<div class="col-12 py-5 bd-content">
    <div>
        {% block centered_container %}
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <p class="h1 lighter">{{ page_title }}</p>
                    <div class="row  mt-5" id="_{{ cds_cod }}">
                        <hr />

                        <loading-icon
                            v-if="_cds_data.is_loading"
                            :loader_source="loader_source">
                        </loading-icon>

                        <div v-else>

                            <p class="h3 lighter">
                                [[ _cds_data.cds.CourseTypeDescription ]]
                            </p>
                            <p class="h3">
                                [[ _cds_data.cds.CdSName ]]
                            </p>
                            <p class="h5 lighter">
                                [[ _cds_data.cds.CourseClassCod ]] / [[ _cds_data.cds.CourseClassName ]]
                            </p>


                            <p class="h5 lighter mt-4">
                                {% trans "Referral Department" %}
                            </p>
                            <p class="h5">
                                <b>[[ _cds_data.cds.DepartmentName ]]</b>
                            </p>

                            <p class="h5 lighter mt-4">
                                {% trans "Language" %}
                            </p>
                            <p class="h5">
                                <b v-for="(lang, index) in _cds_data.cds.CdSLanguage">
                                    <span v-if="index > 0">, </span>
                                    [[ lang ]]
                                </b>
                            </p>

                            {% comment %}
                            <hr class="my-5"/>
                            <div>
                                <vue-markdown :emoji=false :source='_cds_data.cds.CdSIntro'></vue-markdown>
                            </div>
                            {% endcomment %}

                            <div class="col-sm form-group my-5">
                                <div>

                                    <div class="w-30 mt-3">
                                        <select id="academic_year_input"
                                                title="{% trans 'Choose an option' %}"
                                                name="academic_year_input"
                                                class="form-control"
                                                 @change="changeYear($event.target.value)">
                                          <option v-for="item in academic_years_filter"
                                                  :value="item.AcademicYear"
                                                  v-if="item.AcademicYear != '{{ cds_exclude_year }}'"
                                                  :selected="item.AcademicYear == _cds_data.cds.AcademicYear">
                                              [[ item.AcademicYear ]]/[[ item.AcademicYear + 1 ]]
                                          </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-5">
                                <div id="accordionDiv1-lft" class="accordion accordion-left-icon">
                                    <div v-for="name in fields_to_show" v-if="_cds_data.cds[name] && (_cds_data.cds[name].length > 0 || Object.keys(_cds_data.cds[name]).length > 0) && name != 'CdSSatisfactionSurvey'">
                                        <div class="accordion-item">
                                            <div class="accordion-header" :id="'heading-' + name +'-lft'">
                                                <button class="accordion-button"
                                                        type="button"
                                                        data-bs-toggle="collapse"
                                                        :data-bs-target="'#collapse-' + name +'-lft'"
                                                        aria-expanded="false"
                                                        :aria-controls="'collapse-' + name +'-lft'">
                                                    [[ _cds_data.cds_labels[name] ]]
                                                </button>
                                            </div>
                                            <div :id="'collapse-' + name +'-lft'"
                                                 class="accordion-collapse collapse"
                                                 data-bs-parent="#accordionDiv1-lft"
                                                 role="region"
                                                 :aria-labelledby="'heading-' + name +'-lft'">
                                                <div class="accordion-body">
                                                    <span v-if="Array.isArray(_cds_data.cds[name])">
                                                        <ul>
                                                            <li v-for="subvalue in _cds_data.cds[name]">
                                                                <span v-if="_cds_data.containsHTML(subvalue)" v-html="subvalue"></span>
                                                                <span v-else>[[ subvalue ]]</span>
                                                            </li>
                                                        </ul>
                                                    </span>
                                                    <span v-else-if="typeof _cds_data.cds[name] === 'object'">
                                                        <ul v-for="(valueProfile, nameProfile) in _cds_data.cds[name]">
                                                            <li>
                                                                [[ nameProfile ]]
                                                                <ul v-for="(valueProfileInstance, nameProfileInstance) in valueProfile">
                                                                    <li>
                                                                        <span v-if="nameProfileInstance in _cds_data.cds_labels"
                                                                              style="white-space: pre-line;">
                                                                            [[ _cds_data.cds_labels[nameProfileInstance] ]]
                                                                        </span>
                                                                        <span v-else>
                                                                            [[ nameProfileInstance ]]
                                                                        </span> :
                                                                        <span v-if="_cds_data.containsHTML(valueProfileInstance)" v-html="valueProfileInstance"></span>
                                                                        <span v-else style="white-space: pre-line;">[[ valueProfileInstance ]]</span>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </span>
                                                    <span v-else>
                                                        <span style="white-space: pre-line;">
                                                            {% if full_page %}
                                                            <a v-if="name != 'CdSSatisfactionSurvey' && name == 'CdSDoc'" v-bind:href="_cds_data.cds[name]">
                                                                [[ _cds_data.cds[name] ]]
                                                            </a>
                                                            <span v-else-if="name != 'CdSSatisfactionSurvey'">
                                                                <span v-if="_cds_data.containsHTML(_cds_data.cds[name])" v-html="_cds_data.cds[name]"></span>
                                                                <span v-else>[[ _cds_data.cds[name] ]]</span>
                                                            </span>
                                                            {% else %}
                                                            <a v-if="name == 'CdSSatisfactionSurvey'" v-bind:href="'{{ almalaurea_link }}' + _cds_data.cds[name]">
                                                                {{ almalaurea_link }}[[ _cds_data.cds[name] ]]
                                                            </a>
                                                            <a v-else-if="name == 'CdSDoc'" v-bind:href="_cds_data.cds[name]">
                                                                [[ _cds_data.cds[name] ]]
                                                            </a>
                                                            <span v-else>
                                                                <span v-if="_cds_data.containsHTML(_cds_data.cds[name])" v-html="_cds_data.cds[name]"></span>
                                                                <span v-else>[[ _cds_data.cds[name] ]]</span>
                                                            </span>
                                                            {% endif %}
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-else>
                                {% include "includes/unical_storage_empty.html" with url=url_regdid %}
                            </div>
                        </div>
                    </div>

                    <div class="mt-5">
                        {% include "blocks/unical_storage_cdsstudyplans_v3.html" with uid="course_studyplans" full_page=full_page %}
                    </div>


                    <!-- study plans new -->
                    <div id="_{{ cds_cod }}_studyplans" class="mt-5">
                        <loading-icon
                            v-if="is_loading"
                            :loader_source="loader_source">
                        </loading-icon>
                        <div v-else>
                            <h5 class="mb-3">{% trans "Study plan" %} - [[ items.RegPlanDes ]]</h5>
                            <div id="accordionDiv00-lft" class="accordion accordion-left-icon">
                                <div class="accordion-item" v-for="tab in items.PlanTabs">
                                    <div class="accordion-header" :id="'heading-cdswebsitestudyplan-' + tab.PlanTabId + '-lft'">
                                        <button class="accordion-button"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                :data-bs-target="'#collapse-cdswebsitestudyplan-' + tab.PlanTabId + '-lft'"
                                                aria-expanded="false"
                                                :aria-controls="'collapse-cdswebsitestudyplan-' + tab.PlanTabId + '-lft'">
                                            [[ tab.PlanTabDes ]] ([[ tab.PlanTabCod ]])
                                        </button>
                                    </div>
                                    <div :id="'collapse-cdswebsitestudyplan-' + tab.PlanTabId + '-lft'"
                                         class="accordion-collapse collapse"
                                         data-bs-parent="#accordionDiv00-lft"
                                         role="region"
                                         :aria-labelledby="'heading-cdswebsitestudyplan-' + tab.PlanTabId + '-lft'">
                                        <div class="accordion-body mt-3">
                                            <div v-for="(duration_year, index) in items.CdSDuration">
                                                <hr style="color: transparent" v-if="index > 0" />
                                                <p class="h4">
                                                    [[ duration_year ]] {% trans "Year" %}
                                                </p>

                                                <div v-for="required in tab.AfRequired">
                                                    <div v-if="required.Year == duration_year">
                                                        <b>
                                                            [[ required.SceDes ]]
                                                        </b>
                                                        <div class="table-responsive">
                                                            <small>
                                                                <table class="table table-sm table-hover table-striped">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">{% trans "Teaching" %}</th>
                                                                            <th scope="col">{% trans "SSD" %}</th>
                                                                            <th scope="col">{% trans "Period" %}</th>
                                                                            <th scope="col">{% trans "ETCS" %}</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr v-for="activity in required.Required">
                                                                            <td>
                                                                                [[ activity.AfCod || "-" ]]
                                                                                <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ cds_prefix }}/' + items.RegDidId + '/{{ activity_prefix }}/' + activity.AfId +'/'">
                                                                                    [[ activity.AfDescription ]]
                                                                                </a>
                                                                                <ul v-if="activity.AfSubModules.length > 0">
                                                                                    <li v-for="module in activity.AfSubModules">
                                                                                        [[ module.StudyActivityCod || "-" ]]
                                                                                        <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ cds_prefix }}/' + items.RegDidId + '/{{ activity_prefix }}/' + module.StudyActivityID +'/'">
                                                                                            [[ module.StudyActivityName ]]
                                                                                        </a>
                                                                                    </li>
                                                                                </ul>
                                                                            </td>
                                                                            <td>
                                                                                [[ activity.SettCod || "-" ]]
                                                                                <span v-for="module in activity.AfSubModules">
                                                                                    <br>
                                                                                    -
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                [[ activity.CycleDes ]]
                                                                                <span v-for="module in activity.AfSubModules">
                                                                                    <br>
                                                                                    [[ module.StudyActivitySemester || "-" ]]
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                [[ activity.CreditValue || "-" ]]
                                                                                <span v-for="module in activity.AfSubModules">
                                                                                    <br>
                                                                                    [[ module.StudyActivityCreditValue || "-" ]]
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div v-for="choice in tab.AfChoices">
                                                    <div v-if="choice.Year == duration_year && choice.SceCodType != 'V'">
                                                        <br>
                                                        <b>
                                                            [[ choice.SceDes ]]
                                                        </b>
                                                        <br>
                                                        <span v-if="choice.OpzFlg">{% trans "Optional" %}</span>
                                                        <span v-else>{% trans "Required" %}</span>
                                                        <br>
                                                        <span>[[ choice.RegSceCodDes ]]</span>
                                                        <br>
                                                        <div v-if="choice.VinId">
                                                            <div v-for="vin in tab.AfChoices" v-if="vin.SceId == choice.VinId && vin.SceCodType == 'V'">
                                                                <span>[[ vin.RegSceCodDes ]]: min [[ vin.MinUnt ]] / max [[ vin.MaxUnt ]]</span>
                                                            </div>
                                                        </div>


                                                        <div class="table-responsive" v-if="choice.Choices.length > 0 ">
                                                            <small>
                                                                <table class="table table-sm table-hover table-striped">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">{% trans "Teaching" %}</th>
                                                                            <th scope="col">{% trans "Period" %}</th>
                                                                            <th scope="col">{% trans "ETCS" %}</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr v-for="activity in choice.Choices">
                                                                            <td>
                                                                                [[ activity.AfCod || "-" ]]
                                                                                <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ cds_prefix }}/' + items.RegDidId + '/{{ activity_prefix }}/' + activity.AfId +'/'">
                                                                                    [[ activity.AfDescription ]]
                                                                                </a>
                                                                                <span v-for="module in activity.AfSubModules">
                                                                                    <br>
                                                                                    [[ module.StudyActivityCod || "-" ]]
                                                                                    <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ cds_prefix }}/' + items.RegDidId + '/{{ activity_prefix }}/' + module.StudyActivityID +'/'">
                                                                                        [[ module.StudyActivityName ]]
                                                                                    </a>
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                [[ activity.CycleDes ]]
                                                                                <span v-for="module in activity.AfSubModules">
                                                                                    <br>
                                                                                    [[ module.StudyActivitySemester ]]
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                [[ activity.CreditValue ]]
                                                                                <span v-for="module in activity.AfSubModules">
                                                                                    <br>
                                                                                    [[ module.StudyActivityCreditValue ]]
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </small>
                                                        </div>

                                                        <div v-if="choice.FilAnd.length > 0 ">
                                                            {% trans "Teachings must be chosen respecting these rules" %}
                                                            <ul class="ps-0 list-unstyled">
                                                                <li v-for="filter in choice.FilAnd" v-if="!filter.NotFlg">
                                                                    <span>
                                                                        <svg class="icon icon-sm icon-success">
                                                                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-check-circle"></use>
                                                                        </svg>
                                                                    </span>
                                                                    [[ filter.TipoFiltroDes ]]: [[ filter.FilOrDes ]]
                                                                </li>

                                                                <li v-for="filter in choice.FilAnd" v-if="filter.NotFlg">
                                                                    <span>
                                                                        <svg class="icon icon-sm icon-danger">
                                                                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-close-circle"></use>
                                                                        </svg>
                                                                    </span>
                                                                    <span v-if="filter.TipoFiltroCod == 'CDS'">
                                                                        [[ filter.TipoFiltroDes ]]: [[ filter.CdsSceFilAndNome ]] ([[ filter.CdsSceFilAndCod ]])
                                                                    </span>
                                                                    <span v-else>
                                                                        [[ filter.TipoFiltroDes ]]: [[ filter.FilOrDes ]]
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="col-12 col-lg-3 offset-lg-1">
                    {% include "includes/unical_storage_cds_websites_right_static.html" %}
                    <hr style="color: transparent" class="my-3" />
                    {% include "includes/unical_storage_cds_websites_right_contacts.html" %}
                    <hr class="my-3" />
                    {% include "includes/unical_storage_cds_websites_right_links.html" with hide_ordinamento=1 %}

                    <div id="_cds_website_right_col_dynamic" class="mt-4">
                        <div v-if="_cds_data.cds.StudyManifesto || _cds_data.cds.DidacticRegulation || _cds_data.cds.TeachingSystem">
                            <div class="background-light-grey px-2 py-3 mb-2 w-100">
                                <div class="row">
                                    <div class="col-2">
                                        <b>
                                            <svg class="icon" aria-labelledby="info_menu">
                                                <title id="doc_menu">{% trans "Documents" %}</title>
                                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-files"></use>
                                            </svg>
                                        </b>
                                    </div>
                                    <div class="col m-auto align-middle">
                                        <ul class="mb-0 ps-0 list-unstyled">
                                            <li v-if="_cds_data.cds.StudyManifesto">
                                                <a class="no-color" target="_blank" :href="_cds_data.cds.StudyManifesto">
                                                    <small><b>[[ _cds_data.cds_labels['StudyManifesto'] ]]</b></small>
                                                </a>
                                            </li>
                                            <li v-if="_cds_data.cds.DidacticRegulation">
                                                <a class="no-color" target="_blank" :href="_cds_data.cds.DidacticRegulation">
                                                    <small><b>[[ _cds_data.cds_labels['DidacticRegulation'] ]]</b></small>
                                                </a>
                                            </li>
                                            <li v-if="_cds_data.cds.TeachingSystem">
                                                <a class="no-color" target="_blank" :href="_cds_data.cds.TeachingSystem">
                                                    <small><b>[[ _cds_data.cds_labels['TeachingSystem'] ]]</b></small>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</div>

<script>
var _{{ cds_cod }} = new Vue({
    el: '#_{{ cds_cod }}',
    data() {
        return {
            url: '{{ url }}?lang={{ LANGUAGE_CODE }}',
            //is_loading: true,
            loader_source: '{{ url }}',
            fields_to_show: {{ fields_to_show|safe }},
            loader_source_academicyears: '{{ academicyears_api }}?lang={{ LANGUAGE_CODE }}',
            academic_years_filter: [],
            is_loading_academicyears: true,
            regdidid: null,
            studyplans: {},
            degree_class: null,
            interclass_degree_class: null,
            academic_year: null,
            cds_cod: null,
            exclude_studyactivity_codes: {{ exclude_studyactivity_codes|safe }},
        }
    },
    mounted() {
        this.callAcademicYears()
    },
    methods: {
        callAcademicYears() {
            axios
                .get(this.loader_source_academicyears)
                .then(response => {
                    this.academic_years_filter = response.data.results
                    this.is_loading_academicyears = false
                })
        },
        callCdsByYear(year) {
            let cds_year_url = '{{ base_api }}{{ cds_api }}?lang={{ LANGUAGE_CODE }}&academicyear=' + year + '&cdscod={{ cds_identifier }}'
            axios
                .get(cds_year_url)
                .then(response => {
                    _cds_data.CallURL(response.data.results[0]['RegDidId'])
                }
            )
        },
        changeYear(value) {
            let url = '{{ base_api }}{{ cds_websites_api }}{{ cds_identifier }}/?lang={{ LANGUAGE_CODE }}&academicyear=' + value
            axios
                .get(url)
                .then(response => {
                    this.callCdsByYear(value)
                }
            )
        },
    },
    watch: {
        regdidid: function(val) {
            course_studyplans.regdidid = this.regdidid
        }
    }
})

var _cds_website_right_col_dynamic = new Vue({
    el: '#_cds_website_right_col_dynamic',
    data() {
        return {
            item: {},
            cds: {},
        }
    },
});

var _{{ cds_cod }}_studyplans = new Vue({
    el: '#_{{ cds_cod }}_studyplans',
    data() {
        return {
            url: '',
            is_loading: true,
            loader_source: '',
            items: {},
        }
    },
    mounted() {
        this.callStudyPlans()
    },
    methods: {
        callStudyPlans() {
            axios
                .get('{{ base_api }}{{ cds_websites_studyplans_api }}?lang={{ LANGUAGE_CODE }}&cds_cod={{ cds_cod }}&year=2023')
                .then(response => {
                    this.items = response.data.results[0]
                    this.is_loading = false
                })
        },
    },
})
</script>
{% endblock container %}

{% block cds_website_callURL %}
{% storage_settings_value "CURRENT_YEAR" as current_year %}
this.CallURL(null, "{{ current_year }}");
{% endblock cds_website_callURL %}
