{% extends this_string_will_be_replaced %}

{% load static %}
{% load i18n %}

{% load unicms_contexts %}
{% load unicms_storage_handler %}
{% load unicms_templates %}

{% include "includes/unical_storage_loading.html" %}


<!-- SEO  -->
{% block page_title %}{% trans "Laboratory detail" %}{% endblock page_title %}


{% block header_center_logo %}
<div id="_{{ cds_cod }}_logo">
    <p class="h5 text-white">
        [[ item.CDSCourseClassName ]]
    </p>
    <p class="h2 text-white">
        [[ item.CDSName ]]
    </p>
</div>
{% endblock header_center_logo %}

{% block container %}

{% get_current_language as LANGUAGE_CODE %}
{% breadcrumbs webpath=webpath leaf=handler %}

<div id="_{{ cds_cod }}">
    <div class="col-12 py-5 bd-content">
        {% block centered_container %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            [[ item.CDSIntro ]]
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</div>

<script>
    var _{{ cds_cod }}_logo = new Vue({
        el: '[id="_{{ cds_cod }}_logo"]',
        data() {
            return {
                item: {},
            }
        },
    });

    var _{{ cds_cod }} = new Vue({
        el: '[id="_{{ cds_cod }}"]',
        data() {
            return {
                item: {},
                labels: {},
                url: '{{ url }}?lang={{ LANGUAGE_CODE }}',
                is_loading: true,
                loader_source: '{{ url }}',
                //fields_to_not_show: {{ fields_to_hide|safe }},
            }
        },
        mounted() {
            this.CallURL();
        },
        methods: {
            CallURL() {
                axios
                    .get(this.url)
                    .then(response => {
                        this.item = response.data.results;
                        this.labels = response.data.labels;
                        this.is_loading = false
                        _{{ cds_cod }}_logo.item = response.data.results
                        {% if change_breadcrumb %}
                        document.getElementsByClassName("{{ breadcrumb_last }}")[0].innerHTML = this.item.LaboratoryName
                        document.title = this.item.LaboratoryName
                        {% endif %}
                    })
            }
        }
    })
</script>
{% endblock container %}
