{% extends "pages/unical_cds_website.html" %}

{% load static %}
{% load i18n %}

{% load unicms_pages %}

{% load unicms_contexts %}
{% load unicms_storage_handler %}
{% load unicms_templates %}

{% include "includes/unical_storage_loading.html" %}


<!-- SEO  -->
{% block page_title %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_SCHEDULE_LABEL" as page_title %}
{{ page_title }} - {{ block.super }}
{% endblock page_title %}


{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/unicms_storage_calendar.css' %}" type="text/css">
<script src="{% static 'js/v-calendar.2.4.0.js' %}"></script>
<style>
.calendar-hidden .vc-weeks { display: none; }
</style>
{% endblock extra_head %}


{% block container %}

{% get_current_language as LANGUAGE_CODE %}
{% breadcrumbs webpath=webpath leaf=handler %}

{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_BASE_PATH" as cds_base_path %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_VIEW_PREFIX_PATH" as cds_studiare_path %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_CALENDAR_VIEW_PREFIX_PATH" as cds_studiare_calendar_path %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_SCHEDULE_VIEW_PREFIX_PATH" as cds_studiare_schedule_path %}
{% storage_settings_value "CMS_STORAGE_BASE_API" as base_api %}
{% storage_settings_value "CMS_STORAGE_CDS_API" as cds_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_API" as cds_websites_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_TOPICS_API" as topics_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_PAGE_TOPICS" as page_topics %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_TOPIC_ARTICLES_API" as page_topic_articles %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_LABEL" as page_title %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_CALENDAR_LABEL" as calendar_label %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_SCHEDULE_LABEL" as schedule_label %}
{% storage_settings_value "MAIN_DOMAIN" as unicms_root_url %}
{% storage_api_root "CMS_STORAGE_TEACHER_API" as teachers_api %}

{% storage_settings_value "CURRENT_YEAR" as current_year %}
{% get_cds_website_morph cds_cod as old_cds_identifiers %}

{% include "includes/unical_storage_loading.html" %}


<div class="col-12 py-5 bd-content">
    <div>
        {% block centered_container %}
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <p class="h1 lighter mb-4">
                            <a class="no-color" href="{{ webpath.fullpath }}{{ cds_base_path }}/{{ cds_studiare_path }}/">
                                {{ page_title }}
                            </a>
                        </p>

                        <hr class="my-4" style="color: var(--bordeaux_unical)">

                        {% block top_menu_buttons %}
                        <a class="no-color" href="{{ webpath.fullpath }}{{ cds_base_path }}/{{ cds_studiare_path }}/{{ cds_studiare_schedule_path }}/">
                            <span class="selected badge badge-grey-unical badge-left-text-unical square-corners my-1 me-3 ms-0 pe-5 p-2 mw-100">
                                <p class="h5">
                                    <b>{{ schedule_label }}</b>
                                </p>
                            </span>
                        </a>
                        <a class="no-color" href="{{ webpath.fullpath }}{{ cds_base_path }}/{{ cds_studiare_path }}/{{ cds_studiare_calendar_path }}/">
                            <span class="badge badge-grey-unical badge-left-text-unical square-corners my-1 me-3 ms-0 pe-5 p-2 mw-100">
                                <p class="h5">
                                    <b>{{ calendar_label }}</b>
                                </p>
                            </span>
                        </a>
                        {% endblock top_menu_buttons %}

                        <!-- Orario lezioni -->
                        <div id="impegniUP" class="mt-5">

                            <div class="mt-3">

                                <div class="card-wrapper card-space mb-3 ">
                                    <div class="card card-bg card-big no-after">
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label for="up_academic_year">
                                                    <b>{% trans "Academic Year" %}</b>: {{ current_year }}/{{ current_year|add:1 }}
                                                </label>
                                            </div>
                                            <div v-if="years" class="mb-3">
                                                <label for="up_years">
                                                    <b>{% trans "Degree course year" %}</b>
                                                </label>
                                                <select id="up_years"
                                                        name="academic_year_input"
                                                        class="form-control"
                                                         @change="resetCalendar($event.target.value)">
                                                  <option v-for="y_index in years"
                                                          :value="y_index"
                                                          :selected="year == y_index">
                                                      [[ y_index ]] {% trans "year" %}
                                                  </option>
                                                </select>
                                            </div>

                                            <div v-if="studyplans.length > 0">
                                                <div v-if="studyplans.length > 1" class="mt-3">
                                                    <label for="up_years">
                                                        <b>{% trans "Teaching" %}</b>
                                                    </label>
                                                    <select id="up_af"
                                                            name="teaching_input"
                                                            class="form-control"
                                                            @change="choseAF($event.target.value)">
                                                      <option value="">{% trans "Choose a teaching" %}</option>
                                                      <optgroup :label="[[ studyplan.StudyPlanName ]]" v-for="studyplan in studyplans">
                                                        <option v-for="teaching in studyplan.StudyActivities[year]" :value="teaching.StudyActivityCod + '-' + teaching.StudyActivityName">
                                                            [[ teaching.StudyActivityCod ]] - [[ teaching.StudyActivityName ]]
                                                        </option>
                                                      </optgroup>
                                                    </select>
                                                </div>
                                                <div v-else-if="studyplans.length == 1" class="mt-3">
                                                    <label for="up_years">
                                                        <b>{% trans "Teaching" %}</b>
                                                    </label>
                                                    <select id="up_af"
                                                            name="teaching_input"
                                                            class="form-control"
                                                            @change="choseAF($event.target.value)">
                                                      <option value="">- {% trans "Choose a teaching" %} </option>
                                                      <option v-if="studyplans.length > 0" v-for="teaching in studyplans[0].StudyActivities[year]" :value="teaching.StudyActivityCod + '-' + teaching.StudyActivityName">
                                                            [[ teaching.StudyActivityCod ]] - [[ teaching.StudyActivityName ]]
                                                      </option>
                                                    </select>
                                                </div>

                                                <div class="input-group mb-2 mt-3">
                                                    <label for="search_teacher"></label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="search_teacher"
                                                           name="search_teacher"
                                                           placeholder="{% trans 'Teacher' %}"
                                                           v-model="search_teacher"
                                                           v-on:keyup.enter="getEvents(year)">

                                                    <button class="btn btn-primary btn-xs"
                                                            type="button"
                                                            id="search_teacher-button"
                                                            @click="getEvents(year)">
                                                        {% trans "Search" %}
                                                    </button>
                                                </div>
                                                <div class="input-group">
                                                    <label for="search_location"></label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="search_location"
                                                           name="search_location"
                                                           placeholder="{% trans 'Location' %}"
                                                           v-model="search_location"
                                                           v-on:keyup.enter="getEvents(year)">

                                                    <button class="btn btn-primary btn-xs"
                                                            type="button"
                                                            id="search_location-button"
                                                            @click="getEvents(year)">
                                                        {% trans "Search" %}
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="alert alert-info mt-3" role="alert" v-else>
                                                {% trans "No teaching available for the selected period in the academic year" %} {{ current_year }}/{{ current_year|add:1 }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div :style="[studyplans.length > 0 ? {'display': 'block'} : {'display': 'none'}]">
                                    <loading-icon
                                        v-if="is_loading_up"
                                        :loader_source="loader_source_up">
                                    </loading-icon>

                                    <div :style="'display: ' + css_display">
                                        <ul class="nav nav-tabs nav-tabs-icon-text d-none" id="myTab3" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="tab1b-tab" data-bs-toggle="tab" href="#tab1b" role="tab" aria-controls="tab1b" aria-selected="true">
                                                    <svg class="icon">
                                                        <use href="{% static 'svg/sprites.svg' %}#it-calendar"></use>
                                                    </svg> {% trans "Calendar" %}
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="tab2b-tab" data-bs-toggle="tab" href="#tab2b" role="tab" aria-controls="tab2b">
                                                    <svg class="icon">
                                                        <use href="{% static 'svg/sprites.svg' %}#it-list"></use>
                                                    </svg> {% trans "List" %}
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="myTab3Content">
                                            <div class="tab-pane p-4 fade show active" id="tab1b" role="tabpanel" aria-labelledby="tab1b-tab">
                                                <v-calendar
                                                    ref="calendar"
                                                    class="custom-calendar"
                                                    :masks="masks"
                                                    :attributes="attributes"
                                                    locale="{{ LANGUAGE_CODE }}"
                                                    disable-page-swipe
                                                    @update:from-page="switchPage"
                                                    {% comment %}
                                                    :min-date="new Date()"
                                                    :max-date="new Date()"
                                                    is-expanded
                                                    v-if="attr.customData.dataInizio=[[ day.id ]]"
                                                    :href="'http://localhost/' + attr.customData.id"
                                                    {% endcomment %}>
                                                    <template v-slot:day-content="{ day, attributes }">
                                                        <div class="flex flex-col h-100 overflow-hidden" style="font-size: 0.875rem">
                                                            <span class="day-label text-sm text-gray-900">[[ day.day ]]</span>
                                                            <div class="overflow-auto">
                                                                    <p :key="attr.key" v-for="attr in attributes"
                                                                       class="rounded p-1 mt-0 mb-1 mx-1"
                                                                       :class="attr.customData.class"
                                                                       style="background: #feff9c; border: 1px solid #d5ba2a;">
                                                                        <span style="font-size: smaller;">
                                                                            <!--[[ attr.customData.title ]]<br />-->
                                                                            <svg class="icon icon-xs me-2">
                                                                                <use href="{% static 'svg/sprites.svg' %}#it-clock"></use>
                                                                            </svg> [[ attr.customData.orarioInizio ]]/[[ attr.customData.orarioFine ]]
                                                                            <br />
                                                                            <b>[[ attr.customData.title ]]</b>
                                                                            <span v-for="docente in attr.customData.docenti">
                                                                                <br />
                                                                                <svg class="icon icon-xs me-2">
                                                                                    <use href="{% static 'svg/sprites.svg' %}#it-user"></use>
                                                                                </svg> [[ docente ]]
                                                                            </span>
                                                                            <span v-if="attr.customData.aula">
                                                                                <br />
                                                                                <svg class="icon icon-xs me-2">
                                                                                    <use href="{% static 'svg/sprites.svg' %}#it-map-marker"></use>
                                                                                </svg> [[ attr.customData.aula ]]
                                                                            </span>
                                                                            <span v-if="attr.customData.edificio">
                                                                                <br />
                                                                                <svg class="icon icon-xs me-2">
                                                                                    <use href="{% static 'svg/sprites.svg' %}#it-pa"></use>
                                                                                </svg> [[ attr.customData.edificio ]]
                                                                            </span>
                                                                            <span v-if="attr.customData.note">
                                                                                <br />
                                                                                <svg class="icon icon-xs me-2">
                                                                                    <use href="{% static 'svg/sprites.svg' %}#it-clip"></use>
                                                                                </svg> [[ attr.customData.note ]]
                                                                            </span>
                                                                        </span>
                                                                    </p>
                                                            </div>
                                                        </div>
                                                    </template>
                                                </v-calendar>
                                            </div>
                                            <div class="tab-pane p-4 fade" id="tab2b" role="tabpanel" aria-labelledby="tab2b-tab">

                                                <v-calendar
                                                    ref="calendar2"
                                                    class="custom-calendar calendar-hidden"
                                                    :masks="masks"
                                                    :attributes="attributes"
                                                    locale="{{ LANGUAGE_CODE }}"
                                                    disable-page-swipe
                                                    @update:from-page="switchPage">
                                                </v-calendar>

                                                <div id="accordionDivEvents-lft" class="accordion accordion-left-icon" v-if="Object.keys(events).length > 0">
                                                    <div class="accordion-item" v-for="(day_events, day, index) in events">
                                                        <div class="accordion-header" :id="'heading-' + index + '-lft'">
                                                            <button class="accordion-button"
                                                                    type="button"
                                                                    data-bs-toggle="collapse"
                                                                    :data-bs-target="'#collapse-' + index +'-lft'"
                                                                    aria-expanded="false"
                                                                    :aria-controls="'collapse-' + index +'-lft'"
                                                                    style="text-transform: capitalize;">
                                                                [[ new Date(day).toLocaleString("{{ LANGUAGE_CODE }}",
                                                                                                {weekday: 'long',
                                                                                                 day: '2-digit'})]]
                                                            </button>
                                                        </div>
                                                        <div :id="'collapse-' + index +'-lft'"
                                                             class="accordion-collapse collapse"
                                                             data-bs-parent="#accordionDivEvents-lft"
                                                             role="region"
                                                             :aria-labelledby="'heading-' + index +'-lft'">
                                                            <div class="accordion-body">
                                                                <ul>
                                                                    <li v-for="event in day_events" class="mt-3">
                                                                        <b>[[ event.insegnamento ]]</b>
                                                                        <br>
                                                                        <svg class="icon icon-xs me-2">
                                                                            <use href="{% static 'svg/sprites.svg' %}#it-clock"></use>
                                                                        </svg> [[ event.orarioInizio ]] / [[ event.orarioFine ]]
                                                                        <span v-if="event.aula">
                                                                            <br>
                                                                            <svg class="icon icon-xs me-2">
                                                                                <use href="{% static 'svg/sprites.svg' %}#it-map-marker"></use>
                                                                            </svg> [[ event.aula ]]
                                                                        </span>
                                                                        <span v-if="event.edificio">
                                                                            <br>
                                                                            <svg class="icon icon-xs me-2">
                                                                                <use href="{% static 'svg/sprites.svg' %}#it-pa"></use>
                                                                            </svg> [[ event.edificio ]]
                                                                        </span>
                                                                        <span v-for="docente in event.docenti">
                                                                            <br>
                                                                            <svg class="icon icon-xs me-2">
                                                                                <use href="{% static 'svg/sprites.svg' %}#it-user"></use>
                                                                            </svg> [[ docente ]]
                                                                        </span>
                                                                        <span v-if="event.extra.note">
                                                                            <br>
                                                                            <svg class="icon icon-xs me-2">
                                                                                <use href="{% static 'svg/sprites.svg' %}#it-clip"></use>
                                                                            </svg>
                                                                            <span style="white-space:break-spaces;display:inline-flex;">
                                                                                [[ event.extra.note ]]
                                                                            </span>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="alert alert-info mt-3" role="alert" v-else>
                                                    {% trans "No items here" %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Orario lezioni -->
                    </div>
                    {% comment %}
                    <div class="col-12 col-lg-3 offset-lg-1">
                        {% include "includes/unical_storage_cds_website_right_static.html" %}
                        <hr style="color: transparent" class="my-3" />
                        {% include "includes/unical_storage_cds_website_right_contacts.html" %}
                    </div>
                    {% endcomment %}
                </div>
            </div>
        {% endblock %}
    </div>
</div>

<script>
    var _{{ cds_cod }}_impegniUP = new Vue({
        el: '#impegniUP',
        data () {
            return {
                events: {},
                years: [],
                year: 1,
                date_month: {% now "m" %},
                date_year: {% now "Y" %},
                is_loading_up: true,
                loader_source_up: '',
                attributes: [],
                regdidid: null,
                regdid_year: null,
                url: '',
                masks: {weekdays: 'WWW',},
                css_display: 'none',
                studyplans: [],
                chosen_af_cod: '',
                search_teacher: '',
                search_location: '',
                cds_identifier: '{{ cds_cod }}',
                old_cds_identifiers: {{ old_cds_identifiers|safe }},
                old_cds_found: false,
            } //end return
        }, //end data
        mounted()  {
            //this.getEvents();
        },
        methods: {
            {% include "includes/unical_storage_cds_website_scroll.html" %}
            getEvents(year=null, date_month=null, date_year=null) {

                if(!year) year = this.year
                if(!date_month) date_month = this.date_month
                if(!date_year) date_year = this.date_year

                if('calendar' in this.$refs)
                    this.$refs.calendar.move({ month: date_month,
                                               year: date_year })
                if('calendar2' in this.$refs)
                    this.$refs.calendar2.move({ month: date_month,
                                                year: date_year })

                let up_url = '{{ base_api }}{{ cds_websites_api }}' + this.cds_identifier + '/timetable/?lang={{ LANGUAGE_CODE }}&academic_year={{ current_year }}&year=' + year + '&date_year=' + date_year +'&date_month=' + date_month + '&search_teacher=' + this.search_teacher + '&search_location=' + this.search_location + '&af_cod=' + this.chosen_af_cod
                this.year = year
                this.is_loading_up = true
                this.css_display = 'none'
                axios
                    .get(up_url)
                    .then(response => {
                        //this.events = response.data
                        this.is_loading_up = false
                        this.css_display = 'block'
                        this.events = {}
                        this.attributes = []
                        response.data.forEach((item, index)=>{
                            if(!(item.dataInizio in this.events)){
                                this.events[item.dataInizio] = []
                            }
                            this.events[item.dataInizio].push(item)
                            this.attributes.push(
                                {
                                    key: index,
                                    customData: {
                                        class: '',
                                        title: item.insegnamento,
                                        dataInizio: item.dataInizio,
                                        dataFine: item.dataFine,
                                        orarioInizio: item.orarioInizio,
                                        orarioFine: item.orarioFine,
                                        docenti: item.docenti,
                                        aula: item.aula,
                                        edificio: item.edificio,
                                        note: item.extra.note,
                                    },
                                    dates: { start: new Date(item.dataInizio),
                                             end: new Date(item.dataFine) }
                                }
                            )
                        })
                        this.scrollPage()
                    }
                )
            },
            choseAF(af_string){
                this.chosen_af_cod = af_string.substring(0, af_string.indexOf('-'))
                this.getEvents()
                this.is_loading = true
            },
            callStudyPlans(regdid=null) {
                if(!regdid) regdid = this.regdidid
                let teachings_url = "{{ base_api }}{{ cds_api }}" + regdid + "/studyplans/?lang={{ LANGUAGE_CODE }}"
                axios
                    .get(teachings_url)
                    .then(response => {
                        this.studyplans = response.data.results
                    })
            },
            switchPage(page) {
                // if there is a real page switch
                if(!page.hasOwnProperty('date')){
                    this.date_month = page.month
                    this.date_year = page.year
                    this.getEvents(year=this.year)
                }
            },
            async getOldYears(year) {
                for(let i=0;i<this.old_cds_identifiers.length;i++) {
                    if(this.old_cds_found) break;
                    let url = '{{ base_api }}{{ cds_api }}?lang={{ LANGUAGE_CODE }}&cdscod=' + this.old_cds_identifiers[i] + '&academicyear=' + year
                    await axios
                        .get(url)
                        .then(response => {
                            this.studyplans = []
                            if(response.data.results && response.data.results.length > 0){
                                this.old_cds_found = true
                                this.cds_identifier = this.old_cds_identifiers[i]
                                this.callStudyPlans(response.data.results[0].RegDidId)
                                this.getEvents()
                            }
                        })
                }
                this.old_cds_found = false
            },
            resetCalendar(year=1) {
                this.year = year
                this.chosen_af_cod = ''
                //let ac_year = _cds_data.cds.AcademicYear - year + 1
                let ac_year = {{ current_year }} - year + 1
                if(this.year > ({{ current_year }} - ac_year)) {
                    let url = '{{ base_api }}{{ cds_api }}?lang={{ LANGUAGE_CODE }}&cdscod={{ cds_cod }}&academicyear=' + ac_year
                    axios
                        .get(url)
                        .then(response => {
                            this.studyplans = []
                            if(response.data.results && response.data.results.length == 0){
                                this.getOldYears(ac_year)
                            }
                            else if(response.data.results && response.data.results.length > 0){
                                this.callStudyPlans(response.data.results[0].RegDidId)
                                this.getEvents()
                            }
                        })
                }
                else this.getEvents();
            },
        }, //methods
        watch: {
            regdidid: function(val) {
                let year_index = 1

                while(year_index <= _cds_data.cds.CdSDuration) {
                    this.years.push(year_index)
                    year_index += 1
                }

                if(this.year > ({{ current_year }} - this.regdid_year))
                    this.callStudyPlans()

                this.getEvents()
            },
            //chosen_af_cod: function(val) {
                //this.getEvents()
                //this.is_loading = true
            //},
        }
    }) //end "new Vue"
</script>
{% endblock container %}
