{% extends this_string_will_be_replaced %}

{% load static %}
{% load i18n %}

{% load unicms_contexts %}
{% load unicms_storage_handler %}
{% load unicms_templates %}

{% include "includes/unical_storage_loading.html" %}


{% block header_center_logo %}
<div id="_{{ cds_cod }}_logo">
    <p class="h5 text-white">
        [[ item.CDSCourseClassName ]]
    </p>
    <p class="h2 text-white">
        [[ item.CDSName ]]
    </p>
</div>
{% endblock header_center_logo %}

{% block unical_mobile_logo %}
<div id="_{{ cds_cod }}_logo_mobile">
    <p class="h5 text-white">
        [[ item.CDSCourseClassName ]]
    </p>
    <p class="h2 text-white">
        [[ item.CDSName ]]
    </p>
</div>
{% endblock unical_mobile_logo %}

{% block container %}

{% get_current_language as LANGUAGE_CODE %}
{% breadcrumbs webpath=webpath leaf=handler %}

{% storage_settings_value "CMS_STORAGE_BASE_API" as base_api %}
{% storage_settings_value "CMS_STORAGE_CDS_API" as cds_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_TOPICS_API" as topics_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_PAGE_TOPICS" as page_topics %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_TOPIC_ARTICLES_API" as page_topic_articles %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_ISCRIVERSI_LABEL" as page_titlke %}
{% storage_settings_value "MAIN_DOMAIN" as unicms_root_url %}

{% include "includes/unical_storage_loading.html" %}


<div id="_{{ cds_cod }}">
    <div class="col-12 py-5 bd-content">
        {% block centered_container %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <loading-icon
                        v-if="is_loading"
                        :loader_source="loader_source">
                    </loading-icon>
                    <div v-else>
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div v-if="cds.CdSVideo">
                                    <div class="ratio ratio-21x9">
                                        <iframe :title="cds.CdSVideo"
                                                :src="youtubeNoCookie(cds.CdSVideo)"
                                                allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mt-3 mt-lg-0">
                                <ul style="list-style: none" class="ps-0">
                                    <li class="mb-2 m-auto">
                                        <svg class="m-auto icon icon-white icon-xl badge-primary p-2" style="border-radius: 50%">
                                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-files"></use>
                                        </svg>
                                        <span class="ms-3">
                                            <a href="#" style="text-decoration: none" data-bs-toggle="modal" data-bs-target="#modal_CDSIntro">
                                                <b>corso in pillole</b>
                                            </a>
                                        </span>
                                    </li>
                                    <li class="mb-2">
                                        <svg class="m-auto icon icon-white icon-xl badge-primary p-2" style="border-radius: 50%">
                                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-copy"></use>
                                        </svg>
                                        <span class="ms-3">
                                            <a href="#" style="text-decoration: none" data-bs-toggle="modal" data-bs-target="#modal_CDSStudyPlan">
                                                <b>cosa si studia</b>
                                            </a>
                                        </span>
                                    </li>
                                    <li class="mb-2">
                                        <svg class="m-auto icon icon-white icon-xl badge-primary p-2" style="border-radius: 50%">
                                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-download"></use>
                                        </svg>
                                        <span class="ms-3">
                                            <a href="#" style="text-decoration: none">
                                                <b>scarica materiali</b>
                                            </a>
                                        </span>
                                    </li>
                                    <li class="mb-2">
                                        <svg class="m-auto icon icon-white icon-xl badge-primary p-2" style="border-radius: 50%">
                                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-pencil"></use>
                                        </svg>
                                        <span class="ms-3">
                                            <a href="#" style="text-decoration: none" data-bs-toggle="modal" data-bs-target="#modal_CDSEnrollmentMode">
                                                <b>come iscriversi</b>
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <svg class="m-auto icon icon-white icon-xl badge-primary p-2" style="border-radius: 50%">
                                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-info-circle"></use>
                                        </svg>
                                        <span class="ms-3">
                                            <a href="#" style="text-decoration: none">
                                                <b>richiedi info</b>
                                            </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="pb-0 mt-3">
                                    <div class="card no-after" style="border:2px solid #b71918">
                                        <div class="card-body">
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <small>
                                                        classe di Laurea <b>[[ item.CDSCourseClassName ]]</b>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-lg-4">
                                                    <small>
                                                        [[ labels['CDSSeatsNumber'] ]]
                                                        <b class="h3">[[ item.CDSSeatsNumber ]]</b>
                                                    </small>
                                                </div>
                                                <div class="col-12 col-lg-4">
                                                    <small>
                                                        [[ labels['CDSLanguage'] ]]
                                                        <b class="h3">
                                                            <span v-for="lang in item.CDSLanguage">
                                                                [[ lang ]]
                                                            </span>
                                                        </b>
                                                    </small>
                                                </div>
                                                <div class="col-12 col-lg-4">
                                                    <small>
                                                        [[ labels['CDSDuration'] ]]
                                                        <b class="h3">[[ item.CDSDuration ]] {% trans "years" %}</b>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="pb-0 mt-3">
                                    <div class="card no-after" style="border:2px solid #b71918">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    right
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        <div class="row mt-3 py-5" style="background: var(--light_grey)" v-if="item.CDSSliders">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <p class="h1 lighter" style="color: var(--bordeaux_unical); font-family: Lora; font-style: italic;">
                                [[ item.CDSSliders[0]['SliderDescription'] ]]
                            </p>
                        </div>
                        <div class="col-12 col-lg-4 text-center m-auto">
                            <svg class="m-auto icon icon-xl">
                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-arrow-right"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <b>descrizione sintetica</b>&nbsp;/&nbsp;<span v-html="item.CDSIntro"></span>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="row mt-4" v-if="cds.OtherData && cds.OtherData[0].DirectorName && cds.OtherData[0].DirectorName.trim().length>0">
                        <div class="col-2">
                            <svg class="icon icon-muted">
                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-user"></use>
                            </svg>
                        </div>
                        <div class="col-9 align-left">
                            <small>
                                <b>[[ cds_labels['DirectorName'] ]]</b>
                                <br>
                                <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ teachers_prefix }}/' + cds.OtherData[0].DirectorId +'/'" v-if="cds.OtherData[0].DirectorId">
                                    [[ cds.OtherData[0].DirectorName ]]
                                </a>
                                <span v-else>
                                    [[ cds.OtherData[0].DirectorName ]]
                                </span>
                            </small>
                        </div>

                        <div v-if="cds.OtherData && cds.OtherData[0].DeputyDirectorName && cds.OtherData[0].DeputyDirectorName.trim().length>0" class="row">
                            <div class="col-12"><hr></div>
                            <div class="col-2">
                                <svg class="icon icon-muted">
                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-user"></use>
                                </svg>
                            </div>
                            <div class="col-9 align-left">
                                <small>
                                    <b>[[ cds_labels['DeputyDirectorName'] ]]</b>
                                    <br>
                                    <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ teachers_prefix }}/' + cds.OtherData[0].DeputyDirectorId +'/'" v-if="cds.OtherData[0].DeputyDirectorId">
                                        [[ cds.OtherData[0].DeputyDirectorName ]]
                                    </a>
                                    <span v-else>
                                        [[ cds.OtherData[0].DeputyDirectorName ]]
                                    </span>
                                </small>
                            </div>
                        </div>

                        <div v-if="cds.OfficesData" v-for="office in cds.OfficesData" class="row">
                            <div class="col-2">
                                <svg class="icon icon-muted">
                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-info-circle"></use>
                                </svg>
                            </div>
                            <div class="col-9 align-left">
                                <small>
                                    <b>[[ office.OfficeName ]]</b>
                                    <div class="mt-2">
                                        <div class="row">
                                            <div class="col-12">
                                                <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ addressbook_prefix }}/' + office.OfficeDirector +'/'" v-if="office.OfficeDirector && office.OfficeDirectorName">
                                                    [[ office.OfficeDirectorName ]]
                                                </a>
                                                <span v-else-if="office.OfficeDirectorName">
                                                    [[ office.OfficeDirectorName ]]
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row" v-if="office.TelOffice && office.TelOffice.trim().length>0">
                                            <div class="col-2">
                                                <svg class="icon icon-sm icon-muted me-2">
                                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-telephone"></use>
                                                </svg>
                                            </div>
                                            <div class="col-10">
                                                [[ office.TelOffice ]]
                                            </div>
                                        </div>
                                        <div class="row" v-if="office.Email && office.Email.trim().length>0">
                                            <div class="col-2">
                                                <svg class="icon icon-sm icon-muted me-2">
                                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-mail"></use>
                                                </svg>
                                            </div>
                                            <div class="col-10">
                                                <a :href="'email:'+office.Email">
                                                    [[ office.Email ]]
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row" v-if="office.Floor && office.Floor.trim().length>0">
                                            <div class="col-2">
                                                <svg class="icon icon-sm icon-muted me-2">
                                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-map-marker"></use>
                                                </svg>
                                            </div>
                                            <div class="col-10">
                                                [[ labels['Floor'] ]] [[ office.Floor ]]
                                            </div>
                                        </div>
                                        <div class="row" v-if="office.Timetables && office.Timetables.trim().length>0">
                                            <div class="col-2">
                                                <svg class="icon icon-sm icon-muted me-2">
                                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-clock"></use>
                                                </svg>
                                            </div>
                                            <div class="col-10">
                                                [[ office.Timetables ]]
                                            </div>
                                        </div>
                                        <div class="row" v-if="office.OnlineCounter && office.OnlineCounter.trim().length>0">
                                            <div class="col-2">
                                                <svg class="icon icon-sm icon-muted me-2">
                                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-link"></use>
                                                </svg>
                                            </div>
                                            <div class="col-10">
                                                <a :href="office.OnlineCounter" target="_blank" rel="noreferrer noopener">
                                                    [[ cds_labels['OnlineCounter'] ]]
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-3 py-5" style="background: var(--light_grey)" v-if="item.CDSSliders">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <b>
                                i nostri ex
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- modals -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal_CDSIntro" aria-labelledby="test titolo">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" v-html="item.CDSIntro"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal_CDSStudyPlan" aria-labelledby="test titolo">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" v-html="item.CDSStudyPlan"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal_CDSEnrollmentMode" aria-labelledby="test titolo">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" v-html="item.CDSEnrollmentMode"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

</div>

<script>
    var _{{ cds_cod }}_logo = new Vue({
        el: '[id="_{{ cds_cod }}_logo"]',
        data() {
            return {
                item: {},
            }
        },
    });

    var _{{ cds_cod }}_logo_mobile = new Vue({
        el: '[id="_{{ cds_cod }}_logo_mobile"]',
        data() {
            return {
                item: {},
            }
        },
    });

    var _{{ cds_cod }} = new Vue({
        el: '[id="_{{ cds_cod }}"]',
        data() {
            return {
                item: {},
                cds: {},
                cds_labels: {},
                allowed_topics: {{ page_topics|get_value:'iscriversi'|safe }},
                empty_topics: [],
                topics: {},
                topic_articles: {},
                labels: {},
                url: '{{ url }}?lang={{ LANGUAGE_CODE }}',
                is_loading: true,
                loader_source: '{{ url }}',
                //fields_to_not_show: {{ fields_to_hide|safe }},
            }
        },
        mounted() {
            this.CallURL();
        },
        methods: {
            CallURL() {
                axios
                    .get(this.url)
                    .then(response => {
                        this.item = response.data.results;
                        this.labels = response.data.labels;
                        _{{ cds_cod }}_logo.item = response.data.results
                        _{{ cds_cod }}_logo_mobile.item = response.data.results
                        //document.getElementsByClassName("{{ breadcrumb_last }}")[0].innerHTML = this.item.LaboratoryName
                        document.title = response.data.results.CDSName

                        let cds_url = '{{ base_api }}{{ cds_api }}'+response.data.results['RegDidId']+'/?lang={{ LANGUAGE_CODE }}'
                        axios
                            .get(cds_url)
                            .then(response => {
                                this.cds = response.data.results
                                this.cds_labels = response.data.labels
                                this.is_loading = false
                            }
                        )

                    })
            },
            youtubeNoCookie(value) {
                return value.replace("youtube.com", "youtube-nocookie.com")
            }
        }
    })
</script>
{% endblock container %}
