{% extends "pages/unical_cds_website.html" %}

{% load static %}
{% load i18n %}

{% load unicms_pages %}

{% load unicms_contexts %}
{% load unicms_storage_handler %}
{% load unicms_templates %}

{% include "includes/unical_storage_loading.html" %}


<!-- SEO  -->
{% block page_title %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_LABEL" as page_title %}
{{ page_title }} - {{ block.super }}
{% endblock page_title %}


{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/unicms_storage_calendar.css' %}" type="text/css">
<!-- Link VCalendar Javascript (Plugin automatically installed) -->
<script src="https://unpkg.com/v-calendar"></script>
{% endblock extra_head %}


{% block container %}

<script src="{% static 'js/vue-markdown.js' %}"></script>


{% get_current_language as LANGUAGE_CODE %}
{% breadcrumbs webpath=webpath leaf=handler %}

{% storage_settings_value "CMS_STORAGE_BASE_API" as base_api %}
{% storage_settings_value "CMS_STORAGE_CDS_API" as cds_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_API" as cds_websites_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_BASE_PATH" as cds_base_path %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_TOPICS_API" as topics_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_PAGE_TOPICS" as page_topics %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_TOPIC_ARTICLES_API" as page_topic_articles %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_LABEL" as page_title %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_CALENDAR_VIEW_PREFIX_PATH" as calendar_path %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_SCHEDULE_VIEW_PREFIX_PATH" as schedule_path %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_CORSO_VIEW_PREFIX_PATH" as corso_path %}
{% storage_settings_value "MAIN_DOMAIN" as unicms_root_url %}
{% storage_api_root "CMS_STORAGE_TEACHER_API" as teachers_api %}
{% storage_settings_value "CURRENT_YEAR" as current_year %}

{% get_cds_website_morph cds_cod as old_cds_identifier %}

{% include "includes/unical_storage_loading.html" %}


<div class="col-12 py-5 bd-content">
    <div>
        {% block centered_container %}
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <p class="h1 lighter">{{ page_title }}</p>

                        <!-- Insegnamenti -->
                        <div class="mt-5">
                            {% include "blocks/unical_storage_cds_website_study_activities_by_year.html" with uid="_"|add:cds_cod|add:"_studiare_study_activities" full_page=full_page year=current_year cds_identifier=cds_cod %}
                        </div>
                        <!-- END insegnamenti -->

                        <!-- Piano di studio (topic 7) + Piani di tudio (topi 8) -->
                        <div class="row" id="_{{ cds_cod }}">
                            <loading-icon
                                v-if="is_loading"
                                :loader_source="loader_source">
                            </loading-icon>
                            <div v-for="allowed_topic in allowed_topics" v-else>
                                <div v-for="topic in topics" v-if="topic.TopicId == allowed_topic &! empty_topics.includes(topic.TopicId) && topic.TopicId != 9">
                                    <p class="h4 lighter mt-5">
                                        [[ topic.TopicDescription ]]
                                    </p>
                                    <div :id="'accordionDiv-' + allowed_topic +'-lft'" class="accordion accordion-left-icon">
                                        <div v-for="article in topic_articles" v-if="article.TopicId == allowed_topic">
                                            <!-- href button -->
                                            <div v-if="article.CdsObject && article.CdsObject.Object && article.CdsObject.ClassObjectId == 'WebPath' &! article.CdsObject.ObjectText">
                                                <div class="accordion-header accordion-header-href" :id="'static-heading-' + article.ID +'-lft'">
                                                    <a class="no-color"
                                                       target="_blank"
                                                       :title="article.CdsObject.Object.name"
                                                       :href="article.CdsObject.Object.get_absolute_url">
                                                        <button class="accordion-button"
                                                                type="button"
                                                                data-bs-toggle="collapse"
                                                                aria-expanded="false">
                                                            <span v-if="article.Title">
                                                                [[ article.Title ]]
                                                            </span>
                                                            <span v-else>
                                                                [[ article.CdsObject.Object.name ]]
                                                            </span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- end href button -->
                                            <div class="accordion-item" v-else-if="article.CdsArticle || (article.CdsObject && article.CdsObject.Object)">
                                                <div class="accordion-header" :id="'heading-' + article.ID +'-lft'">
                                                    <button class="accordion-button"
                                                            type="button"
                                                            data-bs-toggle="collapse"
                                                            :data-bs-target="'#collapse-' + article.ID +'-lft'"
                                                            aria-expanded="false"
                                                            :aria-controls="'collapse-' + article.ID +'-lft'">
                                                        <span v-if="article.Title">
                                                            [[ article.Title ]]
                                                        </span>
                                                        <span v-else="article.CdsObject && article.CdsObject.Object">
                                                            <span v-if="article.CdsObject.ClassObjectId == 'Publication'">
                                                                [[ article.CdsObject.Object.title ]]
                                                            </span>
                                                            <span v-else-if="article.CdsObject.ClassObjectId == 'WebPath'">
                                                                [[ article.CdsObject.Object.name ]]
                                                            </span>
                                                        </span>
                                                    </button>
                                                </div>
                                                <div :id="'collapse-' + article.ID +'-lft'"
                                                     class="accordion-collapse collapse"
                                                     :data-bs-parent="'#accordionDiv-' + allowed_topic +'-lft'"
                                                     role="region"
                                                     :aria-labelledby="'heading-' + article.ID +'-lft'">
                                                    <div class="accordion-body">
                                                        <span v-if="article.CdsArticle">
                                                            <vue-markdown :emoji=false :source='article.CdsArticle.ArticleDescription'></vue-markdown>
                                                            <div v-for="other_data in article.OtherData">
                                                                <p class="mt-3">[[ other_data.Title ]]</p>
                                                                <div>[[ other_data.Text ]]</div>
                                                            </div>
                                                        </span>
                                                        <span v-else-if="article.CdsObject && article.CdsObject.Object">
                                                            <span v-html="article.CdsObject.ObjectText"></span>
                                                            <span v-if="article.CdsObject.ClassObjectId == 'Publication'">
                                                                <span v-html="article.CdsObject.Object.content"></span>
                                                            </span>
                                                            <span v-else-if="article.CdsObject.ClassObjectId == 'WebPath'">
                                                                <a :href="article.CdsObject.Object.get_absolute_url">
                                                                    [[ article.CdsObject.Object.name ]]
                                                                </a>
                                                            </span>
                                                            <div v-for="other_data in article.OtherData">
                                                                <p class="mt-3">[[ other_data.Title ]]</p>
                                                                <div>[[ other_data.Text ]]</div>
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Link a pagina CORSO per visualizzare i piani di studio -->
                                        <div class="accordion-item" v-if="topic.TopicId == 7">
                                            <div class="accordion-header accordion-header-href" id="heading-study-lft">
                                                <a class="no-color" href="{{ webpath.fullpath }}{{ cds_base_path }}/{{ corso_path }}/">
                                                    <button class="accordion-button"
                                                            type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#collapse-study-lft"
                                                            aria-expanded="false"
                                                            aria-controls="collapse-study-lft">
                                                        {% trans "Consult the page with study plans" %}
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END piano di studio + Piani di studio -->

                        <!-- Orario lezioni -->
                        <p class="h4 lighter mt-5 mb-3">{% trans "Class schedule" %}</p>

                            <div id="accordionDiv-study-lft" class="accordion accordion-left-icon">
                                <div class="accordion-item">
                                    <div class="accordion-header accordion-header-href" id="heading-study-lft">
                                        <a class="no-color" href="{{ schedule_path }}/">
                                            <button class="accordion-button"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapse-study-lft"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-study-lft">
                                                {% trans "Academic Year" %} {{ current_year }}/{{ current_year|add:1 }}
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <!-- END Orario lezioni -->

                        <!-- Calendario esami -->
                        <p class="h4 lighter mt-5 mb-3">{% trans "Exam calendar" %}</p>

                            <div id="accordionDiv-exams-lft" class="accordion accordion-left-icon">
                                <div class="accordion-item">
                                    <div class="accordion-header accordion-header-href" id="heading-study-lft">
                                        <a class="no-color" href="{{ calendar_path }}/">
                                            <button class="accordion-button"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapse-exams-lft"
                                                    aria-expanded="false"
                                                    aria-controls="collapse-exams-lft">
                                                {% trans "Academic Year" %} {{ current_year }}/{{ current_year|add:1 }}
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <!-- END calendario esami -->

                        <!-- Prova finale (topi 9) -->
                        <div class="row" id="_{{ cds_cod }}_1">
                            <loading-icon
                                v-if="is_loading"
                                :loader_source="loader_source">
                            </loading-icon>
                            <div v-for="allowed_topic in allowed_topics" v-else>
                                <div v-for="topic in topics" v-if="topic.TopicId == allowed_topic &! empty_topics.includes(topic.TopicId) && topic.TopicId == 9">
                                    <p class="h4 lighter mt-5">
                                        [[ topic.TopicDescription ]]
                                    </p>
                                    <div :id="'accordionDiv-' + allowed_topic +'-lft'" class="accordion accordion-left-icon">
                                        <div v-for="article in topic_articles" v-if="article.TopicId == allowed_topic">
                                            <!-- href button -->
                                            <div v-if="article.CdsObject && article.CdsObject.Object && article.CdsObject.ClassObjectId == 'WebPath' &! article.CdsObject.ObjectText">
                                                <div class="accordion-header accordion-header-href" :id="'static-heading-' + article.ID +'-lft'">
                                                    <a class="no-color"
                                                       target="_blank"
                                                       :title="article.CdsObject.Object.name"
                                                       :href="article.CdsObject.Object.get_absolute_url">
                                                        <button class="accordion-button"
                                                                type="button"
                                                                data-bs-toggle="collapse"
                                                                aria-expanded="false">
                                                            <span v-if="article.Title">
                                                                [[ article.Title ]]
                                                            </span>
                                                            <span v-else>
                                                                [[ article.CdsObject.Object.name ]]
                                                            </span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- end href button -->
                                            <div class="accordion-item" v-else-if="article.CdsArticle || (article.CdsObject && article.CdsObject.Object)">
                                                <div class="accordion-header" :id="'heading-' + article.ID +'-lft'">
                                                    <button class="accordion-button"
                                                            type="button"
                                                            data-bs-toggle="collapse"
                                                            :data-bs-target="'#collapse-' + article.ID +'-lft'"
                                                            aria-expanded="false"
                                                            :aria-controls="'collapse-' + article.ID +'-lft'">
                                                        <span v-if="article.Title">
                                                            [[ article.Title ]]
                                                        </span>
                                                        <span v-else="article.CdsObject && article.CdsObject.Object">
                                                            <span v-if="article.CdsObject.ClassObjectId == 'Publication'">
                                                                [[ article.CdsObject.Object.title ]]
                                                            </span>
                                                            <span v-else-if="article.CdsObject.ClassObjectId == 'WebPath'">
                                                                [[ article.CdsObject.Object.name ]]
                                                            </span>
                                                        </span>
                                                    </button>
                                                </div>
                                                <div :id="'collapse-' + article.ID +'-lft'"
                                                     class="accordion-collapse collapse"
                                                     :data-bs-parent="'#accordionDiv-' + allowed_topic +'-lft'"
                                                     role="region"
                                                     :aria-labelledby="'heading-' + article.ID +'-lft'">
                                                    <div class="accordion-body">
                                                        <span v-if="article.CdsArticle">
                                                            <vue-markdown :emoji=false :source='article.CdsArticle.ArticleDescription'></vue-markdown>
                                                            <div v-for="other_data in article.OtherData">
                                                                <p class="mt-3">[[ other_data.Title ]]</p>
                                                                <div>[[ other_data.Text ]]</div>
                                                            </div>
                                                        </span>
                                                        <span v-else-if="article.CdsObject && article.CdsObject.Object">
                                                            <span v-html="article.CdsObject.ObjectText"></span>
                                                            <span v-if="article.CdsObject.ClassObjectId == 'Publication'">
                                                                <span v-html="article.CdsObject.Object.content"></span>
                                                            </span>
                                                            <span v-else-if="article.CdsObject.ClassObjectId == 'WebPath'">
                                                                <a :href="article.CdsObject.Object.get_absolute_url">
                                                                    [[ article.CdsObject.Object.name ]]
                                                                </a>
                                                            </span>
                                                            <div v-for="other_data in article.OtherData">
                                                                <p class="mt-3">[[ other_data.Title ]]</p>
                                                                <div>[[ other_data.Text ]]</div>
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Prova finale -->

                        <!-- Docenti -->
                        <p class="h4 lighter mt-5 mb-3">{% trans "Teachers" %}</p>
                        <div id="accordionDiv3-lft" class="accordion accordion-left-icon">
                            <div class="accordion-item">
                                <div class="accordion-header" id="heading-teachers-lft">
                                    <button class="accordion-button"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapse-teachers-lft"
                                            aria-expanded="false"
                                            aria-controls="collapse-teachers-lft">
                                        {% trans "Year" %}&nbsp;{{ current_year }} / {{ current_year|add:1 }}{% if old_cds_identifier %}&nbsp;- ({{ cds_cod }}){% endif %}
                                    </button>
                                </div>
                                <div id="collapse-teachers-lft"
                                     class="accordion-collapse collapse"
                                     data-bs-parent="#accordionDiv3-lft"
                                     role="region"
                                     aria-labelledby="heading-teachers-lft">
                                    <div class="accordion-body mt-3">
                                        {% include "blocks/unical_storage_teacherslist_without_filters.html" with uid="teachers_list" mark_contract_teachers=1 %}
                                    </div>
                                </div>
                            </div>

                            {% if old_cds_identifier %}
                            <div class="accordion-item">
                                <div class="accordion-header" id="old_heading-teachers-lft">
                                    <button class="accordion-button"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#old_collapse-teachers-lft"
                                            aria-expanded="false"
                                            aria-controls="old_collapse-teachers-lft">
                                        {% trans "Year" %}&nbsp;{{ current_year }} / {{ current_year|add:1 }}&nbsp;- ({{ old_cds_identifier }})
                                    </button>
                                </div>
                                <div id="old_collapse-teachers-lft"
                                     class="accordion-collapse collapse"
                                     data-bs-parent="#old_accordionDiv3-lft"
                                     role="region"
                                     aria-labelledby="old_heading-teachers-lft">
                                    <div class="accordion-body mt-3">
                                        {% include "blocks/unical_storage_teacherslist_without_filters.html" with uid="teachers_list_old" mark_contract_teachers=1 %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                        </div>
                        <!-- END Docenti -->

                    </div>
                    <div class="col-12 col-lg-3 offset-lg-1">
                        {% include "includes/unical_storage_cds_website_right_static.html" %}
                        <hr style="color: transparent" class="my-3" />
                        {% include "includes/unical_storage_cds_website_right_contacts.html" %}
                        <hr style="color: transparent" class="my-3" />
                        {% include "includes/unical_storage_cds_website_right_links.html" %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</div>

<script>
    Vue.use(VueMarkdown);

    var _{{ cds_cod }}_1 = new Vue({
        el: '#_{{ cds_cod }}_1',
        data() {
            return {
                item: {},
                allowed_topics: {{ page_topics|get_value:'studiare'|safe }},
                empty_topics: [],
                topics: {},
                topic_articles: {},
                labels: {},
                url: '{{ url }}?lang={{ LANGUAGE_CODE }}',
                is_loading: true,
                loader_source: '{{ url }}',
            }
        }
    })

    var _{{ cds_cod }} = new Vue({
        el: '#_{{ cds_cod }}',
        data() {
            return {
                item: {},
                allowed_topics: {{ page_topics|get_value:'studiare'|safe }},
                empty_topics: [],
                topics: {},
                topic_articles: {},
                labels: {},
                url: '{{ url }}?lang={{ LANGUAGE_CODE }}',
                is_loading: true,
                loader_source: '{{ url }}',
                teachers: [],
                teachers_labels: {},
                teachers_is_loading: true,
                //teachers.next_page: null,
                //teachers.previous_page: null,
                //teachers.labels: null,
                //teachers.is_loading: true,
                //fields_to_not_show: {{ fields_to_hide|safe }},
            }
        },
        mounted() {
            //this.CallURL();
            this.start();
            this.CallTopics();
            this.CallTopicArticles();
            //this.CallCds();
        },
        methods: {
            start() {
                teachers_list.cds_cod = "{{ cds_cod }}"
                teachers_list.academic_year = {{ current_year }}

                {% if old_cds_identifier %}
                teachers_list_old.cds_cod = "{{ old_cds_identifier }}"
                teachers_list_old.academic_year = {{ current_year }}
                {% endif %}

                let year_index = 1
            },
            CallTopicArticles() {
                let url = '{{ base_api }}{{ page_topic_articles }}?lang={{ LANGUAGE_CODE }}&page_size=200&cds_cod={{ cds_cod }}&topic_id=' + this.allowed_topics
                axios
                    .get(url)
                    .then(response => {
                        this.topic_articles = response.data.results
                        _{{ cds_cod }}_1.topic_articles = response.data.results
                        this.allowed_topics.forEach(
                            topic => {
                                let found = response.data.results.some(el => el.TopicId === topic && (el.CdsArticle || (el.CdsObject && el.CdsObject.Object)));
                                if(!found){
                                    this.empty_topics.push(topic)
                                    _{{ cds_cod }}_1.empty_topics.push(topic)
                                }
                            }
                        )
                        this.is_loading = false
                        _{{ cds_cod }}_1.is_loading = false
                    }
                )
            },
            CallTopics() {
                let url = '{{ base_api }}{{ topics_api }}?lang={{ LANGUAGE_CODE }}&page_size=200'
                axios
                    .get(url)
                    .then(response => {
                        this.topics = response.data.results
                        _{{ cds_cod }}_1.topics = response.data.results
                    }
                )
            },
        },
    })


</script>
{% endblock container %}
