{% extends "pages/unical_cds_website.html" %}

{% load static %}
{% load i18n %}

{% load unicms_pages %}

{% load unicms_contexts %}
{% load unicms_storage_handler %}
{% load unicms_templates %}

{% include "includes/unical_storage_loading.html" %}


<!-- SEO  -->
{% block page_title %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_ISCRIVERSI_LABEL" as page_title %}
{{ page_title }} - {{ block.super }}
{% endblock page_title %}


{% block container %}

<script src="{% static 'js/vue-markdown.js' %}"></script>


{% get_current_language as LANGUAGE_CODE %}
{% breadcrumbs webpath=webpath leaf=handler %}

{% storage_settings_value "CMS_STORAGE_BASE_API" as base_api %}
{% storage_settings_value "CMS_STORAGE_CDS_API" as cds_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_TOPICS_API" as topics_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_PAGE_TOPICS" as page_topics %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_PAGE_TOPICS_RIGHT_COLUMN" as page_topics_right_column %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_TOPIC_ARTICLES_API" as page_topic_articles %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_ISCRIVERSI_LABEL" as page_title %}
{% storage_settings_value "MAIN_DOMAIN" as unicms_root_url %}

{% include "includes/unical_storage_loading.html" %}


<div class="col-12 py-5 bd-content">
    <div>
        {% block centered_container %}
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <p class="h1 lighter">{{ page_title }}</p>
                        <div class="row" id="_{{ cds_cod }}">
                            <loading-icon
                                class="mt-5"
                                v-if="is_loading"
                                :loader_source="loader_source">
                            </loading-icon>
                            <div v-for="allowed_topic in allowed_topics" v-else>
                                <div v-for="topic in topics" v-if="topic.TopicId == allowed_topic &! empty_topics.includes(topic.TopicId)">
                                    <p class="h4 lighter mt-5">
                                        [[ topic.TopicDescription ]]
                                    </p>
                                    <div :id="'accordionDiv-' + allowed_topic +'-lft'" class="accordion accordion-left-icon">
                                        <div v-for="article in topic_articles" v-if="article.TopicId == allowed_topic">
                                            <!-- collapse item -->
                                            <div class="accordion-item" v-if="article.CdsArticle || (article.CdsObject && article.CdsObject.Object && ((article.CdsObject.ClassObjectId == 'WebPath' && article.CdsObject.ObjectText) || article.CdsObject.ClassObjectId != 'WebPath'))">
                                                <div class="accordion-header" :id="'heading-' + article.ID +'-lft'">
                                                    <button class="accordion-button"
                                                            type="button"
                                                            data-bs-toggle="collapse"
                                                            :data-bs-target="'#collapse-' + article.ID +'-lft'"
                                                            aria-expanded="false"
                                                            :aria-controls="'collapse-' + article.ID +'-lft'">
                                                        <span v-if="article.Title">
                                                            [[ article.Title ]]
                                                        </span>
                                                        <span v-else="article.CdsObject && article.CdsObject.Object">
                                                            <span v-if="article.CdsObject.ClassObjectId == 'Publication'">
                                                                [[ article.CdsObject.Object.title ]]
                                                            </span>
                                                            <span v-else-if="article.CdsObject.ClassObjectId == 'WebPath'">
                                                                [[ article.CdsObject.Object.name ]]
                                                            </span>
                                                        </span>
                                                    </button>
                                                </div>
                                                <div :id="'collapse-' + article.ID +'-lft'"
                                                     class="accordion-collapse collapse"
                                                     :data-bs-parent="'#accordionDiv-' + allowed_topic +'-lft'"
                                                     role="region"
                                                     :aria-labelledby="'heading-' + article.ID +'-lft'">
                                                    <div class="accordion-body">
                                                        <span v-if="article.CdsArticle">
                                                            <vue-markdown :emoji=false :source='article.CdsArticle.ArticleDescription'></vue-markdown>
                                                            <div v-for="other_data in article.OtherData">
                                                                <div class="mt-3">
                                                                    <p class="h6" v-if="other_data.Title">[[ other_data.Title ]]</p>
                                                                    <div v-if="other_data.Text && other_data.TypeID == 4">[[ other_data.Text ]]</div>
                                                                    <a :href="other_data.Link" target="_blank" v-if="other_data.Link">
                                                                        <div v-if="other_data.TypeID == 1">
                                                                            <svg class="icon">
                                                                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-file"></use>
                                                                            </svg>
                                                                            <span v-if="other_data.Text">[[ other_data.Text ]]</span>
                                                                            <span v-else>{% trans "Download" %}</span>
                                                                        </div>
                                                                        <div v-else-if="other_data.TypeID == 2">
                                                                            <svg class="icon">
                                                                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-link"></use>
                                                                            </svg>
                                                                            <span v-if="other_data.Text">[[ other_data.Text ]]</span>
                                                                            <span v-else>{% trans "Open" %}</span>
                                                                        </div>
                                                                        <div v-else-if="other_data.TypeID == 3">
                                                                            <svg class="icon">
                                                                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-video"></use>
                                                                            </svg>
                                                                            <span v-if="other_data.Text">[[ other_data.Text ]]</span>
                                                                            <span v-else>{% trans "Watch video" %}</span>
                                                                        </div>
                                                                        <div v-else-if="other_data.TypeID == 5">
                                                                            <svg class="icon">
                                                                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-link"></use>
                                                                            </svg>
                                                                            <div v-if="other_data.Text">[[ other_data.Text ]]</div>
                                                                            <div v-else>{% trans "Open URL" %}</div>
                                                                        </div>
                                                                        <div v-else-if="other_data.TypeID == 6">
                                                                            <svg class="icon">
                                                                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-mail"></use>
                                                                            </svg>
                                                                            <span v-if="other_data.Text">[[ other_data.Text ]]</span>
                                                                            <span v-else>{% trans "Send email" %}</span>
                                                                        </div>
                                                                        <div v-else-if="other_data.TypeID == 7">
                                                                            <svg class="icon">
                                                                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-tool"></use>
                                                                            </svg>
                                                                            <span v-if="other_data.Text">[[ other_data.Text ]]</span>
                                                                            <span v-else>{% trans "Open ticket" %}</span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </span>
                                                        <span v-else-if="article.CdsObject">
                                                            <span v-html="article.CdsObject.ObjectText"></span>
                                                            <span v-if="article.CdsObject.ClassObjectId == 'Publication'">
                                                                <span v-html="article.CdsObject.Object.content"></span>
                                                            </span>
                                                            <span v-else-if="article.CdsObject.ClassObjectId == 'WebPath'">
                                                                <a :href="article.CdsObject.Object.get_absolute_url">[[ article.CdsObject.Object.name ]]</a>
                                                            </span>
                                                            <div v-for="other_data in article.OtherData">
                                                                <div class="mt-3">
                                                                    <p class="h6" v-if="other_data.Title">[[ other_data.Title ]]</p>
                                                                    <div v-if="other_data.Text && other_data.TypeID == 4">[[ other_data.Text ]]</div>
                                                                    <a :href="other_data.Link" target="_blank" v-if="other_data.Link">
                                                                        <div v-if="other_data.TypeID == 1">
                                                                            <svg class="icon">
                                                                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-file"></use>
                                                                            </svg>
                                                                            <span v-if="other_data.Text">[[ other_data.Text ]]</span>
                                                                            <span v-else>{% trans "Download" %}</span>
                                                                        </div>
                                                                        <div v-else-if="other_data.TypeID == 2">
                                                                            <svg class="icon">
                                                                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-link"></use>
                                                                            </svg>
                                                                            <span v-if="other_data.Text">[[ other_data.Text ]]</span>
                                                                            <span v-else>{% trans "Open" %}</span>
                                                                        </div>
                                                                        <div v-else-if="other_data.TypeID == 3">
                                                                            <svg class="icon">
                                                                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-video"></use>
                                                                            </svg>
                                                                            <span v-if="other_data.Text">[[ other_data.Text ]]</span>
                                                                            <span v-else>{% trans "Watch video" %}</span>
                                                                        </div>
                                                                        <div v-else-if="other_data.TypeID == 5">
                                                                            <svg class="icon">
                                                                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-link"></use>
                                                                            </svg>
                                                                            <div v-if="other_data.Text">[[ other_data.Text ]]</div>
                                                                            <div v-else>{% trans "Open URL" %}</div>
                                                                        </div>
                                                                        <div v-else-if="other_data.TypeID == 6">
                                                                            <svg class="icon">
                                                                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-mail"></use>
                                                                            </svg>
                                                                            <span v-if="other_data.Text">[[ other_data.Text ]]</span>
                                                                            <span v-else>{% trans "Send email" %}</span>
                                                                        </div>
                                                                        <div v-else-if="other_data.TypeID == 7">
                                                                            <svg class="icon">
                                                                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-tool"></use>
                                                                            </svg>
                                                                            <span v-if="other_data.Text">[[ other_data.Text ]]</span>
                                                                            <span v-else>{% trans "Open ticket" %}</span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end collapse item -->
                                            <!-- href button -->
                                            <div v-else-if="article.CdsObject && article.CdsObject.ClassObjectId == 'WebPath' &! article.CdsObject.ObjectText">
                                                <div class="accordion-header accordion-header-href" :id="'static-heading-' + article.ID +'-lft'">
                                                    <a class="no-color"
                                                       target="_blank"
                                                       :title="article.CdsObject.Object.name"
                                                       :href="article.CdsObject.Object.get_absolute_url">
                                                        <button class="accordion-button"
                                                                type="button"
                                                                data-bs-toggle="collapse"
                                                                aria-expanded="false">
                                                            <span v-if="article.Title">
                                                                [[ article.Title ]]
                                                            </span>
                                                            <span v-else="article.CdsObject && article.CdsObject.Object">
                                                                <span v-if="article.CdsObject.ClassObjectId == 'Publication'">
                                                                    [[ article.CdsObject.Object.title ]]
                                                                </span>
                                                                <span v-else-if="article.CdsObject.ClassObjectId == 'WebPath'">
                                                                    [[ article.CdsObject.Object.name ]]
                                                                </span>
                                                            </span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- end href button -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 offset-lg-1">
                        {% include "includes/unical_storage_cds_website_right_static.html" %}
                        <hr style="color: transparent" class="my-3" />
                        {% include "includes/unical_storage_cds_website_right_contacts.html" %}
                        <hr class="my-3" />
                        {% include "includes/unical_storage_cds_website_right_links.html" %}

                        <div id="_cds_website_right_col_dynamic" class="mt-4">
                            <div v-if="_{{ cds_cod }}.topic_articles_right_column && _{{ cds_cod }}.empty_topics_right_column.length == 0">
                                <div class="background-light-grey px-2 py-3 mb-2 w-100">
                                    <div class="row">
                                        <div class="col-2">
                                            <b>
                                                <svg class="icon" aria-labelledby="info_menu">
                                                    <title id="info_menu">{% trans "Informations" %}</title>
                                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-arrow-right-circle"></use>
                                                </svg>
                                            </b>
                                        </div>
                                        <div class="col m-auto align-middle">
                                            <ul class="mb-0 ps-0 list-unstyled">
                                                <li v-for="right_article in _{{ cds_cod }}.topic_articles_right_column"  v-if="right_article.CdsArticle || (right_article.CdsObject && right_article.CdsObject.Object)">
                                                    <a class="no-color" target="_blank" :href="right_article.CdsObject.Object.get_absolute_url">
                                                        <small><b>[[ right_article.Title ]]</b></small>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</div>

<script>
    Vue.use(VueMarkdown);

    var _{{ cds_cod }} = new Vue({
        el: '#_{{ cds_cod }}',
        data() {
            return {
                item: {},
                allowed_topics: {{ page_topics|get_value:'iscriversi'|safe }},
                allowed_topics_right_column: {{ page_topics_right_column|get_value:'iscriversi'|safe }},
                empty_topics: [],
                empty_topics_right_column: [],
                topics: {},
                topic_articles: {},
                topic_articles_right_column: {},
                labels: {},
                url: '{{ url }}?lang={{ LANGUAGE_CODE }}',
                is_loading: true,
                loader_source: '{{ url }}',
                //fields_to_not_show: {{ fields_to_hide|safe }},
            }
        },
        mounted() {
            //this.CallURL();
            this.CallTopics();
            this.CallTopicArticles();
            this.CallTopicArticlesRight();
            //this.CallCds();
        },
        methods: {
            CallTopicArticles() {
                let url = '{{ base_api }}{{ page_topic_articles }}?lang={{ LANGUAGE_CODE }}&page_size=200&cds_cod={{ cds_cod }}&topic_id=' + this.allowed_topics
                axios
                    .get(url)
                    .then(response => {
                        this.topic_articles = response.data.results
                        this.allowed_topics.forEach(
                            topic => {
                                let found = response.data.results.some(el => el.TopicId === topic && (el.CdsArticle || (el.CdsObject && el.CdsObject.Object)));
                                if(!found) this.empty_topics.push(topic)
                            }
                        )
                        this.is_loading = false
                    }
                )
            },
            CallTopicArticlesRight() {
                let url = '{{ base_api }}{{ page_topic_articles }}?lang={{ LANGUAGE_CODE }}&page_size=200&cds_cod={{ cds_cod }}&topic_id=' + this.allowed_topics_right_column
                axios
                    .get(url)
                    .then(response => {
                        this.topic_articles_right_column = response.data.results
                        this.allowed_topics_right_column.forEach(
                            topic => {
                                let found = response.data.results.some(el => el.TopicId === topic && (el.CdsArticle || (el.CdsObject && el.CdsObject.Object)));
                                if(!found) this.empty_topics_right_column.push(topic)
                            }
                        )
                    }
                )
            },
            CallTopics() {
                let url = '{{ base_api }}{{ topics_api }}?lang={{ LANGUAGE_CODE }}&page_size=200'
                axios
                    .get(url)
                    .then(response => {
                        this.topics = response.data.results
                    }
                )
            },
        }
    })

    var _cds_website_right_col_dynamic = new Vue({
        el: '#_cds_website_right_col_dynamic',
        data() {
            return {
                item: {},
                cds: {},
            }
        },
    });
</script>
{% endblock container %}
