{% extends "pages/unical_cds_website.html" %}

{% load static %}
{% load i18n %}

{% load unicms_pages %}

{% load unicms_contexts %}
{% load unicms_storage_handler %}
{% load unicms_templates %}

{% include "includes/unical_storage_loading.html" %}


<!-- SEO  -->
{% block page_title %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_CALENDAR_LABEL" as page_title %}
{{ page_title }} - {{ block.super }}
{% endblock page_title %}


{% block container %}

{% get_current_language as LANGUAGE_CODE %}
{% breadcrumbs webpath=webpath leaf=handler %}

{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_BASE_PATH" as cds_base_path %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_VIEW_PREFIX_PATH" as cds_studiare_path %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_CALENDAR_VIEW_PREFIX_PATH" as cds_studiare_calendar_path %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_SCHEDULE_VIEW_PREFIX_PATH" as cds_studiare_schedule_path %}
{% storage_settings_value "CMS_STORAGE_BASE_API" as base_api %}
{% storage_settings_value "CMS_STORAGE_CDS_API" as cds_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_API" as cds_websites_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_TOPICS_API" as topics_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_PAGE_TOPICS" as page_topics %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_TOPIC_ARTICLES_API" as page_topic_articles %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_LABEL" as page_title %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_CALENDAR_LABEL" as calendar_label %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_STUDIARE_SCHEDULE_LABEL" as schedule_label %}
{% storage_settings_value "MAIN_DOMAIN" as unicms_root_url %}
{% storage_api_root "CMS_STORAGE_TEACHER_API" as teachers_api %}

{% storage_settings_value "CURRENT_YEAR" as current_year %}
{% get_cds_website_current_year cds_cod as last_cds_year %}
{% get_cds_website_morph cds_cod as old_cds_identifiers %}

{% include "includes/unical_storage_loading.html" %}


<div class="col-12 py-5 bd-content">
    <div>
        {% block centered_container %}

            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">

                        <p class="h1 lighter mb-4">
                            <a class="no-color" href="{{ webpath.fullpath }}{{ cds_base_path }}/{{ cds_studiare_path }}/">
                                {{ page_title }}
                            </a>
                        </p>

                        <hr class="my-4" style="color: var(--bordeaux_unical)">

                        <a class="no-color" href="{{ webpath.fullpath }}{{ cds_base_path }}/{{ cds_studiare_path }}/{{ cds_studiare_schedule_path }}/">
                            <span class="badge badge-grey-unical badge-left-text-unical square-corners my-1 me-3 ms-0 pe-5 p-2 mw-100">
                                <p class="h5">
                                    <b>{{ schedule_label }}</b>
                                </p>
                            </span>
                        </a>
                        <a class="no-color" href="{{ webpath.fullpath }}{{ cds_base_path }}/{{ cds_studiare_path }}/{{ cds_studiare_calendar_path }}/">
                            <span class="selected badge badge-grey-unical badge-left-text-unical square-corners my-1 me-3 ms-0 pe-5 p-2 mw-100">
                                <p class="h5">
                                    <b>{{ calendar_label }}</b>
                                </p>
                            </span>
                        </a>

                        <div id="impegniUP" class="mt-5">
                            <div class="mt-3">
                                <div class="card-wrapper card-space mb-3">
                                    <div class="card card-bg card-big no-after">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-check form-check-group">
                                                        <div class="toggles">
                                                            <label for="past_years">
                                                                {% trans "Include exams for not offered teachings" %}
                                                                <input type="checkbox" id="past_years" @change="togglePastYears($event.target.checked)">
                                                                <span class="lever"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-check form-check-group">
                                                        <div class="toggles">
                                                            <label for="all_records">
                                                                {% trans "Show past events" %}
                                                                <input type="checkbox" id="all_records" @change="changeShowPast($event.target.checked)">
                                                                <span class="lever"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-if="years && year && _cds_data.cds.AcademicYear && showYearSelector">
                                                <label for="aa_years">
                                                    <b>{% trans "Year of registration" %}</b>
                                                </label>
                                                <select id="aa_years"
                                                        name="academic_year_input"
                                                        class="form-control"
                                                        @change="changeAcademicYear($event.target.value)">
                                                    <option :value="_cds_data.cds.AcademicYear" selected>
                                                        [[ _cds_data.cds.AcademicYear ]] / [[ _cds_data.cds.AcademicYear + 1 ]]
                                                    </option>
                                                    <option v-for="s_year in years" :value="_cds_data.cds.AcademicYear- s_year">
                                                        [[ _cds_data.cds.AcademicYear - s_year ]] / [[ _cds_data.cds.AcademicYear - s_year + 1 ]]
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="mt-3" v-else>
                                                <label for="up_academic_year">
                                                    <b>{% trans "Academic Year" %}</b>: {{ current_year }}/{{ current_year|add:1 }}
                                                </label>
                                            </div>
                                            <div v-if="years" class="mt-3">
                                                <label for="aa_years">
                                                    <b>{% trans "Degree course year" %}</b>
                                                </label>
                                                <select id="up_years"
                                                        name="course_year_input"
                                                        class="form-control"
                                                        @change="changeYear($event.target.value)">
                                                  <option v-for="y_index in years"
                                                          :value="y_index"
                                                          :selected="year == y_index">
                                                      [[ y_index ]] {% trans "year" %}
                                                  </option>
                                                </select>
                                            </div>
                                            <div v-if="studyplans.length > 1" class="mt-3">
                                                <label for="aa_years">
                                                    <b>{% trans "Teaching" %}</b>
                                                </label>
                                                <select id="up_af"
                                                        name="teaching_input"
                                                        class="form-control"
                                                        @change="choseAF($event.target.value)">
                                                  <option value="">- {% trans "Choose a teaching" %} -</option>
                                                  <optgroup :label="[[ studyplan.StudyPlanName ]]" v-for="studyplan in studyplans">
                                                    <option v-for="teaching in studyplan.StudyActivities[year]" :value="teaching.StudyActivityCod + '-' + teaching.StudyActivityName">
                                                        [[ teaching.StudyActivityCod ]] - [[ teaching.StudyActivityName ]]
                                                    </option>
                                                  </optgroup>
                                                </select>
                                            </div>
                                            <div v-else-if="studyplans.length == 1" class="mt-3">
                                                <label for="aa_years">
                                                    <b>{% trans "Teaching" %}</b>
                                                </label>
                                                <select id="up_af"
                                                        name="teaching_input"
                                                        class="form-control"
                                                        @change="choseAF($event.target.value)">
                                                  <option value="">- {% trans "Choose a teaching" %} </option>
                                                  <option v-if="studyplans.length > 0" v-for="teaching in studyplans[0].StudyActivities[year]" :value="teaching.StudyActivityCod + '-' + teaching.StudyActivityName">
                                                        [[ teaching.StudyActivityCod ]] - [[ teaching.StudyActivityName ]]
                                                  </option>
                                                </select>
                                            </div>
                                            <div class="alert alert-info mt-3" role="alert" v-else>
                                                {% trans "No teaching available for the selected period in the academic year" %} {{ current_year }}/{{ current_year|add:1 }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div v-if="chosen_af_cod != ''">
                                    <loading-icon
                                        v-if="is_loading"
                                        :loader_source="loader_source">
                                    </loading-icon>

                                    <div class="table-responsive" v-else-if="events.length > 0">
                                        <table class="table table-hover table-striped">
                                            <tr v-for="event in events">
                                                <td class="p-3">
                                                    <b>
                                                        [[ new Date(event.dataInizio).toLocaleString("{{ LANGUAGE_CODE }}",
                                                                                            {weekday: 'long',
                                                                                             day: '2-digit',
                                                                                             month: 'long',
                                                                                             year: 'numeric'})]]
                                                    </b>
                                                    <span class="badge bg-success" v-if="event.codice=='ESSE3_ES'">
                                                        {% trans "Confirmed" %}
                                                    </span>
                                                    <span class="badge bg-warning" v-else>
                                                        {% trans "To be confirmed" %}
                                                    </span>
                                                    <span v-if="event.insegnamento != chosen_af_name">
                                                        <br>
                                                        <svg class="icon icon-xs me-2" aria-labelledby="event_insegnamento">
                                                            <title id="event_insegnamento">{% trans "Teaching" %}</title>
                                                            <use href="{% static 'svg/sprites.svg' %}#it-chevron-right"></use>
                                                        </svg> [[ event.insegnamento ]]
                                                    </span>
                                                    <span v-if="event.extra.descr">
                                                        <br>
                                                        <svg class="icon icon-xs me-2" aria-labelledby="event_descr">
                                                            <title id="event_descr">{% trans "Description" %}</title>
                                                            <use href="{% static 'svg/sprites.svg' %}#it-info-circle"></use>
                                                        </svg> [[ event.extra.descr ]]
                                                    </span>
                                                    <br>
                                                    <svg class="icon icon-xs me-2" aria-labelledby="event_hour">
                                                        <title id="event_hour">{% trans "Hour" %}</title>
                                                        <use href="{% static 'svg/sprites.svg' %}#it-clock"></use>
                                                    </svg> [[ event.orarioInizio ]] <span v-if="event.orarioFine">/ [[ event.orarioFine ]]</span>
                                                    <span v-if="event.aula">
                                                        <br>
                                                        <svg class="icon icon-xs me-2" aria-labelledby="event_location">
                                                            <title id="event_location">{% trans "Location" %}</title>
                                                            <use href="{% static 'svg/sprites.svg' %}#it-map-marker"></use>
                                                        </svg> [[ event.aula ]]
                                                    </span>
                                                    <span v-if="event.edificio">
                                                        <br>
                                                        <svg class="icon icon-xs me-2" aria-labelledby="event_building">
                                                            <title id="event_building">{% trans "Building" %}</title>
                                                            <use href="{% static 'svg/sprites.svg' %}#it-pa"></use>
                                                        </svg> [[ event.edificio ]]
                                                    </span>
                                                    <span v-for="docente in event.docenti">
                                                        <br>
                                                        <svg class="icon icon-xs me-2" aria-labelledby="event_teacher">
                                                            <title id="event_teacher">{% trans "Teacher" %}</title>
                                                            <use href="{% static 'svg/sprites.svg' %}#it-user"></use>
                                                        </svg> [[ docente ]]
                                                    </span>
                                                    <span v-if="event.extra.dataInizioIscrizioni">
                                                        <br>
                                                        <svg class="icon icon-xs me-2" aria-labelledby="event_registration">
                                                            <title id="event_registration">{% trans "Subscriptions" %}</title>
                                                            <use href="{% static 'svg/sprites.svg' %}#it-check"></use>
                                                        </svg>
                                                        {% trans "Prenotazioni" %}
                                                        {% trans "dal" %} [[ event.extra.dataInizioIscrizioni ]]
                                                        <span v-if="event.extra.dataFineIscrizioni">
                                                            {% trans "al" %} [[ event.extra.dataFineIscrizioni ]]
                                                        </span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div v-else-if="events.length == 0">
                                        {% trans "No items here" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Orario lezioni -->
                    </div>
                    <div class="col-12 col-lg-3 offset-lg-1">
                        {% include "includes/unical_storage_cds_website_right_static.html" %}
                        <hr style="color: transparent" class="my-3" />
                        {% include "includes/unical_storage_cds_website_right_contacts.html" %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</div>

<script>
    var _{{ cds_cod }}_impegniUP = new Vue({
        el: '#impegniUP',
        data () {
            return {
                academic_year: '{{ current_year }}',
                events: [],
                years: [],
                year: 1,
                is_loading: true,
                loader_source: '',
                regdidid: null,
                regdid_year: null,
                url: '',
                studyplans: [],
                chosen_af_name: '',
                chosen_af_cod: '',
                show_past: false,
                old_cds_identifiers: {{ old_cds_identifiers|safe }},
                old_cds_found: false,
                cds_identifier: '{{ cds_cod }}',
                showYearSelector: false
            } //end return
        }, //end data
        mounted()  {},
        methods: {
            {% include "includes/unical_storage_cds_website_scroll.html" %}
            getEvents() {
                this.is_loading = true
                this.events = []
                let up_url = '{{ base_api }}{{ cds_websites_api }}' + this.cds_identifier + '/exams/?lang={{ LANGUAGE_CODE }}&academic_year=' + this.academic_year + '&year=' + this.year + '&af_name=' + this.chosen_af_name + '&af_cod=' + this.chosen_af_cod + '&show_past=' + this.show_past
                axios
                    .get(up_url)
                    .then(response => {
                        this.events = response.data
                        this.is_loading = false
                    })
            },
            callStudyPlans(regdid=null) {
                if(!regdid) regdid = this.regdidid
                let teachings_url = "{{ base_api }}{{ cds_api }}" + regdid + "/studyplans/?lang={{ LANGUAGE_CODE }}"
                axios
                    .get(teachings_url)
                    .then(response => {
                        this.studyplans = response.data.results
                    })
            },
            choseAF(af_string){
                this.chosen_af_cod = af_string.substring(0, af_string.indexOf('-'))
                this.chosen_af_name = af_string.substring(af_string.indexOf('-')+1)
            },
            changeAcademicYear(year){
                this.academic_year = year
                this.changeYear()
            },
            async getOldYears(year) {
                for(let i=0;i<this.old_cds_identifiers.length;i++) {
                    if(this.old_cds_found) break;
                    url = '{{ base_api }}{{ cds_api }}?lang={{ LANGUAGE_CODE }}&cdscod=' + this.old_cds_identifiers[i] + '&academicyear=' + year
                    await axios
                        .get(url)
                        .then(response => {
                            if(response.data.results && response.data.results.length > 0){
                                this.old_cds_found = true
                                this.cds_identifier = this.old_cds_identifiers[i]
                                this.callStudyPlans(response.data.results[0].RegDidId)
                            }
                        })
                }
                this.old_cds_found = false
            },
            changeYear(year=1){
                this.year = year
                this.chosen_af_cod = ''
                this.chosen_af_bane = ''
                let ac_year = this.academic_year - year + 1
                let url = '{{ base_api }}{{ cds_api }}?lang={{ LANGUAGE_CODE }}&cdscod={{ cds_cod }}&academicyear=' + ac_year
                axios
                    .get(url)
                    .then(response => {
                        this.studyplans = []
                        if(response.data.results && response.data.results.length == 0){
                            this.getOldYears(ac_year)
                        }
                        else if(response.data.results && response.data.results.length > 0){
                            this.callStudyPlans(response.data.results[0].RegDidId)
                        }
                    })
            },
            changeShowPast(value) {
                this.show_past = value
                if(this.chosen_af_cod)
                    this.getEvents()
            },
            togglePastYears(value) {
                this.showYearSelector = value
                if(value) this.changeAcademicYear('{{ last_cds_year }}')
                else this.changeAcademicYear('{{ current_year }}')
            }
        },
        watch: {
            regdidid: function(val) {
                let year_index = 1
                while(year_index <= _cds_data.cds.CdSDuration) {
                    this.years.push(year_index)
                    year_index += 1
                }
                if(this.regdid_year >= this.academic_year)
                    this.callStudyPlans()
            },
            chosen_af_cod: function(val) {
                if(val != '') this.getEvents()
                else this.events = []
                this.is_loading = true
            },
        }
    }) //end "new Vue"
</script>
{% endblock container %}
