{% extends "pages/unical_cds_website.html" %}

{% load static %}
{% load i18n %}

{% load unicms_contexts %}
{% load unicms_storage_handler %}
{% load unicms_templates %}

{% include "includes/unical_storage_loading.html" %}


<!-- SEO  -->
{% block page_title %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_ORGANIZZAZIONE_LABEL" as page_title %}
{{ page_title }} - {{ block.super }}
{% endblock page_title %}


{% block container %}

<script src="{% static 'js/vue-markdown.js' %}"></script>


{% get_current_language as LANGUAGE_CODE %}
{% breadcrumbs webpath=webpath leaf=handler %}

{% storage_settings_value "CMS_STORAGE_BASE_API" as base_api %}
{% storage_settings_value "CMS_STORAGE_CDS_API" as cds_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_TOPICS_API" as topics_api %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_PAGE_TOPICS" as page_topics %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_TOPIC_ARTICLES_API" as page_topic_articles %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_ORGANIZZAZIONE_LABEL" as page_title %}
{% storage_settings_value "MAIN_DOMAIN" as unicms_root_url %}

{% include "includes/unical_storage_loading.html" %}


<div class="col-12 py-5 bd-content">
    <div>
        {% block centered_container %}
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <p class="h1 lighter">{{ page_title }}</p>
                        <div class="row mt-5" id="_{{ cds_cod }}" >

                            <div id="accordionDivGroups-lft" class="accordion accordion-left-icon" >
                                <div class="accordion-item" v-for="gruppo in _cds_data.cds.CdsOrganizations">
                                    <div class="accordion-header" :id="'heading-' + gruppo.id +'-lft'">
                                        <button class="accordion-button"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                :data-bs-target="'#collapse-' + gruppo.id +'-lft'"
                                                aria-expanded="false"
                                                :aria-controls="'collapse-' + gruppo.id +'-lft'">
                                            [[ gruppo.DescrBreveIt ]]
                                        </button>
                                    </div>
                                    <div :id="'collapse-' + gruppo.id +'-lft'"
                                         class="accordion-collapse collapse"
                                         data-bs-parent="#accordionDivGroups-lft"
                                         role="region"
                                         :aria-labelledby="'heading-' + gruppo.id +'-lft'">
                                        <div class="accordion-body mt-3">

                                            <ul>
                                                <li v-for="member in gruppo.Members">
                                                    [[ member.Cognome ]] [[ member.Nome ]]
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 offset-lg-1">
                        {% include "includes/unical_storage_cds_websites_right.html" %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</div>

<script>
    Vue.use(VueMarkdown);

    var _{{ cds_cod }} = new Vue({
        el: '[id="_{{ cds_cod }}"]',
        data() {
            return {}
        },
    })
</script>
{% endblock container %}
