{% load i18n %}
{% load static %}
{% load unicms_storage_handler %}
{% load unicms_templates %}

{% load unicms_template_italia %}

{% get_allowed_website request.get_host as host %}
{% get_cdsid_from_url url as cdsid %}
{% get_current_language as LANGUAGE_CODE %}

{% random_id uid as id %}

{% settings_value "CMS_PATH_PREFIX" as cms_path_prefix %}
{% storage_settings_value "CMS_STORAGE_BASE_PATH" as base_prefix %}
{% storage_api_root "CMS_STORAGE_TEACHER_API" as teachers_api %}
{% storage_settings_value "ALLOWED_CDS_JOINT_DEGREES" as allowed_joint_degrees %}
{% storage_settings_value "ALMALAUREA_LINK" as almalaurea_link %}
{% storage_settings_value "CDS_INFO_FIELDS" as fields_to_show %}
{% storage_settings_value "CMS_STORAGE_STRUCTURE_VIEW_PREFIX_PATH" as structures_prefix %}
{% storage_settings_value "CMS_STORAGE_ADDRESSBOOK_VIEW_PREFIX_PATH" as addressbook_prefix %}
{% storage_settings_value "CMS_STORAGE_TEACHER_VIEW_PREFIX_PATH" as teachers_prefix %}
{% storage_settings_value "BREADCRUMB_LAST" as breadcrumb_last %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_BASE_PATH" as cds_websites_basepath %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_REDIRECT_VIEW_PREFIX_PATH" as cds_websites_redirect_path %}

{% settings_value "EXTERNAL_SOURCES_COOKIE_POLICY_URL" as external_sources_cookie_policy_url %}


{% include "includes/unical_storage_loading.html" %}


{% if full_page %}
<div class="row">
    <div class="col-12 col-lg-8">
{% endif %}
        <div id="{{ id }}">

            <loading-icon
                v-if="is_loading"
                :loader_source="loader_source">
            </loading-icon>

            <div v-else-if="Object.keys(item).length">
                <h1 class="lighter">
                    [[ item.CdSName ]]
                    <span v-if="item.RegDidId == 21540">
                    {% if LANGUAGE_CODE != 'it' %}
                        (inter-university)
                    {% else %}
                        (interateneo)
                    {% endif %}
                    </span>
                </h1>
                <div class="my-3">
                    <h3 class="lighter" style="display: inline">
                        [[ item.CourseTypeDescription ]]
                        <span v-if="item.ErogationMode && item.ErogationMode != 'Convenzionale'">
                            ([[ item.ErogationMode ]])
                        </span>
                    </h3>
                    <h3 class="lighter"
                        v-for="joint in joint_degree_filter"
                        v-if="item.JointDegree == joint.COD && item.JointDegree != 'N'"
                        style="display: inline">
                        &nbsp;- [[ joint.name ]]
                    </h3>
                </div>
                <p>
                    {% comment %}
                    <span v-if="item.CdSCod">
                        [[ labels['CdSCod'] ]]  [[ item.CdSCod ]]
                        <br>
                    </span>
                    {% endcomment %}

                    <span v-if="item.CourseInterClassCod">
                        {% trans "Interclass degree" %}
                        <br>
                    </span>

                    <span v-if="item.CourseClassName">
                        [[ item.CourseClassName ]] ([[ item.CourseClassCod ]])
                        <br>
                    </span>
                    <span v-if="item.CourseInterClassCod">
                        [[ item.CourseInterClassDes ]] ([[ item.CourseInterClassCod ]])
                        <br>
                    </span>
                    <span v-if="item.DepartmentName">
                        <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ structures_prefix }}/' + item.DepartmentCod +'/'">
                            [[ item.DepartmentName ]]
                        </a>
                    </span>
                </p>
                <div class="card-wrapper pb-0">
                    <div class="card no-after" style="border:1px solid #b71918">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-auto" v-if="item.CdSDuration">
                                    <span>
                                        [[ labels['AcademicYear'] ]]
                                        <b>[[ item.AcademicYear ]]/[[ item.AcademicYear + 1 ]]</b>
                                    </span>
                                </div>
                                <div class="col-12 col-md-auto" v-if="item.CdSDuration">
                                    <span>
                                        [[ labels['CdSDuration'] ]] >
                                        <b>[[ item.CdSDuration ]] {% trans "years" %}</b>
                                    </span>
                                </div>
                                <div class="col-12 col-md-auto" v-if="item.CdSLanguage.length > 0 && item.CdSLanguage[0]">
                                    <span>
                                        [[ labels['CdSLanguage'] ]] >
                                        <b>[[ item.CdSLanguage.join(', ') ]] </b>
                                    </span>
                                </div>

                                <div class="col-12 col-md-auto">
                                    <span>
                                        <a target="_blank" :href="'/{{ cms_path_prefix }}{{ cds_websites_basepath }}/' + item.CdSCod +'/{{ cds_websites_redirect_path }}/'">
                                            <b>{% trans "Website" %} >></b>
                                        </a>
                                    </span>
                                </div>
                            </div>
                                {% comment %}
                                <div class="col-12 col-md-auto" v-if="item.OtherData.SeatsNumber">
                                    <span>
                                    [[ labels['SeatsNumber'] ]]
                                    <span>
                                        <b>[[ item.OtherData.SeatsNumber ]]</b>
                                    </span>
                                    </span>
                                </div>

                                <div class="col-12" v-if="item.OtherData.DirectorName && item.OtherData.DirectorName.trim().length>0">
                                    <hr>
                                    <span>
                                    [[ labels['DirectorName'] ]]
                                    <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ teachers_prefix }}/' + item.OtherData.DirectorId +'/'" v-if="item.OtherData.DirectorId">
                                        <b>[[ item.OtherData.DirectorName ]]</b>
                                    </a>
                                    <span v-else>
                                        <b>[[ item.OtherData.DirectorName ]]</b>
                                    </span>
                                    </span>
                                </div>

                                <div class="col-12" v-if="item.OtherData.DeputyDirectorName && item.OtherData.DeputyDirectorName.trim().length>0">
                                    <span>
                                    [[ labels['DeputyDirectorName'] ]]
                                    <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ teachers_prefix }}/' + item.OtherData.DeputyDirectorId +'/'" v-if="item.OtherData.DeputyDirectorId">
                                        <b>[[ item.OtherData.DeputyDirectorName ]]</b>
                                    </a>
                                    <span v-else>
                                        <b>[[ item.OtherData.DeputyDirectorName ]]</b>
                                    </span>
                                    </span>
                                </div>
                            </div>

                            <div class="row" v-if="item.OfficesData" v-for="office in item.OfficesData">
                                <div class="col-12">
                                    <hr>
                                    <span>
                                        [[ labels['OfficeDirectorName'] ]]
                                        <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ addressbook_prefix }}/' + office.OfficeDirector +'/'" v-if="office.DirectorId">
                                            <b>[[ office.OfficeDirectorName ]]</b>
                                        </a>
                                        <span v-else>
                                            <b>[[ office.OfficeDirectorName ]]</b>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-12" v-if="office.TelOffice && office.TelOffice.trim().length>0">
                                    <span>
                                        [[ labels['TelOffice'] ]]
                                        <span>
                                            <b>[[ office.TelOffice ]]</b>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-12" v-if="office.Email && office.Email.trim().length>0">
                                    <span>
                                        [[ labels['Email'] ]]
                                        <span>
                                            <a :href="'mailto:'+office.Email">
                                                <b>[[ office.Email ]]</b>
                                            </a>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-12" v-if="(office.Building && office.Building.trim().length>0) || (office.Floor && office.Floor.trim().length>0)">
                                    <span v-if="office.Building && office.Building.trim().length>0">
                                        [[ labels['Building'] ]]
                                        <span>
                                            <b>[[ office.Building ]]</b>
                                        </span>
                                    </span>
                                    <span v-if="office.Floor && office.Floor.trim().length>0">
                                        [[ labels['Floor'] ]]
                                        <span>
                                            <b>[[ office.Floor ]]</b>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-12" v-if="office.Timetables && office.Timetables.trim().length>0">
                                    <span>
                                        [[ labels['Timetables'] ]]
                                        <span v-html="office.Timetables"></span>
                                    </span>
                                </div>
                                <div class="col-12" v-if="office.OnlineCounter && office.OnlineCounter.trim().length>0">
                                    <span>
                                        [[ labels['OnlineCounter'] ]]
                                        <span>
                                            <b>[[ office.OnlineCounter ]]</b>
                                        </span>
                                    </span>
                                </div>

                            </div>

                            <div class="col-12" v-if="item.CdsUrl">
                                <hr />
                                <span>
                                    <a :href="[[ item.CdsUrl ]]" target="_blank" rel="noopener noreferrer">
                                        <b>{% trans "Website" %} >></b>
                                    </a>
                                </span>
                            </div>

                            {% endcomment %}

                        </div>
                    </div>
                </div>


                {% comment %}
                <div class="mt-4" v-if="item.CdSVideo">
                    <div class="ratio ratio-16x9">
                        <iframe :title="item.CdSVideo"
                                :src="youtubeNoCookie(item.CdSVideo)"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                {% endcomment %}
                
                <div class="mt-4" v-if="item.CdSVideo">
                    <div class="ratio ratio-16x9" v-if="has_consent">
                        <iframe :title="item.CdSVideo"
                                :src="youtubeNoCookie(item.CdSVideo)"
                                allowfullscreen
                                loading="lazy"
                                sandbox="allow-scripts allow-same-origin allow-popups allow-presentation">
                        </iframe>
                    </div>
                    <div v-else>
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">{% trans "Third Party Content" %}</h4>
                            <hr>
                            <p>
                                {% trans "To view content from the external source" %} <b>[[ host ]]</b>
                                (<a :href="item.CdSVideo" target="_blank" rel="nofollow">{% trans "link" %}</a>) {% trans "explicit consent is required" %}.
                            </p>
                            <p>
                                {% trans "Accept cookies from" %} <b>[[ host ]]</b> {% trans "to access the resource" %}.
                            </p>
                            <p>
                                {% trans "You can manage your preferences" %}
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modalCookie">{% trans "here" %}</a>
                                {% trans "or in the" %}
                                <a href="{{ external_sources_cookie_policy_url }}" target="_blank">cookie policy</a>.
                            </p>
                            <div class="form-check">
                                <input id="{{ id }}_permanent" type="checkbox" v-model="permanent">
                                <label for="{{ id }}_permanent">
                                    {% trans "Remember my choice" %}
                                </label>
                            </div>
                            <button type="button" class="btn btn-secondary btn-xs mt-2" @click="addConsent()">
                                {% trans "Allow" %}
                            </button>
                        </div>
                    </div>
                </div>

                
                <div class="my-4">
                    <span v-if="containsHTML(item.CdSIntro)" v-html="item.CdSIntro"></span>
                    <span v-else style="white-space: pre-line">[[ item.CdSIntro ]]</span>
                </div>

                {% if not full_page %}
                <div class="card-wrapper pb-0 mb-4" v-if="item.CdSDoc">
                    <div class="card no-after" style="border:1px solid #b71918">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-auto">
                                    <a :href="item.CdSDoc" target="_blank" v-if="item.CdSDoc.includes('https') || item.CdSDoc.includes('http')">
                                        <svg class="m-auto icon icon-muted">
                                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-clip"></use>
                                        </svg> <b>{% trans "Download brochure" %}</b>
                                    </a>
                                    <a :href="item.CdSDoc" target="_blank" v-else>
                                        <svg class="m-auto icon icon-muted">
                                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-clip"></use>
                                        </svg> <b>{% trans "Download brochure" %}</b>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div id="accordionDiv1-lft" class="accordion accordion-left-icon">
                    {% if full_page %}
                    <div v-for="name in fields_to_show" v-if="item[name] && (item[name].length > 0 || Object.keys(item[name]).length > 0) && name != 'CdSSatisfactionSurvey'">
                    {% else %}
                    <div v-for="name in fields_to_show" v-if="item[name] && (item[name].length > 0 || Object.keys(item[name]).length > 0)">
                    {% endif %}
                        <div class="accordion-item">
                            <div class="accordion-header" :id="'heading-' + name +'-lft'">
                                <button class="accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        :data-bs-target="'#collapse-' + name +'-lft'"
                                        aria-expanded="false"
                                        :aria-controls="'collapse-' + name +'-lft'">
                                    [[ labels[name] ]]
                                </button>
                            </div>
                            <div :id="'collapse-' + name +'-lft'"
                                 class="accordion-collapse collapse"
                                 data-bs-parent="#accordionDiv1-lft"
                                 role="region"
                                 :aria-labelledby="'heading-' + name +'-lft'">
                                <div class="accordion-body">
                                    <span v-if="Array.isArray(item[name])">
                                        <ul>
                                            <li v-for="subvalue in item[name]">
                                                <span v-if="containsHTML(subvalue)" v-html="subvalue"></span>
                                                <span v-else>[[ subvalue ]]</span>
                                            </li>
                                        </ul>
                                    </span>
                                    <span v-else-if="typeof item[name] === 'object'">
                                        <ul v-for="(valueProfile, nameProfile) in item[name]">
                                            <li>
                                                [[ nameProfile ]]
                                                <ul v-for="(valueProfileInstance, nameProfileInstance) in valueProfile">
                                                    <li>
                                                        <span v-if="nameProfileInstance in labels"
                                                              style="white-space: pre-line;">
                                                            [[ labels[nameProfileInstance] ]]
                                                        </span>
                                                        <span v-else>
                                                            [[ nameProfileInstance ]]
                                                        </span> :
                                                        <span v-if="containsHTML(valueProfileInstance)" v-html="valueProfileInstance"></span>
                                                        <span v-else style="white-space: pre-line;">[[ valueProfileInstance ]]</span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </span>
                                    <span v-else>
                                        <span style="white-space: pre-line;">
                                            {% if full_page %}
                                            <a v-if="name != 'CdSSatisfactionSurvey' && name == 'CdSDoc'" v-bind:href="item[name]">
                                                [[ item[name] ]]
                                            </a>
                                            <span v-else-if="name != 'CdSSatisfactionSurvey'">
                                                <span v-if="containsHTML(item[name])" v-html="item[name]"></span>
                                                <span v-else>[[ item[name] ]]</span>
                                            </span>
                                            {% else %}
                                            <a v-if="name == 'CdSSatisfactionSurvey'" v-bind:href="'{{ almalaurea_link }}' + item[name]">
                                                {{ almalaurea_link }}[[ item[name] ]]
                                            </a>
                                            <a v-else-if="name == 'CdSDoc'" v-bind:href="item[name]">
                                                [[ item[name] ]]
                                            </a>
                                            <span v-else>
                                                <span v-if="containsHTML(item[name])" v-html="item[name]"></span>
                                                <span v-else>[[ item[name] ]]</span>
                                            </span>
                                            {% endif %}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>
                {% include "includes/unical_storage_empty.html" with url=url %}
            </div>
        </div>


        <!-- studyplans block import -->

        {% clean_url url as cleaned_url %}
        {% with cleaned_url|add:"/studyplans/" as studyplans_url %}
        {% include "blocks/unical_storage_cdsstudyplans_v3.html" with url=studyplans_url uid=id|add:"_1" father_uid=id full_page=full_page %}
        {% endwith %}

        {% comment %}
        <div id="accordionDiv2-lft" class="accordion-div accordion-left-icon">
            <div class="accordion-item">
                <div class="accordion-header" id="heading-studyplans-lft">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse-studyplans-lft"
                            aria-expanded="false"
                            aria-controls="collapse-studyplans-lft">
                        {% trans "Study plans" %}
                    </button>
                </div>
                 <div id="collapse-studyplans-lft"
                     class="accordion-collapse collapse"
                     data-bs-parent="#accordionDiv2-lft"
                     role="region"
                     aria-labelledby="heading-studyplans-lft">
                    <div class="accordion-body mt-3">
                        {% clean_url url as cleaned_url %}
                        {% with cleaned_url|add:"/studyplans/" as studyplans_url %}
                        {% include "blocks/unical_storage_cdsstudyplans_v3.html" with url=studyplans_url uid=id|add:"_1" change_breadcrumb={{ change_breadcrumb }} %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}

        <h5 class="mt-4 mb-3">{% trans "Faculty" %}</h5>
        <!-- teachers block import -->
        <div id="accordionDiv3-lft" class="accordion accordion-left-icon">
            <div class="accordion-item">
                <div class="accordion-header" id="heading-teachers-lft">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse-teachers-lft"
                            aria-expanded="false"
                            aria-controls="collapse-teachers-lft">
                        {% trans "Academic Courses" %}&nbsp;<span id="{{ id }}_cds_year"></span>
                    </button>
                </div>
                <div id="collapse-teachers-lft"
                     class="accordion-collapse collapse"
                     data-bs-parent="#accordionDiv3-lft"
                     role="region"
                     aria-labelledby="heading-teachers-lft">
                    <div class="accordion-body mt-3">
                        {% include "blocks/unical_storage_teacherslist_without_filters.html" with uid=id|add:"_2" mark_contract_teachers=1 %}
                    </div>
                </div>
            </div>
        </div>


{% if full_page %}
    </div>
    <div class="col-12 col-lg-3 offset-lg-1" id="{{ id }}_contacts">
        <div class="d-none d-lg-block">
            {% include "includes/unical_storage_history_back.html" %}
        </div>

        <div class="row mt-4" v-if="item.OtherData && item.OtherData.DirectorName && item.OtherData.DirectorName.trim().length>0">
            <div class="col-12"><hr></div>
            <div class="col-2">
                <svg class="icon icon-muted">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-user"></use>
                </svg>
            </div>
            <div class="col-9 align-left">
                <span>
                    <b>[[ labels['DirectorName'] ]]</b>
                    <br>
                    <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ teachers_prefix }}/' + item.OtherData.DirectorId +'/'" v-if="item.OtherData.DirectorId">
                        [[ item.OtherData.DirectorName ]]
                    </a>
                    <span v-else>
                        [[ item.OtherData.DirectorName ]]
                    </span>
                </span>
            </div>
        </div>

        <div v-if="item.OtherData && item.OtherData.DeputyDirectorName && item.OtherData.DeputyDirectorName.trim().length>0" class="row">
            <div class="col-12"><hr></div>
            <div class="col-2">
                <svg class="icon icon-muted">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-user"></use>
                </svg>
            </div>
            <div class="col-9 align-left">
                <span>
                    <b>[[ labels['DeputyDirectorName'] ]]</b>
                    <br>
                    <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ teachers_prefix }}/' + item.OtherData.DeputyDirectorId +'/'" v-if="item.OtherData.DeputyDirectorId">
                        [[ item.OtherData.DeputyDirectorName ]]
                    </a>
                    <span v-else>
                        [[ item.OtherData.DeputyDirectorName ]]
                    </span>
                </span>
            </div>
        </div>

        <div v-if="item.OfficesData" v-for="office in item.OfficesData" class="row p-mb-0">
            <div class="col-12"><hr></div>
            <div class="col-2">
                <svg class="icon icon-muted">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-info-circle"></use>
                </svg>
            </div>
            <div class="col-9 align-left">
                <span>
                    <b>[[ office.OfficeName ]]</b>
                    <div class="mt-2">
                        <div class="row">
                            <div class="col-12">
                                <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ addressbook_prefix }}/' + office.OfficeDirector +'/'" v-if="office.OfficeDirector && office.OfficeDirectorName">
                                    [[ office.OfficeDirectorName ]]
                                </a>
                                <span v-else-if="office.OfficeDirectorName">
                                    [[ office.OfficeDirectorName ]]
                                </span>
                            </div>
                        </div>
                        <div class="row" v-if="office.TelOffice && office.TelOffice.trim().length>0">
                            <div class="col-2">
                                <svg class="icon icon-sm icon-muted me-2">
                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-telephone"></use>
                                </svg>
                            </div>
                            <div class="col-10">
                                [[ office.TelOffice ]]
                            </div>
                        </div>
                        <div class="row" v-if="office.Email && office.Email.trim().length>0">
                            <div class="col-2">
                                <svg class="icon icon-sm icon-muted me-2">
                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-mail"></use>
                                </svg>
                            </div>
                            <div class="col-10">
                                <a :href="'mailto:'+office.Email">
                                    [[ office.Email ]]
                                </a>
                            </div>
                        </div>
                        <div class="row" v-if="(office.Building && office.Building.trim().length>0) || (office.Floor && office.Floor.trim().length>0)">
                            <div class="col-2">
                                <svg class="icon icon-sm icon-muted me-2">
                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-map-marker"></use>
                                </svg>
                            </div>
                            <div class="col-10">
                                <div v-if="office.Building && office.Building.trim().length>0">
                                    [[ labels['Building'] ]] [[ office.Building ]]
                                </div>
                                <div v-if="office.Floor && office.Floor.trim().length>0">
                                    [[ labels['Floor'] ]] [[ office.Floor ]]
                                </div>
                            </div>
                        </div>
                        <div class="row" v-if="office.Timetables && office.Timetables.trim().length>0">
                            <div class="col-2">
                                <svg class="icon icon-sm icon-muted me-2">
                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-clock"></use>
                                </svg>
                            </div>
                            <div class="col-10">
                                <span v-html="office.Timetables"></span>
                            </div>
                        </div>
                        <div class="row" v-if="office.OnlineCounter && office.OnlineCounter.trim().length>0">
                            <div class="col-2">
                                <svg class="icon icon-sm icon-muted me-2">
                                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-link"></use>
                                </svg>
                            </div>
                            <div class="col-10">
                                <a :href="office.OnlineCounter" target="_blank" rel="noreferrer noopener">
                                    [[ labels['OnlineCounter'] ]]
                                </a>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>

        <div v-if="item.CdSDoc || item.CdSSatisfactionSurvey || item.StudyManifesto || item.DidacticRegulation || item.TeachingSystem" class="mt-4">
            <div class="background-light-grey px-2 py-3 mb-2 w-100" v-if="item.CdSDoc || item.StudyManifesto || item.DidacticRegulation || item.TeachingSystem">
                <div class="row">
                    <div class="col-2">
                        <b>
                            <svg class="icon" aria-labelledby="doc_menu">
                                <title id="doc_menu">{% trans "Documents" %}</title>
                                <use xlink:href="{% static 'svg/sprites.svg' %}#it-files"></use>
                            </svg>
                        </b>
                    </div>
                    <div class="col m-auto align-middle">
                        <ul class="mb-0 ps-0 list-unstyled">
                            <li v-if="item.CdSDoc">
                                <a :href="item.CdSDoc" class="no-color" target="_blank">
                                    <span><b>- {% trans "Degree course brochure" %}</b></span>
                                </a>
                            </li>
                            <li v-if="item.StudyManifesto">
                                <a :href="item.StudyManifesto" class="no-color" target="_blank">
                                    <span><b>- [[ labels.StudyManifesto ]]</b></span>
                                </a>
                            </li>
                            <li v-if="item.DidacticRegulation">
                                <a :href="item.DidacticRegulation" class="no-color" target="_blank">
                                    <span><b>- [[ labels.DidacticRegulation ]]</b></span>
                                </a>
                            </li>
                            <li v-if="item.TeachingSystem">
                                <a :href="item.TeachingSystem" class="no-color" target="_blank">
                                    <span><b>- [[ labels.TeachingSystem ]]</b></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="background-light-grey px-2 py-3 mb-2 w-100" v-if="item.CdSSatisfactionSurvey">
                <div class="row">
                    <div class="col-2 text-center" style="font-size: x-large">
                        <span style="font-weight: 400" title='{% trans "Digital services" %}'>@</span>
                    </div>
                    <div class="col m-auto align-middle">
                        <ul class="mb-0 ps-0 list-unstyled">
                            <li>
                                <a class="no-color" target="_blank" :href="'{{ almalaurea_link }}' + item.CdSSatisfactionSurvey">
                                    <span><b>[[ labels['CdSSatisfactionSurvey'] ]]</b></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<script>

//Vue.use(VueMarkdown);

var {{ id }} = new Vue({
    el: '#{{ id }}',
    data() {
        return {
            item: {},
            labels: {},
            url: '{{ url }}?lang={{ LANGUAGE_CODE }}',
            fields_to_show: {{ fields_to_show|safe }},
            is_loading: true,
            loader_source: '{{ url }}',
            joint_degree_filter: {{ allowed_joint_degrees|safe }},

            has_consent: false,
            host: "",
            permanent: false
        }
    },
    mounted() {
        //this.CallURL(); called by studyPlans.CallCdS()
        this.CallURL()
    },
    methods: {
        containsHTML(s) {
            return /<\/?[a-z][\s\S]*>/i.test(s)
        },
        CallURL() {
            axios
                .get(this.url)
                .then(response => {
                    this.item = response.data.results;
                    this.labels = response.data.labels;
                    this.is_loading = false
                    
                    {{ id }}_contacts.item = response.data.results;
                    {{ id }}_contacts.labels = response.data.labels;

                    {% if change_breadcrumb %}
                    document.getElementsByClassName("{{ breadcrumb_last }}")[0].innerHTML = this.item.CdSName
                    document.title = this.item.CdSName
                    {% endif %}

                    // set nested block values

                    // studyplans
                    {{ id }}_1.regdidid = response.data.results['RegDidId']
                    {{ id }}_1.degree_class = response.data.results.CourseClassCod
                    {{ id }}_1.interclass_degree_class = response.data.results.CourseInterClassCod
                    {{ id }}_1.academic_year = response.data.results.AcademicYear

                    {{ id }}_2.cds_cod = response.data.results.CdSCod
                    {{ id }}_2.academic_year = response.data.results.AcademicYear
                    document.getElementById("{{ id }}_cds_year").innerHTML = response.data.results.AcademicYear + "/" + (response.data.results.AcademicYear+1)

                    this.host = normalizeHost(response.data.results.CdSVideo)
                    this.has_consent = hasConsent(response.data.results.CdSVideo)
                });
        },
        youtubeNoCookie(value) {
            return value.replace("youtube.com", "youtube-nocookie.com")
        },

        addConsent() {
            this.has_consent = true
            if(this.permanent) editConsent(this.host)
        },
    }
})

var {{ id }}_contacts = new Vue({
    el: '#{{ id }}_contacts',
    data() {
        return {
            item: {},
            labels: {},
        }
    },
})
</script>
