{% load i18n %}
{% load static %}

{% load unicms_storage_handler %}
{% load unicms_templates %}

{% random_id uid as id %}
{% include "includes/unical_storage_loading.html" %}

{% get_current_language as LANGUAGE_CODE %}
{% get_allowed_website request.get_host as host %}

{% settings_value "CMS_PATH_PREFIX" as cms_path_prefix %}
{% storage_settings_value "ALLOWED_ADDRESSBOOK_ROLES" as allowed_roles %}
{% storage_settings_value "ALLOWED_STRUCTURE_TYPES" as allowed_structure_types %}
{% storage_settings_value "ADDRESSBOOK_SPECIAL_ROLES" as addressbook_special_roles %}
{% storage_settings_value "CMS_STORAGE_BASE_PATH" as base_prefix %}
{% storage_settings_value "CMS_STORAGE_TEACHER_VIEW_PREFIX_PATH" as teachers_prefix %}
{% storage_settings_value "CMS_STORAGE_STRUCTURE_VIEW_PREFIX_PATH" as structures_prefix %}
{% storage_settings_value "ADDRESSBOOK_INFO_NOT_SHOW" as fields_to_hide %}
{% storage_settings_value "BREADCRUMB_LAST" as breadcrumb_last %}
{% storage_settings_value "ADDRESSBOOK_SPECIAL_ROLES" as addressbook_special_roles %}


<div id="{{ id }}">

    <loading-icon
        v-if="is_loading"
        :loader_source="loader_source">
    </loading-icon>

    <div v-else-if="Object.keys(item).length">
        <div class="row">
            {% comment %}
            <div class="col-12 col-lg-2 d-flex">
                <svg class="m-auto icon icon-xl icon-muted">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-user"></use>
                </svg>
            </div>
            {% endcomment %}
            <div class="col-12 my-3 my-lg-0">
                <h2 class="lighter">
                    [[ item.Name ]]
                </h2>
                <h3 class="lighter" v-if="special_roles.includes(item.ProfileId)">
                    [[ item.ProfileDescription ]]
                </h3>
            </div>
        </div>
        <hr class="my-4 bordeaux-unical-bg">
        <div class="table-responsive">
            <table class="table table-sm table-hover table-striped">
                <tbody>
                    <tr v-for="(value, name) in item" v-if="value && !fields_to_not_show.includes(name) && value != ''">
                        <td>
                            [[ labels[name] ]]
                        </td>
                        <td v-if="Array.isArray(value)">
                            <ul v-if="name == 'Roles'" style="list-style: none" class="ps-0">
                                <li v-for="(subvalue, index) in value" v-if="((allowed_roles.length==0 || allowed_roles.includes(subvalue.Role)) && (allowed_structure_types.length==0 || allowed_structure_types.includes(subvalue.StructureTypeCOD))) || special_roles.includes(item.ProfileId)">
                                    <hr v-if="index > 0">
                                    <span v-if="subvalue.StructureTypeCOD != '000'">
                                        <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ structures_prefix }}/' + subvalue.StructureCod +'/'">
                                            [[ subvalue.Structure ]]
                                        </a>
                                        <br>
                                    </span>
                                    <span v-if="special_roles.includes(item.ProfileId)">[[ item.ProfileDescription ]]</span>
                                    <span v-else>[[ subvalue.RoleDescription ]]</span>
                                </li>
                            </ul>
                            <ul v-else-if="name == 'PersonFunctions'">
                                <li v-for="subvalue in value">
                                    <span style="white-space: pre-line;">
                                        [[ subvalue.TeacherRole]]
                                    </span>
                                    <br>
                                    <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ structures_prefix }}/' + subvalue.StructureCod +'/'">
                                        [[ subvalue.StructureName]]
                                    </a>
                                </li>
                            </ul>
                            <ul class="list-unstyled" v-else>
                                <li v-for="subvalue in value">
                                    [[ subvalue ]]
                                </li>
                            </ul>
                        </td>
                        <td v-else-if="typeof value === 'object'">
                            <ul class="list-unstyled">
                                <li v-for="v in value">
                                    <a v-if="name == 'WebSite'"
                                       :href="v" target="_blank">
                                        [[ v ]]
                                    </a>
                                    <span style="white-space: pre-line;" v-else>
                                        [[ v ]]
                                    </span>
                                </li>
                            </ul>
                        </td>
                        <td v-else>

                            <a v-if="item.Teacher == 1 && name == 'Teacher'"
                               :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ teachers_prefix }}/' + item.ID +'/'">
                                {% trans "Link" %}
                            </a>

                            <a v-else-if="name == 'Structure' && item.StructureTypeCOD != '000'"
                               :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ structures_prefix }}/' + item.StructureCod +'/'">
                                [[ value ]]
                            </a>

                            <span v-else-if="name != 'Structure'" style="white-space: pre-line;">
                                [[ value ]]
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div v-else>
        {% include "includes/unical_storage_empty.html" with url=url %}
    </div>

</div>
<script>
    var {{ id }} = new Vue({
        el: '#{{ id }}',
        data() {
            return {
                allowed_roles: {{ allowed_roles|safe }},
                allowed_structure_types: {{ allowed_structure_types|safe }},
                addressbook_special_roles: {{ addressbook_special_roles|safe }},
                item: {},
                errors: {},
                labels: {},
                url: '{{ url }}?lang={{ LANGUAGE_CODE }}',
                is_loading: true,
                loader_source: '{{ url }}',
                fields_to_not_show: {{ fields_to_hide|safe }},
                special_roles: {{ addressbook_special_roles|safe }},
            }
        },
        mounted() {
            this.CallURL();
        },
        methods: {
            CallURL() {
                axios
                    .get(this.url)
                    .then(response => {
                        this.item = response.data.results;
                        this.labels = response.data.labels;
                        this.is_loading = false
                        {% if change_breadcrumb %}
                        document.getElementsByClassName("{{ breadcrumb_last }}")[0].innerHTML = this.item.Name
                        document.title = this.item.Name
                        {% endif %}
                    })
                    .catch(error => {
                        if(error.response)
                            for (var key in error.response.data) {
                                this.errors[key] = error.response.data[key]
                            }
                        this.is_loading = false
                    });
            }
        }
    })
</script>
