{% extends "blocks/unical_storage_cdslist_areas.html" %}

{% load i18n %}
{% load static %}
{% load unicms_storage_handler %}
{% load unicms_templates %}


{% block content %}

{% get_current_language as LANGUAGE_CODE %}
{% get_allowed_website request.get_host as host %}
{% settings_value "CMS_PATH_PREFIX" as cms_path_prefix %}
{% storage_settings_value "CMS_STORAGE_BASE_PATH" as base_prefix %}
{% storage_settings_value "CMS_STORAGE_CDS_VIEW_PREFIX_PATH" as cds_prefix %}
{% storage_settings_value "CDS_EXCLUDE_YEAR" as cds_exclude_year %}


<div id="{{ id }}">

    <div v-if="(initial_items && initial_items.length) || parameters">

        <loading-icon
            v-if="is_loading"
            :loader_source="loader_source">
        </loading-icon>

        <div v-else>
            <div class="bd-example-tabs d-none d-lg-block">
                <div class="row">
                    <div class="col-4 col-md-4">
                        <div class="nav nav-tabs nav-tabs-vertical" id="nav-vertical-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link"
                                :class="{'active': index==0}"
                                :id="'nav-vertical-tab' + index + '-tab'"
                                data-bs-toggle="tab"
                                :href="'#nav-vertical-tab' + index"
                                role="tab"
                                :aria-controls="'nav-vertical-tab' + index"
                                :aria-selected="index==0?true:false"
                                v-for="(area, index) in cds_areas"
                                v-if="area.AreaCds && items.results.filter(result => (result.AreaCds == area.AreaCds)).length">
                                <p class="h6" v-if="area.AreaCds == 'Medico Sanitaria'">
                                    {% if LANGUAGE_CODE == 'it' %}
                                        Area
                                    {% endif %}
                                    Medico-Sanitaria
                                    {% if LANGUAGE_CODE != 'it' %}
                                        {% trans "Course Area" %}
                                    {% endif %}
                                </p>
                                <p class="h6" v-else>
                                    {% if LANGUAGE_CODE == 'it' %}
                                        Area
                                    {% endif %}
                                    [[ area.AreaCds ]]
                                    {% if LANGUAGE_CODE != 'it' %}
                                        {% trans "Course Area" %}
                                    {% endif %}
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-8 col-md-8">
                        <div class="tab-content" id="nav-vertical-tabContent">
                            <div class="tab-pane p-3 fade"
                                :class="{'show active': index==0}"
                                :id="'nav-vertical-tab' + index"
                                role="tabpanel"
                                :aria-labelledby="'nav-vertical-tab' + index + '-tab'"
                                v-for="(area, index) in cds_areas"
                                v-if="area.AreaCds && items.results.filter(result => (result.AreaCds == area.AreaCds)).length">
                                <ul class="list-unstyled">
                                    <li v-for="item in items.results" v-if="item.AreaCds == area.AreaCds">
                                        <a class="no-color"
                                           {% block cds_area_item_link %}:href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ cds_prefix }}/' + item.RegDidId +'/'"{% endblock cds_area_item_link %}
                                           {% if request.get_host != host %}target="_blank"{% endif %}>
                                            <span>
                                            <b>[[ item.CdSName.charAt(0).toUpperCase() + item.CdSName.slice(1).toLowerCase() ]]</b>
                                            <b v-if="item.RegDidId == 21540">
                                            {% if LANGUAGE_CODE != 'it' %}
                                                (inter-university)
                                            {% else %}
                                                (interateneo)
                                            {% endif %}
                                            </b>
                                            <span>
                                                - [[ item.CourseType ]]
                                            </span>
                                            <span v-if="item.ErogationMode && item.ErogationMode != 'Convenzionale'">
                                                ([[ item.ErogationMode ]])
                                            </span>
                                            <span v-if="arrayLower(item.CdSLanguage, 'english') || arrayLower(item.CdSLanguage, 'inglese')">
                                                <span class="me-1" v-if="arrayLower(item.CdSLanguage, 'italian')">
                                                    <img src="{% static 'images/ita.jpg' %}" alt="{% trans 'Italian' %}"/>
                                                </span>
                                                <img src="{% static 'images/eng.jpg' %}" alt="{% trans 'English' %}"/>
                                            </span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="accordionDivCds-lft" class="accordion accordion-left-icon d-lg-none">

                <div class="accordion-item"
                     v-for="(area, index) in cds_areas"
                     v-if="area.AreaCds && items.results.filter(result => (result.AreaCds == area.AreaCds)).length">
                    <div class="accordion-header" :id="'heading-' + index +'-lft'">
                        <button class="accordion-button"
                                type="button"
                                data-bs-toggle="collapse"
                                :data-bs-target="'#collapse-' + index +'-lft'"
                                aria-expanded="false"
                                :aria-controls="'collapse-' + index +'-lft'">
                            <span v-if="area.AreaCds == 'Medico Sanitaria'">
                                {% if LANGUAGE_CODE == 'it' %}
                                    Area
                                {% endif %}
                                Medico-Sanitaria
                                {% if LANGUAGE_CODE != 'it' %}
                                    {% trans "Course Area" %}
                                {% endif %}
                            </span>
                            <span v-else>
                                {% if LANGUAGE_CODE == 'it' %}
                                    Area
                                {% endif %}
                                [[ area.AreaCds ]]
                                {% if LANGUAGE_CODE != 'it' %}
                                    {% trans "Course Area" %}
                                {% endif %}
                            </span>
                        </button>
                    </div>
                    <div :id="'collapse-' + index +'-lft'"
                         class="accordion-collapse collapse"
                         data-bs-parent="#accordionDivCds-lft"
                         role="region"
                         :aria-labelledby="'heading-' + index +'-lft'"
                         v-if="area.AreaCds && items.results.filter(result => (result.AreaCds == area.AreaCds)).length">
                        <div class="accordion-body">
                            <ul class="list-unstyled">
                                <li v-for="item in items.results" v-if="item.AreaCds == area.AreaCds">
                                    <a class="no-color"
                                       {% block cds_area_item_link_mobile %}:href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ cds_prefix }}/' + item.RegDidId +'/'"{% endblock cds_area_item_link_mobile %}
                                       {% if request.get_host != host %}target="_blank"{% endif %}>
                                        <span>
                                        <b>[[ item.CdSName.charAt(0).toUpperCase() + item.CdSName.slice(1).toLowerCase() ]]</b>
                                        <b v-if="item.RegDidId == 21540">
                                        {% if LANGUAGE_CODE != 'it' %}
                                            (inter-university)
                                        {% else %}
                                            (interateneo)
                                        {% endif %}
                                        </b>
                                        <span>
                                            - [[ item.CourseType ]]
                                        </span>
                                        <span v-if="item.ErogationMode && item.ErogationMode != 'Convenzionale'">
                                            ([[ item.ErogationMode ]])
                                        </span>
                                        <span v-if="arrayLower(item.CdSLanguage, 'english') || arrayLower(item.CdSLanguage, 'inglese')">
                                            <span class="me-1" v-if="arrayLower(item.CdSLanguage, 'italian')">
                                                <img src="{% static 'images/ita.jpg' %}" alt="{% trans 'Italian' %}"/>
                                            </span>
                                            <img src="{% static 'images/eng.jpg' %}" alt="{% trans 'English' %}"/>
                                        </span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div v-else>
        {% trans "No items here" %}
    </div>

</div>
{% endblock content %}
