{% load i18n %}
{% load static %}
{% load unicms_storage_handler %}

{% include "includes/unical_storage_loading.html" %}

{% storage_settings_value "CMS_STORAGE_BASE_API" as base_api %}
{% storage_settings_value "CMS_STORAGE_DEPARTMENTS_API" as department_api %}

<div id="_cds_website_info_icons">
    <loading-icon v-if="_cds_data.is_loading"></loading-icon>
    <div class="p-4 dark-grey-background" v-else>
        <div class="row">
            <div class="col-12 col-lg-4 mb-3">
                <img class="me-3" src="{% static 'images/dipartimento.svg' %}" width="64" height="64" />
                <div class="d-inline-block w-75 align-middle">
                    <b>
                        <a :href="department_url" class="no-color" target="_blank" v-if="department_url" title="{% trans 'Website' %}">
                            [[ _cds_data.fixed_cds.DepartmentName ]]
                        </a>
                        <span v-else>
                            [[ _cds_data.fixed_cds.DepartmentName ]]
                        </span>
                    </b>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-3">
                <img class="me-3" src="{% static 'images/classe_laurea.svg' %}" width="64" height="64"/>
                <div class="d-inline-block w-75 align-middle">
                    <b>
                        ([[ _cds_data.cds.CourseClassCod ]]) [[ _cds_data.cds.CourseClassName ]]
                        <span v-if="_cds_data.fixed_cds.CourseInterClassCod">
                            <br>
                            <b>([[ _cds_data.fixed_cds.CourseInterClassCod ]])</b> [[ _cds_data.fixed_cds.CourseInterClassDes ]]
                        </span>
                    </b>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-3">
                <img class="me-3" src="{% static 'images/durata.svg' %}" width="64" height="64"/>
                <div class="d-inline-block w-75 align-middle">
                    [[ _cds_data.cds_labels.CdSDuration ]]
                    <br>
                    <b>[[ _cds_data.cds.CdSDuration ]] {% trans "years" %}</b>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                <img class="me-3" src="{% static 'images/modalita.svg' %}" width="64" height="64"/>
                <div class="d-inline-block w-75 align-middle">
                    [[ _cds_data.cds_labels.ErogationMode ]]
                    <br>
                    <b>[[ _cds_data.cds.ErogationMode ]]</b>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                <img class="me-3" src="{% static 'images/cfu.svg' %}" width="64" height="64"/>
                <div class="d-inline-block w-75 align-middle">
                    {% trans "ETCS" %}
                    <br>
                    <b>[[ _cds_data.cds.CdSECTS ]]</b>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <img class="me-3" src="{% static 'images/lingua.svg' %}" width="64" height="64"/>
                <div class="d-inline-block w-75 align-middle">
                    {% trans "Language" %}
                    <br>
                    <b>
                        <span v-for="(lang, index)  in _cds_data.cds.CdSLanguage">
                            <span v-if="index > 0">, </span>
                                [[ lang ]]
                        </span>
                    </b>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var _cds_website_info_icons = new Vue({
    el: '#_cds_website_info_icons',
    data() {
        return {
            department_url: null,
            department_cod: null
        }
    },
    methods: {
        getDepartment() {
            let url = '{{ base_api }}{{ department_api }}' + this.department_cod +'/'
            axios
                .get(url)
                .then(response => {
                    this.department_url = response.data.results.DepartmentURL
                }
            )
        },
    }, //methods
    watch: {
        department_cod: function(val) {
            this.getDepartment()
        }
    }
});
</script>
