{% extends "blocks/unical_storage_cdslist_areas.html" %}

{% load i18n %}
{% load unicms_storage_handler %}


{% block current_year %}
{% storage_settings_value "CURRENT_YEAR" as current_year %}
initial_academic_year: {{ id }}_get_param('academicyear') || '{{ current_year }}',
{% endblock current_year %}

{% block academic_year_select %}
{% endblock academic_year_select %}

{% block cds_area_item_link %}

{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_BASE_PATH" as cds_websites_basepath %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_REDIRECT_VIEW_PREFIX_PATH" as cds_websites_redirect_path %}

:href="'{{ cds_websites_basepath }}/' + item.CdSCod +'/{{ cds_websites_redirect_path }}/'"

{% endblock cds_area_item_link %}

{% block cds_area_item_link_mobile %}

{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_BASE_PATH" as cds_websites_basepath %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_REDIRECT_VIEW_PREFIX_PATH" as cds_websites_redirect_path %}

:href="'{{ cds_websites_basepath }}/' + item.CdSCod +'/{{ cds_websites_redirect_path }}/'"

{% endblock cds_area_item_link_mobile %}

{% block cds_area_item_special_tag %}
<span v-if="item.Old" class="badge bg-secondary">{% trans "Phasing out" %}</span>
{% endblock cds_area_item_special_tag %}

{% block cds_area_item_special_tag_mobile %}
<span v-if="item.Old" class="badge bg-secondary">{% trans "Phasing out" %}</span>
{% endblock cds_area_item_special_tag_mobile %}

{% block method_callurl %}
{% storage_settings_value "CMS_WEBPATH_CDS_OLD" as cms_webpath_cds_old %}

async CallURL(url, initial=false) {
    this.is_loading = true
    this.loader_source = url
    if (!url.includes("academicyear") && this.initial_academic_year)
        url = url + '&academicyear=' + this.initial_academic_year
    if (!url.includes("coursetype") && this.allowed_course_types.length > 0)
        url = url + '&coursetype=' + this.allowed_course_types.toString()

    await axios
        .get(url)
        .then(response => {
            if(initial) this.initial_items = response.data.results;
            this.items = response.data;
            this.next_page = response.data.next;
            this.previous_page = response.data.previous;
            this.labels = response.data.labels;
        })

    const cms_webpath_cds_old = {{ cms_webpath_cds_old|safe }}

    for (const [cdscod, year] of Object.entries(cms_webpath_cds_old)) {
        axios
            .get(url + '&academicyear=' + year + '&cdscod=' + cdscod)
            .then(response => {
                for(const c of response.data.results){
                    c.Old = 1;
                    this.items.results.push(c);
                }
                this.items.results.sort((a, b) => a.CdSName.localeCompare(b.CdSName))
            })
    }

    this.is_loading = false;
},
{% endblock method_callurl %}
