{% extends "blocks/unical_storage_high_formation_masters_list.html" %}

{% load i18n %}
{% load static %}
{% load unicms_storage_handler %}
{% load unicms_templates %}


{% block filters_course_type %}
{% endblock filters_course_type %}

{% block filters_coursetype_script %}
{% endblock filters_coursetype_script %}

{% block extra_mounted %}
this.callDepartments();
this.callErogationModes();
this.parameters = {{ id }}_encodeQueryData(this.getItemsFromSession("{{ id }}"))
{% endblock extra_mounted %}
