{% load i18n %}
{% load static %}
{% load unicms_storage_handler %}
{% load unicms_templates %}

{% get_allowed_website request.get_host as host %}
{% get_cdsid_from_url url as cdsid %}
{% get_current_language as LANGUAGE_CODE %}

{% random_id uid as id %}

{% settings_value "CMS_PATH_PREFIX" as cms_path_prefix %}
{% storage_settings_value "CMS_STORAGE_BASE_PATH" as base_prefix %}
{% storage_settings_value "CDS_INFO_FIELDS" as fields_to_show %}
{% storage_settings_value "CMS_STORAGE_STRUCTURE_VIEW_PREFIX_PATH" as structures_prefix %}
{% storage_settings_value "CMS_STORAGE_ADDRESSBOOK_VIEW_PREFIX_PATH" as addressbook_prefix %}
{% storage_settings_value "BREADCRUMB_LAST" as breadcrumb_last %}

{% include "includes/unical_storage_loading.html" %}

<script src="{% static 'js/vue-markdown.js' %}"></script>

{% if full_page %}
<div class="row">
    <div class="col-12 col-lg-8">
{% endif %}
        <div id="{{ id }}">

            <loading-icon
                v-if="is_loading"
                :loader_source="loader_source">
            </loading-icon>

            <div v-else-if="Object.keys(item).length">
                <h1 class="lighter">[[ item.ActivityName ]]</h1>

                {% comment %}
                <p>
                    <span v-if="item.ReferentStructureName">
                            <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ structures_prefix }}/' + item.ReferentStructureId +'/'" v-if="item.ReferentStructureId">
                                [[ item.ReferentStructureName ]]
                            </a>
                            <span v-else>
                                [[ item.ReferentStructureName ]]
                            </span>
                    </span>
                </p>
                {% endcomment %}
                <div class="card-wrapper pb-0">
                    <div class="card no-after" style="border:1px solid #b71918">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-auto" v-if="item.ReferentStructureName && item.ActivityType=='Ateneo'">
                                    <span>
                                        [[ labels['ReferentStructureName'] ]] >
                                        <b>[[ item.ReferentStructureName ]]</b>
                                    </span>
                                </div>
                                <div class="col-12 col-md-auto" v-if="item.ReferentPhd && item.ActivityType!='Ateneo'">
                                    <span>
                                        [[ labels['ReferentPhd'] ]] >
                                        <b>[[ item.ReferentPhd ]]</b>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-auto" v-if="item.Cycle">
                                    <span>
                                        [[ labels['Cycle'] ]] >
                                        <b>[[ item.Cycle ]]</b>
                                    </span>
                                </div>
                                <div class="col-12 col-md-auto" v-if="item.ActivityTipology">
                                    <span>
                                        [[ labels['ActivityTipology'] ]] >
                                        <b>[[ item.ActivityTipology ]]</b>
                                    </span>
                                </div>
                                <div class="col-12 col-md-auto" v-if="item.SSD">
                                    <span>
                                        [[ labels['SSD'] ]] >
                                        <b>[[ item.SSD ]]</b>
                                    </span>
                                </div>
                                <div class="col-12 col-md-auto" v-if="item.Hours">
                                    <span>
                                        [[ labels['Hours'] ]] >
                                        <b>[[ item.Hours ]]</b>
                                    </span>
                                </div>
                                <div class="col-12 col-md-auto" v-if="item.CFU">
                                    <span>
                                        [[ labels['CFU'] ]] >
                                        <b>[[ item.CFU ]] </b>
                                    </span>
                                </div>
                                <div class="col-12 col-md-auto" v-if="item.MinStudents">
                                    <span>
                                        [[ labels['MinStudents'] ]] >
                                        <b>[[ item.MinStudents ]] </b>
                                    </span>
                                </div>
                                <div class="col-12 col-md-auto" v-if="item.MaxStudents">
                                    <span>
                                        [[ labels['MaxStudents'] ]] >
                                        <b>[[ item.MaxStudents ]] </b>
                                    </span>
                                </div>
                                <div class="col-12 col-md-auto" v-if="item.FinalTest">
                                    <span>
                                        [[ labels['FinalTest'] ]] >
                                        <b v-if="item.FinalTest">{% trans "Yes" %}</b>
                                        <b v-else>{% trans "No" %}</b>
                                    </span>
                                </div>
                                <div class="col-12 col-md-auto" v-if="item.ActivityStart">
                                    <span>
                                        [[ labels['ActivityStart'] ]] >
                                        <b>[[ item.ActivityStart ]] </b>
                                    </span>
                                </div>
                                <div class="col-12 col-md-auto" v-if="item.ActivityEnd">
                                    <span>
                                        [[ labels['ActivityEnd'] ]] >
                                        <b>[[ item.ActivityEnd ]] </b>
                                    </span>
                                </div>
                                <div class="col-12 col-md-auto" v-if="item.ClassroomsTimetable">
                                    <span>
                                        [[ labels['ClassroomsTimetable'] ]] >
                                        <span v-html="item.ClassroomsTimetable"></span>
                                    </span>
                                </div>
                                <div class="col-12 col-md-auto" v-if="item.ShowTimetable">
                                    <span>
                                        [[ labels['ShowTimetable'] ]] >
                                        <b>[[ item.ShowTimetable ]] </b>
                                    </span>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="my-4">
                    <span v-html="item.ActivityContents"></span>
                </div>

                <!-- Main Teachers -->
                <div v-if="item.MainTeachers && item.MainTeachers.length"
                     id="collapse_main_teachers_{{ id }}"
                     class="accordion accordion-left-icon">
                    <div class="accordion-item">
                        <div class="accordion-header" id="{{ id }}_heading-main-teachers-lft">
                            <button class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#{{ id }}_collapse-main-teachers-lft"
                                    aria-expanded="false"
                                    aria-controls="{{ id }}_collapse-main-teachers-lft">
                                {% trans "Main Teachers" %}
                            </button>
                        </div>
                        <div id="{{ id }}_collapse-main-teachers-lft"
                             class="accordion-collapse collapse"
                             role="region"
                             data-bs-parent="#collapse_main_teachers_{{ id }}"
                             aria-labelledby="{{ id }}_heading-main-teachers-lft">
                            <div class="accordion-body">
                                <ul>
                                    <li v-for="subvalue in item.MainTeachers" v-if="subvalue.PersonName && subvalue.PersonName != ''">
                                        <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ addressbook_prefix }}/' + subvalue.PersonId +'/'" v-if="subvalue.PersonId">
                                            [[ subvalue.PersonName ]]
                                        </a>
                                        <span v-else>
                                            [[ subvalue.PersonName ]]
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Other Teachers -->
                <div v-if="item.OtherTeachers && item.OtherTeachers.length"
                     id="collapse_other_teachers_{{ id }}"
                     class="accordion accordion-left-icon">
                    <div class="accordion-item">
                        <div class="accordion-header" id="{{ id }}_heading-other-teachers-lft">
                            <button class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#{{ id }}_collapse-other-teachers-lft"
                                    aria-expanded="false"
                                    aria-controls="{{ id }}_collapse-other-teachers-lft">
                                {% trans "Other Teachers" %}
                            </button>
                        </div>
                        <div id="{{ id }}_collapse-other-teachers-lft"
                             class="accordion-collapse collapse"
                             data-bs-parent="#collapse_other_teachers_{{ id }}"
                             role="region"
                             aria-labelledby="{{ id }}_heading-other-teachers-lft">
                            <div class="accordion-body">
                                <ul>
                                    <li v-for="subvalue in item.OtherTeachers" v-if="subvalue.PersonName && subvalue.PersonName != ''">
                                        <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ addressbook_prefix }}/' + subvalue.PersonId +'/'" v-if="subvalue.PersonId">
                                            [[ subvalue.PersonName ]]
                                        </a>
                                        <span v-else>
                                            [[ subvalue.PersonName ]]
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



            <!-- Notes -->
                <div v-if="item.Notes"
                     id="collapse_notes_{{ id }}"
                     class="accordion accordion-left-icon">
                    <div class="accordion-item">
                        <div class="accordion-header" id="{{ id }}_heading-notes-lft">
                            <button class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#{{ id }}_collapse-notes-lft"
                                    aria-expanded="false"
                                    aria-controls="{{ id }}_collapse-notes-lft">
                                {% trans "Notes" %}
                            </button>
                        </div>
                        <div id="{{ id }}_collapse-notes-lft"
                             class="accordion-collapse collapse"
                             role="region"
                             data-bs-parent="#collapse_notes_{{ id }}"
                             aria-labelledby="{{ id }}_heading-notes-lft">
                            <div class="accordion-body">
                                [[ item.Notes ]]
                            </div>
                        </div>
                    </div>
                </div>

            <!-- Final Test Mode -->
                <div v-if="item.FinalTestMode && item.FinalTestMode.length"
                     id="collapse_final_test_mode_{{ id }}"
                     class="accordion accordion-left-icon">
                    <div class="accordion-item">
                        <div class="accordion-header" id="{{ id }}_heading-final-test-mode-lft">
                            <button class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#{{ id }}_collapse-final-test-mode-lft"
                                    aria-expanded="false"
                                    aria-controls="{{ id }}_collapse-final-test-mode-lft">
                                {% trans 'Final Test Mode' %}
                            </button>
                        </div>
                        <div id="{{ id }}_collapse-final-test-mode-lft"
                             class="accordion-collapse collapse"
                             data-bs-parent="#collapse_final_test_mode_{{ id }}"
                             role="region"
                             aria-labelledby="{{ id }}_heading-final-test-mode-lft">

                            <div class="accordion-body">
                                <span v-html="item.FinalTestMode"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div v-else>
                {% include "includes/unical_storage_empty.html" with url=url %}
            </div>
        </div>

{% if full_page %}
    </div>
</div>
{% endif %}

<script>

Vue.use(VueMarkdown);

var {{ id }} = new Vue({
        el: '#{{ id }}',
        data() {
            return {
                item: {},
                labels: {},
                url: '{{ url }}?lang={{ LANGUAGE_CODE }}',
                is_loading: true,
                loader_source: '{{ url }}',
                {#fields_to_not_show: {{ fields_to_hide|safe }},#}
            }
        },
        mounted() {
            this.CallURL();
        },
        methods: {
            CallURL() {
                axios
                    .get(this.url)
                    .then(response => {
                        this.item = response.data.results;
                        this.labels = response.data.labels;
                        this.is_loading = false
                        {% if change_breadcrumb %}
                        document.getElementsByClassName("{{ breadcrumb_last }}")[0].innerHTML = this.item.ActivityName
                        document.title = this.item.ActivityName
                        {% endif %}
                    })
            }
        }
    })
</script>
