{% load i18n %}
{% load static %}

{% include "includes/unical_storage_loading.html" %}

<div id="_cds_website_info_icons">
    <loading-icon v-if="_cds_data.is_loading"></loading-icon>
    <div class="p-4 dark-grey-background" v-else>
        <div class="row">
            <div class="col-12 col-lg-4 mb-3">
                <svg class="icon icon-xl p-2 me-3" style="background: #fff; fill: var(--bordeaux_unical); border: 1px solid #000; border-radius: 50%">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-pa"></use>
                </svg>
                <div class="d-inline-block w-75 align-middle">[[ _cds_data.fixed_cds.DepartmentName ]]</div>
            </div>
            <div class="col-12 col-lg-4 mb-3">
                <svg class="icon icon-xl p-2 me-3" style="background: #fff; fill: var(--bordeaux_unical); border: 1px solid #000; border-radius: 50%">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-bookmark"></use>
                </svg>
                <div class="d-inline-block w-75 align-middle">
                    [[ _cds_data.cds.CourseClassCod ]] - [[ _cds_data.cds.CourseClassName ]]
                    <span v-if="_cds_data.fixed_cds.CourseInterClassCod">
                        <br>[[ _cds_data.fixed_cds.CourseInterClassCod ]] - [[ _cds_data.fixed_cds.CourseInterClassDes ]]
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-3">
                <svg class="icon icon-xl p-2 me-3" style="background: #fff; fill: var(--bordeaux_unical); border: 1px solid #000; border-radius: 50%">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-clock"></use>
                </svg>
                <div class="d-inline-block w-75 align-middle">
                    [[ _cds_data.cds_labels.CdSDuration ]]<br>[[ _cds_data.cds.CdSDuration ]] {% trans "years" %}
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                <svg class="icon icon-xl p-2 me-3" style="background: #fff; fill: var(--bordeaux_unical); border: 1px solid #000; border-radius: 50%">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-horn"></use>
                </svg>
                <div class="d-inline-block w-75 align-middle">
                    [[ _cds_data.cds_labels.ErogationMode ]]<br>[[ _cds_data.cds.ErogationMode ]]
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                <svg class="icon icon-xl p-2 me-3" style="background: #fff; fill: var(--bordeaux_unical); border: 1px solid #000; border-radius: 50%">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-chart-line"></use>
                </svg>
                <div class="d-inline-block w-75 align-middle">
                    {% trans "ETCS" %}<br>[[ _cds_data.cds.CdSECTS ]]
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <svg class="icon icon-xl p-2 me-3" style="background: #fff; fill: var(--bordeaux_unical); border: 1px solid #000; border-radius: 50%">
                    <use xlink:href="{% static 'svg/sprites.svg' %}#it-hearing"></use>
                </svg>
                <div class="d-inline-block w-75 align-middle">
                    {% trans "Language" %}
                    <br>
                    <span v-for="(lang, index)  in _cds_data.cds.CdSLanguage">
                        <span v-if="index > 0">, </span>
                            [[ lang ]]
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var _cds_website_info_icons = new Vue({
    el: '#_cds_website_info_icons',
    data() {
        return {}
    },
});
</script>
