{% load static %}

{% load i18n %}

{% load unicms_storage_handler %}
{% load unicms_templates %}

{% include "includes/unical_storage_loading.html" %}

{% get_current_language as LANGUAGE_CODE %}
{% get_allowed_website request.get_host as host %}

{% random_id uid as id %}

{% settings_value "CMS_PATH_PREFIX" as cms_path_prefix %}
{% storage_settings_value "CMS_STORAGE_BASE_PATH" as base_prefix %}
{% storage_settings_value "CMS_STORAGE_STRUCTURE_VIEW_PREFIX_PATH" as structures_prefix %}
{% storage_api_root "CMS_STORAGE_LABORATORY_API" as laboratories_api %}
{% storage_api_root "CMS_STORAGE_RESEARCH_GROUP_API" as research_groups_api %}
{% storage_api_root "CMS_STORAGE_BASE_RESEARCH_LINE_API" as base_research_lines_api %}
{% storage_api_root "CMS_STORAGE_APPLIED_RESEARCH_LINE_API" as applied_research_lines_api %}
{% storage_settings_value "TEACHER_INFO_NOT_SHOW" as fields_to_hide %}
{% storage_settings_value "BREADCRUMB_LAST" as breadcrumb_last %}

<script src="{% static 'js/vue-markdown.js' %}"></script>

{% if full_page %}
<div class="row">
    <div class="col-12 col-lg-8">
{% endif %}

<!-- Profile photo and name -->
<div id="{{ id }}_head">
    <div class="row" v-if="Object.keys(item).length">
        <div class="col-2 d-flex">
            <img :src="item.PhotoPath" class="w-100" style="border-radius: 50%" v-if="item.PhotoPath && item.PhotoPath != ''" />
            <img src="{% static 'images/user.avif' %}" class="w-100" v-else />
        </div>
        <div class="col my-0 ms-2">
            <h2 class="lighter">
                [[ item.TeacherFirstName ]] [[ item.TeacherLastName ]]
            </h2>
            <h3 class="lighter">
                [[ item.TeacherRoleDescription ]]
            </h3>
            <p v-if="!item.TeacherSSDCod.includes('0000')">
                [[ item.TeacherSSDDescription ]] ([[ item.TeacherSSDCod ]])
            </p>
        </div>
    </div>
    <hr v-if="Object.keys(item).length">
    <div v-else>
        {% include "includes/unical_storage_empty.html" with url=url %}
    </div>
</div>
<!-- END profile photo and name -->

<ul class="nav nav-tabs nav-tabs-icon-text" id="{{ id }}_tabList" role="tablist" v-if="Object.keys(item).length">
    <li class="nav-item">
        <a class="nav-link active" id="profileTab-tab" data-bs-toggle="tab" href="#profileTab" role="tab" aria-controls="profileTab" aria-selected="true">
            <svg class="icon"><use href="{% static 'svg/sprites.svg' %}#it-user"></use></svg>
            {% trans "Profile" %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab2b-tab" data-bs-toggle="tab" href="#tab2b" role="tab" aria-controls="tab2b" aria-selected="false">
            <svg class="icon"><use href="{% static 'svg/sprites.svg' %}#it-horn"></use></svg>
            {% trans "Notice board" %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab3b-tab" data-bs-toggle="tab" href="#tab3b" role="tab" aria-controls="tab3b" aria-selected="false">
            <svg class="icon"><use href="{% static 'svg/sprites.svg' %}#it-note"></use></svg>
            CV
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab4b-tab" data-bs-toggle="tab" href="#tab4b" role="tab" aria-controls="tab4b" aria-selected="false">
            <svg class="icon"><use href="{% static 'svg/sprites.svg' %}#it-folder"></use></svg>
            {% trans "Didactic" %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab5b-tab" data-bs-toggle="tab" href="#tab5b" role="tab" aria-controls="tab5b" aria-selected="false">
            <svg class="icon"><use href="{% static 'svg/sprites.svg' %}#it-tool"></use></svg>
            {% trans "Research" %}
        </a>
    </li>
</ul>


<div class="tab-content" id="tabContent">

    <!-- Profilo -->
    <div class="tab-pane p-4 fade show active" id="profileTab" role="tabpanel" aria-labelledby="profileTab-tab">
        <div id="{{ id }}">

            <loading-icon
                v-if="is_loading"
                :loader_source="loader_source">
            </loading-icon>

            <div v-else-if="Object.keys(item).length">

                <div class="d-lg-none">
                    {% include "blocks/includes/teachers/unical_storage_teacher_contacts.html" %}
                </div>

                <ul v-if="item.TeacherFunctions && item.TeacherFunctions.length > 0">
                    <li v-for="value in item.TeacherFunctions">
                        <span style="white-space: pre-line;">
                            [[ value.TeacherRole]]
                        </span> :
                        <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ structures_prefix }}/' + value.StructureId +'/'">
                            [[ value.StructureName]]
                        </a>
                    </li>
                </ul>

                <div class="row" v-if="item.ShortBio">
                    <div class="col">
                        <span v-html="item.ShortBio"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end Profilo -->

    <!-- Bacheca -->
    <div class="tab-pane p-4 fade" id="tab2b" role="tabpanel" aria-labelledby="tab2b-tab">
        {% clean_url url as cleaned_url %}
        {% with cleaned_url|add:"/news/" as teachernews_url %}
        {% include "blocks/unical_storage_teacher_news_list.html" with url=teachernews_url uid=id|add:"_8" teacher_id=code %}
        {% endwith %}
    </div>
    <!-- end Bacheca -->

    <!-- CV -->
    <div class="tab-pane p-4 fade" id="tab3b" role="tabpanel" aria-labelledby="tab3b-tab">

        <table class="table table-striped table-hover" v-if="item.CVPathIta || item.CVPathEn">
            <tbody>
                <tr v-if="item.CVPathIta">
                    <td><b>{% trans "Uploaded CV (it)" %}</b></td>
                    <td>
                        <svg class="icon icon-xs">
                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-file-pdf-ext"></use>
                        </svg>
                        <a :href="item.CVPathIta" target="_blank">
                            {% trans "Download" %}
                        </a>
                    </td>
                </tr>
                <tr v-if="item.CVPathEn">
                    <td><b>{% trans "Uploaded CV (en)" %}</b></td>
                    <td>
                        <svg class="icon icon-xs">
                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-file-pdf-ext"></use>
                        </svg>
                        <a :href="item.CVPathEn" target="_blank">
                            {% trans "Download" %}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="{{ id }}_collapse-cv-1-lft"
             class="accordion accordion-left-icon"
             v-if="item.TeacherCVShort">
            <div class="accordion-item">
                <div class="accordion-header" id="{{ id }}_heading-cvshort-lft">
                     <button class="accordion-button"
                             type="button"
                             data-bs-toggle="collapse"
                             data-bs-target="#{{ id }}_collapse-cvshort-lft"
                             aria-expanded="false"
                             aria-controls="{{ id }}_collapse-cvshort-lft">
                        {% trans "Curriculum vitae (short)" %}
                    </button>
                </div>
                <div id="{{ id }}_collapse-cvshort-lft"
                     class="accordion-collapse collapse"
                     role="region"
                     data-bs-parent="#{{ id }}_collapse-cv-1-lft"
                     aria-labelledby="{{ id }}_heading-cvshort-lft">
                    <div class="mt-3 accordion-body">
                        <span v-if="containsHTML(item.TeacherCVShort)" v-html="item.TeacherCVShort"></span>
                        <span v-else style="white-space: pre-line;">[[ item.TeacherCVShort ]]</span>
                    </div>
                </div>
            </div>
        </div>

        <div id="{{ id }}_collapse-cv-2-lft"
             class="accordion accordion-left-icon"
             v-if="item.TeacherCVFull">
            <div class="accordion-item">
                <div class="accordion-header" id="{{ id }}_heading-cvfull-lft">
                     <button class="accordion-button"
                             type="button"
                             data-bs-toggle="collapse"
                             data-bs-target="#{{ id }}_collapse-cvfull-lft"
                             aria-expanded="false"
                             aria-controls="{{ id }}_collapse-cvfull-lft">
                        {% trans "Curriculum vitae (full)" %}
                    </button>
                </div>
                <div id="{{ id }}_collapse-cvfull-lft"
                     class="accordion-collapse collapse"
                     role="region"
                     data-bs-parent="#{{ id }}_collapse-cv-2-lft"
                     aria-labelledby="{{ id }}_heading-cvfull-lft">
                    <div class="mt-3 accordion-body">
                        <span v-if="containsHTML(item.TeacherCVFull)" v-html="item.TeacherCVFull"></span>
                        <span v-else style="white-space: pre-line;">[[ item.TeacherCVFull ]]</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end CV -->

    <!-- Didattica -->
    <div class="tab-pane p-4 fade" id="tab4b" role="tabpanel" aria-labelledby="tab4b-tab">

        <div id="{{ id }}_receptionMobile" class="d-lg-none">
            {% include "blocks/includes/teachers/unical_storage_teacher_info.html" %}
        </div>

        <!-- teacher's activities -->
        <div id="{{ id }}_collapse-3-lft" class="accordion accordion-left-icon">
            <div class="accordion-item">
                <div class="accordion-header" id="{{ id }}_heading-activities-lft">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#{{ id }}_collapse-activities-lft"
                            aria-expanded="false"
                            aria-controls="{{ id }}_collapse-activities-lft">
                        {% trans "Teachings" %}
                    </button>
                </div>
                <div id="{{ id }}_collapse-activities-lft"
                     class="accordion-collapse collapse"
                     data-bs-parent="#{{ id }}_collapse-3-lft"
                     role="region"
                     aria-labelledby="{{ id }}_heading-activities-lft">
                    <div class="mt-3 accordion-body">
                        {% storage_settings_value "CURRENT_YEAR" as current_year %}
                        {% clean_url url as cleaned_url %}
                        {% with cleaned_url|add:"/studyactivities/?year="|add:current_year as studyactivities_url %}
                        {% include "blocks/unical_storage_teacherstudyactivities.html" with url=studyactivities_url uid=id|add:"_2" %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>

        <!-- teaching materials -->
        <div id="{{ id }}_collapse-3-lft" class="accordion accordion-left-icon">
            <div class="accordion-item">
                <div class="accordion-header" id="{{ id }}_heading-materials-lft">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#{{ id }}_collapse-materials-lft"
                            aria-expanded="false"
                            aria-controls="{{ id }}_collapse-materials-lft">
                        {% trans "Teaching Materials" %}
                    </button>
                </div>
                <div id="{{ id }}_collapse-materials-lft"
                     class="accordion-collapse collapse"
                     data-bs-parent="#{{ id }}_collapse-3-lft"
                     role="region"
                     aria-labelledby="{{ id }}_heading-materials-lft">
                    <div class="mt-3 accordion-body">
                        {% clean_url url as cleaned_url %}
                        {% with cleaned_url|add:"/materials/" as teachingmaterials_url %}
                        {% include "blocks/unical_storage_teacher_materials.html" with url=teachingmaterials_url uid=id|add:"_7" %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Didattica -->

    <!-- Ricerca -->
    <div class="tab-pane p-4 fade" id="tab5b" role="tabpanel" aria-labelledby="tab5b-tab">

        <div class="table-responsive" v-if="item.ORCID" id="{{ id }}_researchFields">
            <ul style="list-style: none">
                <li>
                    <a :href="'https://orcid.org/' + [[ item.ORCID ]]" target="_blank">
                        <img src="{% static 'images/orcid.png' %}" width="100" />
                    </a>
                </li>
            </ul>
        </div>

        <!-- Laboratories -->
        {% with laboratories_api|add:"?teacher="|add:code as laboratories_url %}
        {% include "blocks/collapse/unical_storage_collapse_laboratory_list_without_any_filter.html" with url=laboratories_url uid=id|add:"_1" teacher_id=code %}
        {% endwith %}

        <!-- Publications -->
        {% clean_url url as cleaned_url %}
        {% with cleaned_url|add:"/publications/" as publications_url %}
        {% include "blocks/collapse/unical_storage_collapse_publications_list.html" with url=publications_url uid=id|add:"_3" all_years=1 %}
        {% endwith %}

        <!-- Research groups -->
        {% with research_groups_api|add:"?teacher="|add:code as research_groups_url %}
        {% include "blocks/collapse/unical_storage_collapse_research_group_list_without_any_filter.html" with url=research_groups_url uid=id|add:"_4" %}
        {% endwith %}

        <!-- Research lines -->
        {% with cleaned_url|add:"/researchlines/" as researchlines_url %}
        {% include "blocks/collapse/unical_storage_collapse_research_line_list_without_any_filter.html" with url=researchlines_url uid=id|add:"_6" %}
        {% endwith %}
    </div>
    <!-- end Ricerca -->
</div>


{% if full_page %}
    </div>
    <div class="col-12 col-lg-3 offset-lg-1 d-none d-lg-block" id="{{ id }}_datas">

        {% include "includes/unical_storage_history_back.html" %}

        <div v-if="Object.keys(item).length">
            {% include "blocks/includes/teachers/unical_storage_teacher_contacts.html" %}
        </div>

        {% include "blocks/includes/teachers/unical_storage_teacher_info.html" %}
    </div>
</div>
{% endif %}

<script>
    Vue.use(VueMarkdown);

    var {{ id }}_head = new Vue({
        el: '#{{ id }}_head',
        data() { return { item: {}, labels: {}, } },
    })

    var {{ id }}_tabList = new Vue({
        el: '#{{ id }}_tabList',
        data() { return { item: {}, labels: {}, } },
    })

    var {{ id }}_researchFields = new Vue({
        el: '#{{ id }}_researchFields',
        data() { return { item: {}, labels: {}, } },
    })

    var {{ id }}_receptionMobile = new Vue({
        el: '#{{ id }}_receptionMobile',
        data() { return { item: {}, labels: {}, } },
    })

    var {{ id }}_cv = new Vue({
        el: '#tab3b',
        data() { return { item: {}, labels: {}, } },
        methods: {
            containsHTML(s) {
                return /<\/?[a-z][\s\S]*>/i.test(s)
            },
        }
    })

    var {{ id }}_datas = new Vue({
        el: '#{{ id }}_datas',
        data() { return { item: {}, labels: {}, } },
    })

    var {{ id }} = new Vue({
        el: '#{{ id }}',
        data() {
            return {
                item: {},
                errors: {},
                labels: {},
                url: '{{ url }}?lang={{ LANGUAGE_CODE }}',
                is_loading: true,
                loader_source: '{{ url }}',
                fields_to_not_show: {{ fields_to_hide|safe }}
            }
        },
        mounted() {
            this.CallURL();
        },
        methods: {
            containsHTML(s) {
                return /<\/?[a-z][\s\S]*>/i.test(s)
            },
            CallURL() {
                axios
                    .get(this.url)
                    .then(response => {
                        this.item = response.data.results;
                        {{ id }}_head.item = response.data.results;
                        {{ id }}_tabList.item = response.data.results;
                        {{ id }}_receptionMobile.item = response.data.results;
                        {{ id }}_receptionMobile.labels = response.data.labels;
                        {{ id }}_researchFields.item = response.data.results;
                        {{ id }}_researchFields.labels = response.data.labels;
                        {{ id }}_cv.item = response.data.results;
                        {{ id }}_datas.item = response.data.results;
                        this.labels = response.data.labels;
                        {{ id }}_datas.labels = response.data.labels;
                        this.is_loading = false
                        {% if change_breadcrumb %}
                        document.getElementsByClassName("{{ breadcrumb_last }}")[0].innerHTML = this.item.TeacherFirstName.concat(" ", this.item.TeacherLastName)
                        document.title = this.item.TeacherFirstName.concat(" ", this.item.TeacherLastName)
                        {% endif %}
                    })
                    .catch(error => {
                        for (var key in error.response.data) {
                            this.errors[key] = error.response.data[key]
                        }
                        this.is_loading = false
                        document.getElementById("{{ id }}_collapse-3-lft").style.display = "none";
                    });
            }
        }
    })
</script>
