{% extends "blocks/unical_storage_cdslist_areas.html" %}

{% load unicms_storage_handler %}


{% block current_year %}
{% storage_settings_value "CURRENT_YEAR" as current_year %}
initial_academic_year: {{ id }}_get_param('academicyear') || '{{ current_year }}',
{% endblock current_year %}

{% block academic_year_select %}
{% endblock academic_year_select %}

{% block cds_area_item_link %}

{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_BASE_PATH" as cds_websites_basepath %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_REDIRECT_VIEW_PREFIX_PATH" as cds_websites_redirect_path %}
{% storage_settings_value "CMS_STORAGE_CDS_WEBSITES_PROSPECT_VIEW_PREFIX_PATH" as cds_websites_prospect_path %}

:href="'{{ cds_websites_basepath }}/' + item.CdSCod +'/{{ cds_websites_redirect_path }}/{{ cds_websites_prospect_path }}/'"

{% endblock cds_area_item_link %}
