{% extends "bases/unical_storage_list.html" %}

{% load i18n %}
{% load static %}

{% load unicms_storage_handler %}
{% load unicms_templates %}

{% block content %}

{% get_allowed_website request.get_host as host %}


{% settings_value "CMS_PATH_PREFIX" as cms_path_prefix %}
{% storage_settings_value "CMS_STORAGE_BASE_PATH" as base_prefix %}
{% storage_settings_value "CMS_STORAGE_TEACHER_NEWS_VIEW_PREFIX_PATH" as news_prefix %}
{% storage_settings_value "CMS_STORAGE_TEACHER_VIEW_PREFIX_PATH" as teacher_prefix %}

<div id="{{ id }}">
    <div v-if="(initial_items && initial_items.length) || parameters">

{#        {% block filters_teachingmaterials %}#}
{#        <div class="row">#}
{#            <div class="col-12">#}
{#                <div class="card-wrapper card-space">#}
{#                    <div class="card card-bg no-after">#}
{#                        <div class="card-body">#}
{#                            {% include "includes/unical_storage_search_input.html" with id=id %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        {% endblock filters_teachingmaterials %}#}


{#        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>#}

        <loading-icon
            v-if="is_loading"
            :loader_source="loader_source">
        </loading-icon>

        <div v-else>
{#            <div class="table-responsive">#}
{#                <table class="table table-sm table-hover table-striped">#}
{#                    <thead>#}
{#                        <tr>#}
{#                            <th scope="col">[[ labels.Title ]]</th>#}
{#                            <th scope="col">[[ labels.Text ]]</th>#}
{#                            <th scope="col">[[ labels.TextUrl ]]</th>#}
{#                            <th scope="col">[[ labels.PublicationDate ]]</th>#}
{#                        </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                        <tr v-for="item in items.results">#}
{#                            <td>[[ item.Title ]]</td>#}
{#                            <td>[[ item.Text ]]</td>#}
{#                            <td>#}
{#                                <a :href="[[ item.TextUrl ]]" target="_blank" rel="noopener noreferrer">#}
{#                                        [[ item.TextUrl ]]#}
{#                                    </a>#}
{#                            </td>#}
{#                            <td>[[ item.PublicationDate ]]</td>#}
{#                        </tr>#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}

                <div class="row">
                    <div class="col-12 col-lg-4" v-for="item in items.results">
                        <div class="card-wrapper card-space">
                            <div class="card card-bg no-after">
                                <div class="card-body">
                                    <div class="category-top">
                                        <span>{% trans "Published" %}: [[ item.PublicationDate ]]</span>
                                    </div>
                                    <h5 class="card-title">
                                        <p class="no-color" title="[[ item.Title ]]">
                                            [[ item.Title ]]
                                        </p>
                                    </h5>
                                    <p class="card-text">
                                        [[ item.Text ]]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

{#                <div class="custom-unical d-lg-none">#}
{#                    <div v-for="item in items.results">#}
{#                        <div class="card-wrapper card-space">#}
{#                            <div class="card card-bg no-after">#}
{#                                <div class="card-body">#}
{#                                    {% block mobile_item_body %}#}
{#                                    <div class="category-top">#}
{#                                        <span>{% trans "Published" %}: [[ item.PublicationDate ]]</span>#}
{#                                    </div>#}
{#                                    <h5 class="card-title">#}
{#                                        <a href="[[ item.TextUrl ]]" class="no-color" title="[[ item.Title ]]">#}
{#                                            [[ item.Title ]]#}
{#                                        </a>#}
{#                                    </h5>#}
{#                                    <p class="card-text">#}
{#                                        [[ item.Text ]]#}
{#                                    </p>#}
{#                                    {% endblock mobile_item_body %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}



{#                <p class="mt-3 ms-2 d-lg-none">#}
{#                    <a href="unical.it" class="no-color">#}
{#                        <span class="text-black fw-bold">#}
{#                            <svg class="icon me-2">#}
{#                                <use xlink:href="{% static '/svg/sprites.svg' %}#it-arrow-right-circle"></use>#}
{#                            </svg>#}
{#                            {% trans "Go to all notices" %}#}
{#                        </span>#}
{#                    </a>#}
{#                </p>#}
{#        #}


                <div class="row">
                    <div class="col">
                        <div class="mb-4">
                            <a class="no-color" :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ teacher_prefix }}/{{ teacher_id }}/{{ news_prefix }}/'" >
                                <span class="text-black fw-bold">
                                    <svg class="icon me-2">
                                        <use xlink:href="{% static '/svg/sprites.svg' %}#it-arrow-right-circle"></use>
                                    </svg>
                                    {% trans "Go to all notices" %}
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="customNavigation text-end d-none d-lg-block">
                        <span class="{{ uid }}_prev" style="cursor: pointer">
                            <span class="text-black fw-bold">
                                <svg class="icon icon-sm me-2" aria-labelledby="{{ uid }}_carousel_prev">
                                    <title id="{{ uid }}_carousel_prev">{% trans "Previous" %}</title>
                                    <use xlink:href="{% static '/svg/sprites.svg' %}#it-arrow-left-circle"></use>
                                </svg>
                            </span>
                        </span>
                        <span class="{{ uid }}_next" style="cursor: pointer">
                            <span class="text-black fw-bold">
                                <svg class="icon icon-sm me-2" aria-labelledby="{{ uid }}_carousel_next">
                                    <title id="{{ uid }}_carousel_next">{% trans "Next" %}</title>
                                    <use xlink:href="{% static '/svg/sprites.svg' %}#it-arrow-right-circle"></use>
                                </svg>
                            </span>
                        </span>
                        </div>
                    </div>
                </div>

        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>

    </div>

    <div v-else>
        {% trans "No items here" %}
    </div>

</div>
{% endblock content %}

{% block extra_scripts %}
<script>
function {{ id }}_get_form_paramenters() {
    let dict = {};

    {% comment %}

    // year
    let year = document.getElementById('{{ id }}_year_input')
    if (year && year.value) dict['year'] = year.value

    // year_to
    let year_to = document.getElementById('{{ id }}_year_to_input')
    if (year_to && year_to.value) dict['yearTo'] = year_to.value

    // year_from
    let year_from = document.getElementById('{{ id }}_year_from_input')
    if (year_from && year_from.value) dict['yearFrom'] = year_from.value
    {% endcomment %}

    setItemInSession("{{ id }}", dict)

    return dict
}

$(document).ready(function() {
    var owl_{{ uid }} = $("#carousel_{{ uid }}");

    owl_{{ uid }}.owlCarousel({
        nav : true, // Show next and prev buttons
        rewind: true,
        //loop: true,
        //slideSpeed : 300,
        //paginationSpeed : 400,
        //autoplay: true,
        //items : 4,
        //itemsDesktop : false,
        //itemsDesktopSmall : false,
        //itemsTablet: false,
        //itemsMobile : false,
        dots: false,
        margin: 12,
        //dotsEach: false,
        stagePadding: 1,

        responsive : {
            // breakpoint from 0 up
            0 : {
                items: 1
            },
            // breakpoint from 480 up
            480 : {
                items: 2
            },
            // breakpoint from 1024 up
            1024 : {
                items: 3,
            }
        }
    });
    $(".{{ uid }}_next").click(function(){
        owl_{{ uid }}.trigger('next.owl.carousel');
      })
    $(".{{ uid }}_prev").click(function(){
        owl_{{ uid }}.trigger('prev.owl.carousel');
    })
});
</script>
{% endblock extra_scripts %}

{% block extra_data %}

selected_search: this.getItemFromSession("{{ id }}", 'search'),

{% comment %}
selected_year: this.getItemFromSession("{{ id }}", 'year') || {{ id }}_get_param('year'),
selected_year_from: this.getItemFromSession("{{ id }}", 'yearFrom'),
selected_year_to: this.getItemFromSession("{{ id }}", 'yearTo'),
{% endcomment %}

{% endblock extra_data %}

{% block extra_mounted %}

this.parameters = {{ id }}_encodeQueryData(this.getItemsFromSession("{{ id }}"))


{% endblock extra_mounted %}
